<div class="breadcrumb-container">
    <div class="container">
        <nav aria-label="breadcrumb" *ngIf="account">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a routerLink="/accounts">Accounts</a>
                </li>
                <li class="breadcrumb-item">
                    <a routerLink="/accounts/{{account?.AccountID}}">
                        {{account.AccountName}}
                    </a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">
                    Add or Remove Users
                </li>
            </ol>
        </nav>
    </div>
</div>
<div class="container mt-sm-4" *ngIf="account && allUsers">
    <h2 class="d-inline-block">Add or Remove Users</h2>
    <app-alert-display></app-alert-display>

    <form (ngSubmit)="onSubmit(editAccountUsersForm)" #editAccountUsersForm="ngForm">
        <div class="row mt-4">
            <div class="col-sm-8">
                <div class="card">
                    <div class="card-body">

                        <div class="row form-group mt-4">
                            <div class="col-sm-12">
                                <p>Select user(s) to associate with this account:</p>
                                <div class="input-group">
                                    <ngx-select-dropdown class="selectUser" [multiple]="false" [config]="userDropdownConfig" name="selectedUser" [(ngModel)]="selectedUser"
                                        [options]="filteredUsers"></ngx-select-dropdown>
                                        <div class="input-group-append">
                                            <a class="btn btn-rio btn-sm addUser" (click)="addUser(selectedUser)">Add</a>
                                        </div>
                                </div>
                            </div>
                        </div>
                        <hr />
                        <div class="row">
                            <div class="col-sm-12">
                                <p>These users will be associated with the account. Click the <span class="fas fa-trash"></span> icon next to a user to remove it:</p>
                            </div>
                        </div>

                        <div class="row" *ngFor="let user of usersToSave">
                            <div class="col-sm-12">
                                <span class="fas fa-trash removeUser" (click)="removeUser(user)"></span>
                                {{user?.FullName ||  ((user?.FirstName || user?.LastName) ? (user?.FirstName + ' ' + user?.LastName) : null)}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="row mt-4">
            <div class="col-sm-2">
                <i class="fas fa-bolt"></i> Required field
            </div>
            <div class="col-sm-6 text-right">
                <button type="submit" class="btn btn-rio"
                    [disabled]="!editAccountUsersForm.form.valid || isLoadingSubmit">
                    <span *ngIf="isLoadingSubmit" class="fa fa-spinner loading-spinner"></span>
                    Submit
                </button>
                <a class="btn btn-secondary ml-1" routerLink="/accounts/{{account?.AccountID}}">Cancel</a>
            </div>
        </div>
    </form>
</div>