<div class="breadcrumb-container">
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a routerLink="/">Home</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">Parcels</li>
            </ol>
        </nav>
    </div>
</div>
<div class="container mt-sm-4">
    <app-alert-display></app-alert-display>
    <div class="row">
        <div class="col">
            <h2 class="d-inline-block">Parcels</h2>
            <div class="mt-2">
                <rio-custom-rich-text [customRichTextTypeID]="richTextTypeID"></rio-custom-rich-text>
            </div>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-sm-4 col-md-3 col-sm-pull-8 col-md-pull-9" style="overflow-y: auto;">
            <div class="card">
                <div class="card-header">
                    Selected Parcel
                </div>
                <div class="card-body">
                    <ng-container *ngIf="highlightedParcel; else selectParcel">
                        <dl class="row">
                            <dt class="text-sm-right col-sm-5 col-xs-12">APN</dt>
                            <dd class="col-sm-7 col-xs-12">
                              <a routerLink="/parcels/{{highlightedParcel.ParcelID}}">{{highlightedParcel.ParcelNumber}}</a>
                            </dd>
                          </dl>
                          <dl class="row">
                            <dt class="text-sm-right col-sm-5 col-xs-12">Area</dt>
                            <dd class="col-sm-7 col-xs-12">
                              {{highlightedParcel.ParcelAreaInAcres | number: '1.1-1'}} acres
                            </dd>
                          </dl>
                          <dl class="row">
                            <dt class="text-sm-right col-sm-5 col-xs-12">Water Account</dt>
                            <dd class="col-sm-7 col-xs-12">
                              <a *ngIf="highlightedParcel.LandOwner && highlightedParcel.LandOwner.AccountID"
                                routerLink="/accounts/{{highlightedParcel.LandOwner.AccountID}}">{{highlightedParcel.LandOwner.AccountName}}</a>
                              <span *ngIf="highlightedParcel.LandOwner && !highlightedParcel.LandOwner.AccountID">{{highlightedParcel.LandOwner.AccountName}}</span>
                              <em *ngIf="!highlightedParcel.LandOwner" class="text-muted">Not Set</em>
                            </dd>
                          </dl>
                          <div class="row">
                            <div class="col-sm-12 text-center">
                              <a class="btn btn-rio" routerLink="/landowner-dashboard/{{highlightedParcel.LandOwner.AccountNumber}}">Go to Dashboard</a>
                            </div>
                          </div>
                    </ng-container>
                    <ng-template #selectParcel>Select a Parcel from the map or the grid</ng-template>
                </div>
            </div>            
        </div>
        <div class="col-sm-8 col-md-9 col-sm-push-4 col-md-push-3">
            <div class="card">
                <div class="card-header">
                    Parcel Map
                </div>
                <div class="card-body">
                    <parcel-map *ngIf="!loadingParcels" mapID="parcelsMapForUser" [selectedParcelIDs]="selectedParcelIDs" [selectedParcelLayerName]="selectedParcelsLayerName" [(highlightedParcelID)]="highlightedParcelID" [disableDefaultClick]="true" [highlightParcelOnClick]="true" mapHeight="500px">
                    </parcel-map>
                    <div class="text-center" *ngIf="loadingParcels" [style.height]="mapHeight" [style.line-height]="mapHeight" style="background-color:#f3f3f3">
                        <span class="fa fa-spinner loading-spinner"></span> Loading Parcels for Map
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <div class="float-right">
                        <rio-water-year-select *ngIf="waterYears" class="d-inline-block" [waterYears]="waterYears" [(selectedYear)]="waterYearToDisplay"
                            (selectedYearChange)="updateGridData()"></rio-water-year-select>
                            <a class="btn btn-secondary btn-sm ml-3" style="cursor: pointer;" (click)="exportToCsv()" placement="top"
                                ngbTooltip="Download list of Parcels"><i class="fas fa-download"></i></a>
                    </div>
                    <div class="mt-2">
                        Parcel List
                    </div>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <ag-grid-angular #parcelsGrid style="width: 100%; height: 800px;" class="ag-theme-balham" [rowData]="rowData"
                            [columnDefs]="columnDefs" [pagination]="true" [paginationPageSize]="100" [rowSelection]="'single'" [suppressMenuHide]="true" (gridReady)="onGridReady($event)" (selectionChanged)="onSelectionChanged($event)" (filterChanged)="selectHighlightedParcelIDRowNode()">
                        </ag-grid-angular>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>