<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">Parcels</li>
    </ol>
</nav>
<div class="container">
    <h2 style="display: inline-block">Parcels</h2>
    <p class="lead">
        List of parcels in the system
    </p>
</div>
<div class="container mt-sm-4">
    <ag-grid-angular style="width: 100%; height: 800px;" class="ag-theme-balham" [rowData]="rowData"
        [columnDefs]="columnDefs" [pagination]="true" [paginationPageSize]="100">
    </ag-grid-angular>
</div>