<div class="breadcrumb-container">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item" aria-current="page">
        <a routerLink="/trades">Buy and Sell Water</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">
        Posting: <span *ngIf="posting">{{posting.PostingType.PostingTypeDisplayName}}
          {{posting.Quantity | number: "1.0"}} ac-ft </span>
        <span *ngIf="!posting">Loading...</span>
      </li>
    </ol>
  </nav>
</div>
<div class="container mt-sm-4">
  <h2 style="display: inline-block">
    Posting: <span *ngIf="posting">{{posting.PostingType.PostingTypeDisplayName}}
      {{posting.Quantity | number: "1.0"}} ac-ft </span>
    <span *ngIf="!posting">Loading...</span>
  </h2>
  <app-alert-display></app-alert-display>
  <div class="row" *ngIf="posting">
    <div class="col-sm-12 col-md-6">
      <div class="card">
        <div class="card-header">
          Details
        </div>
        <div class="card-body">
          <dl class="row">
            <dt class="text-sm-right col-sm-5 col-xs-12">Posting Date</dt>
            <dd class="col-sm-7 col-xs-12">
              {{posting.PostingDate | date:'short'}}
            </dd>

            <dt class="text-sm-right col-sm-5 col-xs-12">Type</dt>
            <dd class="col-sm-7 col-xs-12">
              {{posting.PostingType.PostingTypeDisplayName}}
            </dd>

            <dt class="text-sm-right col-sm-5 col-xs-12">Status</dt>
            <dd class="col-sm-7 col-xs-12">
              {{posting.PostingStatus.PostingStatusDisplayName}}
            </dd>

            <dt class="text-sm-right col-sm-5 col-xs-12">Initial Quantity</dt>
            <dd class="col-sm-7 col-xs-12">
              {{posting.Quantity | number: "1.0"}} ac-ft
            </dd>

            <dt class="text-sm-right col-sm-5 col-xs-12">Available Quantity</dt>
            <dd class="col-sm-7 col-xs-12">
              {{posting.AvailableQuantity | number: "1.0"}} ac-ft
            </dd>

            <dt class="text-sm-right col-sm-5 col-xs-12">Unit Price</dt>
            <dd class="col-sm-7 col-xs-12">
              {{posting.Price | currency: "USD" }} per ac-ft
            </dd>

            <dt class="text-sm-right col-sm-5 col-xs-12">Total Price</dt>
            <dd class="col-sm-7 col-xs-12">
              {{getTotalPrice(posting) | currency : "USD" }}
            </dd>

            <dt class="text-sm-right col-sm-5 col-xs-12">Description</dt>
            <dd class="col-sm-7 col-xs-12">
              {{posting.PostingDescription}}
            </dd>
          </dl>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-6" *ngIf="posting">
      <ng-container *ngIf="isPostingOpen()">
        <ng-container *ngIf="currentAccountSet()">
          <div class="card" *ngIf="isPostingOwner()">
            <div class="card-header">
              Your Actions
            </div>
            <div class="card-body">
              <p>This is your posting. View any offers on your dashboard.</p>
              <div class="text-center">
                <button class="btn btn-rio btn-sm mr-1" (click)="resetCurrentAccount()">Back</button>
                <a class="btn btn-rio btn-sm mr-1" routerLink="/landowner-dashboard/{{currentAccount.AccountNumber}}">Go to Dashboard</a>
                <button class="btn btn-rio btn-sm" (click)="closePosting()">Close Posting</button>
              </div>
            </div>
            <div class="card-body" *ngIf="!isPostingOpen()">
              <p>Your posting is closed. No further actions are allowed.</p>
            </div>
          </div>

          <div class="card"
            *ngIf="model && offersSet() && isPostingOpen() && !isPostingOwner() && !isConfirmingTrade && !isCounterOffering && !offerSubmittedSuccessfully">
            <div class="card-header">
              Your Offer
            </div>
            <div class="card-body">
              <dl class="row">
                <dt class="text-sm-right col-sm-5 col-xs-12">Water Account</dt>
                <dd class="col-sm-7 col-xs-12">
                  <span>{{currentAccount.AccountName}}</span>
                </dd>

                <dt class="text-sm-right col-sm-5 col-xs-12">Purchase Quantity</dt>
                <dd class="col-sm-7 col-xs-12">
                  <span>{{model.Quantity | number: "1.0"}} ac-ft</span>
                </dd>

                <dt class="text-sm-right col-sm-5 col-xs-12">Unit Price</dt>
                <dd class="col-sm-7 col-xs-12">
                  <span>{{model.Price | currency: "USD" }} per ac-ft</span>
                </dd>

                <dt class="text-sm-right col-sm-5 col-xs-12">Total Price</dt>
                <dd class="col-sm-7 col-xs-12">
                  {{getTotalPrice(model) | currency : "USD" }}
                </dd>
              </dl>
              <div class="text-center">
                <button class="btn btn-rio btn-sm mr-1" (click)="resetCurrentAccount()">Back</button>
                <button class="btn btn-rio btn-sm mr-1" *ngIf="offers.length == 0" (click)="acceptCurrentOffer()">Accept
                  Offer</button>
                <button class="btn btn-rio btn-sm mr-1" (click)="isCounterOffering = true"
                  *ngIf="!isPendingOffer()">Make Counter
                  Offer</button>
                <button class="btn btn-rio btn-sm" (click)="rescindOffer()" *ngIf="isPendingOffer()">Rescind
                  Offer</button>
              </div>
            </div>
          </div>

          <div class="card" *ngIf="offerSubmittedSuccessfully">
            <div class="card-header">
              Your Offer
            </div>
            <div class="card-body">
              <p>Offer successfully submitted, no further actions needed.</p>
              <p *ngIf="offerAccepted()">To complete this transaction, click 'Register Transfer'.</p>
              <div class="text-center">
                <a class="btn btn-rio btn-sm mr-1 mb-1" *ngIf="successfulOfferDto"
                  routerLink="/trades/{{successfulOfferDto.Trade.TradeNumber}}/{{currentAccount.AccountID}}">View Trade Details</a>
                <a *ngIf="offerAccepted()" class="btn btn-rio btn-sm mb-1 mr-1"
                  routerLink="/register-transfer/{{successfulOfferDto.WaterTransferID}}/{{currentAccount.AccountID}}">Register Transfer</a>
                <a class="btn btn-rio btn-sm mr-1 mb-1" routerLink="/trades">View Postings List</a>
              </div>
            </div>
          </div>

          <div class="card" *ngIf="isCounterOffering && !isConfirmingTrade">
            <div class="card-header">
              Your Offer
            </div>
            <div class="card-body">
              <dl class="row">
                <dt class="text-sm-right col-sm-5 col-xs-12">Water Account</dt>
                <dd class="col-sm-7 col-xs-12">
                  <span>{{currentAccount.AccountName}}</span>
                </dd>

                <dt class="text-sm-right col-sm-5 col-xs-12">{{offerType}} Quantity</dt>
                <dd class="col-sm-7 col-xs-12">
                  <div class="input-group">
                    <input type="number" class="form-control" name="Quantity" required [(ngModel)]="model.Quantity"
                      min="1" step="1" />
                    <div class="input-group-append">
                      <span class="input-group-text"> ac-ft</span>
                    </div>
                  </div>
                </dd>

                <dt class="text-sm-right col-sm-5 col-xs-12">Unit Price</dt>
                <dd class="col-sm-7 col-xs-12">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">$</span>
                    </div>
                    <input type="number" class="form-control" name="Price" required [(ngModel)]="model.Price" min="1"
                      step=".01" />
                    <div class="input-group-append">
                      <span class="input-group-text"> per ac-ft</span>
                    </div>
                  </div>
                </dd>

                <dt class="text-sm-right col-sm-5 col-xs-12">Total Price</dt>
                <dd class="col-sm-7 col-xs-12">
                  {{getTotalPrice(model) | currency : "USD" }}
                </dd>

                <dt class="text-sm-right col-sm-5 col-xs-12">Notes</dt>
                <dd class="col-sm-7 col-xs-12">
                  <textarea class="form-control" name="OfferNotes" style="height: 200px"
                    [(ngModel)]="model.OfferNotes"></textarea>
                </dd>
              </dl>
              <div class="text-center">
                <button class="btn btn-rio btn-sm mr-1" (click)="isConfirmingTrade = true"
                  [disabled]="!isOfferFormValid()">Present Counter
                  Offer</button>
                <button class="btn btn-rio btn-sm" (click)="cancelCounterOffer()">Cancel</button>
              </div>
            </div>
          </div>
          <div class="card" *ngIf="isConfirmingTrade">
            <div class="card-header">
              Confirm Your Offer
            </div>
            <div class="card-body">
              <p *ngIf="!isRescindingTrade && !isRejectingTrade && !isCounterOffering">Please confirm your intent to
                execute
                this trade agreement.<br />
                <strong>This action is final</strong> and obligates you to complete the financial
                transaction according to the quantity and price specified here. You will receive email confirmation of
                the
                pending trade, including the contact information of the other party. After the financial transaction is
                complete
                and acknowledged by both parties your annual water supply will be adjusted accordingly.</p>
              <p *ngIf="isRescindingTrade">Please confirm you wish to rescind your current offer.</p>
              <p *ngIf="isRejectingTrade">Please confirm you wish to reject further negotiations. You will no longer be
                able
                to respond to the current Trade. You can however initiate new trades from the Postings page.</p>
              <p *ngIf="isCounterOffering">Please confirm details of your counter-offer. The counter-offer will be
                presented
                to the {{counterOfferRecipientType}}, who will have up to 5 days to review your offer.</p>
              <dl class="row">
                <dt class="text-sm-right col-sm-5 col-xs-12">Water Account</dt>
                <dd class="col-sm-7 col-xs-12">
                  <span>{{currentAccount.AccountName}}</span>
                </dd>

                <dt class="text-sm-right col-sm-5 col-xs-12">{{offerType}} Quantity</dt>
                <dd class="col-sm-7 col-xs-12">
                  <span>{{model.Quantity | number: "1.0"}} ac-ft</span>
                </dd>

                <dt class="text-sm-right col-sm-5 col-xs-12">Unit Price</dt>
                <dd class="col-sm-7 col-xs-12">
                  <span>{{model.Price | currency: "USD" }} per ac-ft</span>
                </dd>

                <dt class="text-sm-right col-sm-5 col-xs-12">Total Price</dt>
                <dd class="col-sm-7 col-xs-12">
                  {{getTotalPrice(model) | currency : "USD" }}
                </dd>
              </dl>
              <div class="text-center">
                <button class="btn btn-rio btn-sm mr-1" (click)="confirmTrade()" [disabled]="isLoadingSubmit">
                  <span *ngIf="isLoadingSubmit" class="fa fa-spinner loading-spinner"></span>
                  Confirm
                </button>
                <button class="btn btn-rio btn-sm" (click)="cancelConfirmation()">Cancel</button>
              </div>
            </div>
          </div>
        </ng-container>
        <div class="card" *ngIf="!currentAccountSet()">
          <div class="card-header">
            Respond to Offer
          </div>
          <div class="card-body">
            <p>Select a Water Account to view your options to respond to this posting</p>
            <div class="row">
              <div class="col-12" *ngIf="landownerHasAnyAccounts()">
                <div class="row">
                  <dt class="text-sm-right col-sm-5 col-xs-12">Water Account</dt>
                  <dd class="col-sm-7 col-xs-12">
                    <select class="form-control" [(ngModel)]="currentAccount" required>
                      <option [ngValue]="undefined" disabled>Select an Account</option>
                      <option *ngFor="let account of currentUserAccounts" [ngValue]="account">
                        {{account.AccountName}}
                      </option>
                    </select>
                  </dd>
                  <div class="col-12">
                    <button class="btn btn-rio btn-sm float-right" (click)="getOffersForCurrentAccount()"
                      [disabled]="currentAccount == null || currentAccount == undefined">Continue</button>
                  </div>
                </div>
              </div>
              <div class="col-sm-12">
                <div class="alert alert-primary text-left" *ngIf="!landownerHasAnyAccounts()">
                  You do not have any assigned accounts and cannot make any offers on this post.
                </div>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
      <div class="card" *ngIf="!isPostingOpen()">
        <div class="card-header">
          Your Actions
        </div>
        <div class="card-body">
          <p>This posting is closed. No further actions are allowed.</p>
          <div class="text-center">
            <a class="btn btn-rio btn-sm mr-1 mb-1" routerLink="/trades">View Postings List</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>