!obj/Docker/empty/
!obj/Docker/publish/*
**/*.dbmdl
**/*.jfm
**/.vs
**/.vs/
**/.vs/*
**/.vs/**
*/.vs
*/.vs/
*/.vs/*
*/bin
*/obj
.dockerignore
.env
.git
.gitignore
.vs
.vs/
.vs/*
.vs/Rio.Web/v15/Server/sqlite3/db.lock
.vscode
Dockerfile
Rio.Web/.vs
Rio.Web/.vs/
Rio.Web/.vs/*
Rio.Web/node_modules
bin
docker-compose.*.yml
docker-compose.yml
node_modules
obj
tools
