<div class="breadcrumb-container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item" aria-current="page">
                <a routerLink="/user-messages">Messages</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
                New
            </li>
        </ol>
    </nav>
</div>
<div class="container">
    <h2>New Message</h2>
</div>
<div class="container mt-sm-4" *ngIf="model">
    <app-alert-display></app-alert-display>
    <form (ngSubmit)="onSubmit(newMessageForm)" #newMessageForm="ngForm">
        <div class="row">
            <div class="col-sm-12">
                <div class="form-horizontal">
                    <div class="form-group">
                        <div class="col-sm-2 control-label">

                            <label class="required">Recipient</label>
                        </div>
                        <div class="col-sm-10">
                            <select name="RecipientUserID" class="form-control" [(ngModel)]="model.RecipientUserID" required>
                                <option value=""></option>
                                <option *ngFor="let user of users" [value]="user.UserID">
                                    {{user.FullName}}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-2 control-label">
                            <label class="required">Message</label>
                        </div>
                        <div class="col-sm-10">
                            <textarea class="form-control" name="Message" required
                                [(ngModel)]="model.Massage"></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <hr />
            <div class="col-xs-12 col-sm-2">
                <i class="fas fa-bolt"></i> Required field
            </div>
            <div class="col-xs-12 col-sm-10 text-right">
                <button type="submit" class="btn btn-rio"
                    [disabled]="isLoadingSubmit">
                    <span *ngIf="isLoadingSubmit" class="fa fa-spinner loading-spinner"></span>
                    Send Message
                </button>
                <a class="btn btn-secondary ml-1" routerLink="/user-messages">Cancel</a>
            </div>
        </div>
    </form>
</div>