<div class="breadcrumb-container">
  <div class="container">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a routerLink="/">Home</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">Manager Dashboard</li>
      </ol>
    </nav>
  </div>
</div>
<div class="container mt-sm-4" *ngIf="currentUser">

  <app-alert-display></app-alert-display>

  <div class="row">
    <div class="col-sm-6">
      <h2 class="d-inline-block">
        Manager Dashboard
      </h2>
    </div>
    <div class="col-sm-6 text-right">
      <a *ngIf="isAdministrator()" class="btn btn-rio btn-sm mt-1" routerLink="/parcels/set-water-allocation">Set Water
        Allocation</a>
      <div class="float-right pl-2" *ngIf="waterYears">
        <rio-water-year-select [waterYears]="waterYears" [(selectedYear)]="waterYearToDisplay"
          (selectedYearChange)="updateAnnualData()"></rio-water-year-select>
      </div>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col-sm-12 col-md-5">
      <div class="card">
        <div class="card-header">
          <div class="btn-group btn-group-toggle float-right">
            <label class="btn btn-toggle btn-sm btn-rio" [ngClass]="unitsShown === 'ac-ft' ? 'active' : ''"
              style="width:65px;">
              <input type="radio" name="units" id="ac-ft" (click)="toggleUnitsShown('ac-ft')"> ac-ft
            </label>
            <label class="btn btn-toggle btn-sm btn-rio" [ngClass]="unitsShown === 'ac-ft / ac' ? 'active' : ''">
              <input type="radio" name="units" id="ac-ft/ac" (click)="toggleUnitsShown('ac-ft / ac')"> ac-ft/ac
            </label>
          </div>
          <span class="align-middle"> District-Wide Statistics </span>
        </div>
        <div class="card-body" style="position:relative" *ngIf="parcelAllocationAndUsages">
          <table class="table table-sm table-borderless">
            <tr>
              <th class="text-sm-left pb-0 mb-0">
                Total Allocation
              </th>
              <td class="text-sm-right pb-0 mb-0">
                {{getAnnualAllocation(false) | number: '1.1-1'}} {{unitsShown}}
              </td>
            </tr>
            <tr>
              <td colspan="2">
                <hr class="p-0 m-0" />
              </td>
            </tr>
            <ng-container *ngFor="let batch of getParcelAllocationTypesBatched()">
              <tr *ngFor="let allocationType of batch">
                <th class="text-sm-right">
                  {{allocationType.ParcelAllocationTypeName}}
                  <a routerLink="/glossary" target="_blank" style="cursor:pointer" placement="top"
                      ngbTooltip="Learn about {{allocationType.ParcelAllocationTypeName}}"><i
                        class="fas fa-question-circle small"></i></a>
                </th>
                <td class="text-sm-right">
                  {{getAnnualAllocationByAllocationType(allocationType) | number: '1.1-1'}} {{unitsShown}}
                </td>
              </tr>
            </ng-container>
            <tr>
              <td colspan="2">
                <hr style="border: 1px solid #000;" />
              </td>
            </tr>
            <tr>
              <th class="text-sm-left pb-0 mb-0">
                Total Usage
              </th>
              <td class="text-sm-right pb-0 mb-0">
                {{getAnnualUsage() | number: '1.1-1'}} {{unitsShown}}
              </td>
            </tr>
            <tr>
              <th class="text-sm-left pb-0 mb-0">
                Average Annual Usage
              </th>
              <td class="text-sm-right pb-0 mb-0">
                {{getResultInUnitsShown(historicAverageAnnualUsage) | number: '1.1-1'}} {{unitsShown}}
              </td>
            </tr>
          </table>
          <div class="updating" *ngIf="loadingParcelAllocationsAndUsages">
            <div class="updating-text">
                <span class="fa fa-spinner loading-spinner"></span>
            </div>
          </div>  
        </div>
        <div class="card-body text-center" *ngIf="!parcelAllocationAndUsages">
          <i class="fa fa-spinner loading-spinner"></i>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-7">
      <div class="row">
        <div class="col-sm-12">
          <div class="card">
            <div class="card-header">
              {{waterYearToDisplay?.Year}} District Allocation and Usage
              <a routerLink="/measuring-water-use-with-openet" target="_blank" style="cursor:pointer" placement="top"
                ngbTooltip="Learn how water usage is measured" onmouseenter="$(this).tooltip('show')"><i
                  class="fas fa-question-circle small"></i>
              </a>
            </div>
            <div class="card-body" style="position:relative" *ngIf="annualAllocationChartData && waterUsageOverview">
              <rio-landowner-water-allocation-chart [allocationLabel]="allocationLabel"
                [annualAllocationSeries]="getAnnualAllocationSeries()" [yDomain]="allocationChartRange"
                [historicCumulativeWaterUsage]="historicCumulativeWaterUsage"
                [currentCumulativeWaterUsage]="getCumulativeWaterUsageForWaterYear()">
              </rio-landowner-water-allocation-chart>
              <div class="updating" *ngIf="loadingParcelAllocationsAndUsages">
                <div class="updating-text">
                    <span class="fa fa-spinner loading-spinner"></span>
                </div>
              </div>  
            </div>
            <div class="card-body text-center" *ngIf="!annualAllocationChartData || !waterUsageOverview">
              <i class="fa fa-spinner loading-spinner"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header">
          <div class="row">
            <div class="col">
              <span class="align-middle">Account Usage Report</span>
              <a class="float-right btn btn-secondary btn-sm" style="cursor: pointer;"
                (click)="exportLandOwnerUsageReportToCsv()" placement="top"
                ngbTooltip="Download Account Usage Report"><i class="fas fa-download"></i></a>
                <a class="float-right btn-rio btn btn-sm mr-2" routerLink="/accounts">View All Accounts</a>
            </div>
          </div>
        </div>
        <div class="card-body table-responsive" *ngIf="parcels">
          <ag-grid-angular #landOwnerUsageReportGrid style="width: 100%; height: 300px;" class="ag-theme-balham"
            [columnDefs]="landownerUsageReportGridColumnDefs" [pagination]="true" [paginationPageSize]="100" [suppressMenuHide]="true">
          </ag-grid-angular>
        </div>
        <div class="card-body text-center" *ngIf="!parcels">
          <i class="fa fa-spinner loading-spinner"></i>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-4" *ngIf="allowTrading()">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header">
          <div class="row">
            <div class="col-sm-7">
              Trade Activity
            </div>
            <div class="col-sm-5">
              <a class="float-right btn btn-secondary btn-sm" style="cursor: pointer;"
                (click)="exportTradeActivityToCsv()"><i class="fas fa-download"></i></a>
            </div>
          </div>
        </div>
        <div class="card-body table-responsive" *ngIf="tradeActivity">
          <div *ngIf="!displayTradeGrid">
            No trade activity to display for {{waterYearToDisplay.Year}}. Change the viewing year at the top of the Manager
            Dashboard to view postings for other years.
          </div>
          <ag-grid-angular #tradeActivityGrid *ngIf="displayTradeGrid" style="width: 100%; height: 300px;"
            class="ag-theme-balham" [columnDefs]="tradesGridColumnDefs" [pagination]="true" [paginationPageSize]="100" [suppressMenuHide]="true">
          </ag-grid-angular>
        </div>
        <div class="card-body text-center" *ngIf="!tradeActivity">
          <i class="fa fa-spinner loading-spinner"></i>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-4" *ngIf="allowTrading()">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header">
          <div class="row">
            <div class="col-sm-7">
              Postings
            </div>
            <div class="col-sm-5">
              <a class="float-right btn btn-secondary btn-sm" style="cursor: pointer;"
                (click)="exportPostingsToCsv()"><i class="fas fa-download"></i></a>
            </div>
          </div>
        </div>
        <div class="card-body table-responsive" *ngIf="postingActivity">
          <div *ngIf="!displayPostingsGrid">
            No postings to display for {{waterYearToDisplay.Year}}. Change the viewing year at the top of the Manager
            Dashboard to view postings for other years.
          </div>
          <ag-grid-angular *ngIf="displayPostingsGrid" #postingsGrid style="width: 100%; height: 300px;"
            class="ag-theme-balham" [columnDefs]="postingsGridColumnDefs" [pagination]="true"
            [paginationPageSize]="100" [suppressMenuHide]="true">
          </ag-grid-angular>
        </div>
        <div class="card-body text-center" *ngIf="!postingActivity">
          <i class="fa fa-spinner loading-spinner"></i>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-sm-4">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header">
          Parcels
          <a class="float-right btn-rio btn btn-sm" routerLink="/parcels">View All Parcels</a>
        </div>
        <div class="card-body table-responsive" *ngIf="parcels">
          <parcel-map mapID="parcelsMap" [selectedParcelIDs]="getSelectedParcelIDs()"
            [selectedParcelLayerName]="selectedParcelsLayerName" mapHeight="600px">
          </parcel-map>
        </div>
        <div class="card-body text-center" *ngIf="!parcels">
          <i class="fa fa-spinner loading-spinner"></i>
        </div>
      </div>
    </div>
  </div>
</div>