<div class="container mt-sm-4" *ngIf="currentUser">
  <div class="float-right">
    <div class="row">
      <div class="col-md-7" style="white-space: nowrap">Showing data for year </div>
      <div class="col-md-5">
        <select class="form-control" [(ngModel)]="waterYearToDisplay">
          <ng-template ngFor let-waterYear [ngForOf]="waterYears">
            <option value="{{waterYear}}">{{waterYear}}</option>
          </ng-template>
        </select>
      </div>
    </div>
  </div>
  <h2>
    Manager Dashboard - {{currentUser.FullName}}
  </h2>
  <app-alert-display></app-alert-display>


  <div class="row mt-4">

    <div class="col-sm-12" *ngIf="trades">
      <div class="card">
        <div class="card-header">
          <div class="float-right">
            <label class="switch">
              <input type="checkbox" (change)="toggleTradeStatusShown()" />
              <div class="slider round">
                <span class="off">Open</span>
                <span class="on">All</span>
              </div>
            </label>
          </div>
          Trade Activity
        </div>
        <div class="card-body table-responsive" style="max-height: 600px; overflow-y:scroll">
          <p *ngIf="getTradesForWaterYear().length === 0">{{getNoTradesMessage()}}</p>
          <table class="table table-condensed table-striped" *ngIf="getTradesForWaterYear().length > 0">
            <thead>
              <tr>
                <th>Date</th>
                <th>Posted By</th>
                <th>Status</th>
                <th>Description</th>
                <th style="text-align: right">Price</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let trade of getTradesForWaterYear()">
                <td style="border: 0 none"><a routerLink="/trades/{{trade.TradeID}}">{{ trade.OfferDate | date:"short" }}</a></td>
                <td>{{trade.OfferCreateUser.FullName}}</td>
                <td style="border: 0 none; white-space: nowrap">
                  <span *ngIf="trade.WaterTransferID && !trade.IsConfirmed">Awaiting Payment Confirmation</span>
                  <span *ngIf="!trade.WaterTransferID || trade.IsConfirmed">{{getTradeStatus(trade)}}</span></td>
                <td style="border: 0 none">{{getTradeDescription(trade)}}</td>
                <td style="border: 0 none; white-space: nowrap; text-align: right">
                  {{ trade.Price * trade.Quantity | currency: "USD" }}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-sm-4" *ngIf="parcels">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header">
          Parcels
        </div>
        <div class="card-body table-responsive">
          <parcel-map mapID="parcelsMap" [selectedParcelIDs]="getSelectedParcelIDs()" mapHeight="600px">
          </parcel-map>
        </div>
      </div>
    </div>
  </div>
</div>