<div class="container mt-sm-4" *ngIf="currentUser">
  <div style="margin: 1rem 0 1rem 0;">
    <a class="float-right btn btn-primary btn-sm mr-3" routerLink="/parcels/bulk-set-allocation">Set Allocation for All
      Parcels</a>
  </div>
  <h2 style="display: inline-block;">
    Manager Dashboard - {{currentUser.FullName}}
  </h2>
  <app-alert-display></app-alert-display>

  <div class="row mt-4">
    <div class="col-sm-12" *ngIf="trades">
      <div class="card">
        <div class="card-header">
          <div class="row">
            <div class="col-sm-7">
              Landowner Usage Report
            </div>
            <div class="col-sm-5">
              <div class="row">
                <div class="col-sm-3 offset-sm-4 text-right">
                  Year
                </div>
                <div class="col-sm-3">
                  <select [(ngModel)]="waterYearToDisplay" (change)="updateLandownerUsageReportData()"
                    class="form-control">
                    <option *ngFor="let waterYear of waterYears" value="{{waterYear}}">{{waterYear}}</option>
                  </select>
                </div>
                <div class="col-sm-2 text-right">
                  <a class="btn btn-secondary btn-sm" (click)="exportLandOwnerUsageReportToCsv()"><i
                      class="fas fa-download"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card-body table-responsive">
          <ag-grid-angular #landOwnerUsageReportGrid style="width: 100%; height: 300px;" class="ag-theme-balham"
            [rowData]="landownerUsageReports" [columnDefs]="landownerUsageReportGridColumnDefs" [pagination]="true"
            [paginationPageSize]="100">
          </ag-grid-angular>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-sm-12" *ngIf="trades">
      <div class="card">
        <div class="card-header">
          <div class="row">
            <div class="col-sm-7">
              Trade Activity
            </div>
            <div class="col-sm-5">
              <a class="float-right btn btn-secondary btn-sm" (click)="exportTradeActivityToCsv()"><i
                  class="fas fa-download"></i></a>
            </div>
          </div>
        </div>
        <div class="card-body table-responsive">
          <ag-grid-angular #tradeActivityGrid style="width: 100%; height: 300px;" class="ag-theme-balham"
            [rowData]="trades" [columnDefs]="tradesGridColumnDefs" [pagination]="true" [paginationPageSize]="100">
          </ag-grid-angular>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-sm-12" *ngIf="postings">
      <div class="card">
        <div class="card-header">
          <div class="row">
            <div class="col-sm-7">
              Postings
            </div>
            <div class="col-sm-5">
              <a class="float-right btn btn-secondary btn-sm" (click)="exportPostingsToCsv()"><i
                  class="fas fa-download"></i></a>
            </div>
          </div>
        </div>
        <div class="card-body table-responsive">
          <ag-grid-angular #postingsGrid style="width: 100%; height: 300px;" class="ag-theme-balham"
            [rowData]="postings" [columnDefs]="postingsGridColumnDefs" [pagination]="true" [paginationPageSize]="100">
          </ag-grid-angular>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-sm-4" *ngIf="parcels">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header">
          Parcels
        </div>
        <div class="card-body table-responsive">
          <parcel-map mapID="parcelsMap" [selectedParcelIDs]="getSelectedParcelIDs()" mapHeight="600px">
          </parcel-map>
        </div>
      </div>
    </div>
  </div>
</div>