Hotfixes
/Source/Rio.GeoServer/data_dir/.updatepassword.lock
/Source/Rio.GeoServer/data_dir/controlflow.properties
/Source/Rio.GeoServer/data_dir/csw/MD_Metadata.properties
/Source/Rio.GeoServer/data_dir/csw/Record.properties
/Source/Rio.GeoServer/data_dir/global.xml
/Source/Rio.GeoServer/data_dir/gwc-gs.xml
/Source/Rio.GeoServer/data_dir/gwc-layers/LayerInfoImpl--18630a05_16eebb97b3c_-64ce.xml
/Source/Rio.GeoServer/data_dir/gwc/geowebcache.xml
/Source/Rio.GeoServer/data_dir/gwc/metadata.properties
/Source/Rio.GeoServer/data_dir/logging.xml
/Source/Rio.GeoServer/data_dir/printing/config.yaml
/Source/Rio.GeoServer/data_dir/wps.xml
/Source/_ReSharper.Caches

Source/Rio.Web/src/assets/config.json
Source/Rio.GeoServer/localhost-rsa.jks
Source/Rio.GeoServer/data_dir/gwc-layers/*
Source/Rio.GeoServer/docker_compose.localhost.yml
/Source/Rio.Web/src/assets/config.edf.json.template
/Source/Rio.Web/src/assets/config.rio.json.template
Source/Rio.Web/src/assets/test.png
/Source/docker-compose/.env.edf
Source/docker-compose/.env.rio
