.vs
bin
obj
*.dbmdl
*.jfm

*.env
*.user

Hotfixes
/_ReSharper.Caches

docker-compose/.env.edf
docker-compose/.env.rio
Rio.GeoServer/data_dir/.updatepassword.lock
Rio.GeoServer/data_dir/geoserver-environment.properties
Rio.GeoServer/data_dir/logs/*.log
Rio.GeoServer/data_dir/security/*
Rio.API/.config
Rio.API/appsecrets.json
Rio.API/sitka.localhost.rootca.crt
Rio.Web/src/assets/config.json
Rio.Web/src/assets/config.edf.json.template
Rio.Web/src/assets/config.rio.json.template
Rio.Web/src/assets/config.edf.json
Rio.Web/src/assets/config.rio.json
Rio.Web/openapitools.json
Rio.Web/wwwroot/
/Build/*.ini
/Build/temp
