/****** Object:  Table [dbo].[recharge_basins]    Script Date: 4/13/2020 1:33:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[recharge_basins](
	[objectid_1] [int] IDENTITY(1,1) NOT NULL,
	[Shape] [geometry] NULL,
	[objectid] [int] NULL,
	[b_name] [nvarchar](50) NULL,
	[recharge] [float] NULL,
	[rech_day] [int] NULL,
	[acres] [int] NULL,
	[capacity] [int] NULL,
	[cost] [int] NULL,
	[cost_pw] [int] NULL,
	[shape_leng] [float] NULL,
	[group_] [int] NULL,
	[name] [nvarchar](50) NULL,
	[shape_length] [float] NULL,
	[shape_area] [float] NULL,
 CONSTRAINT [PK_recharge_basins] PRIMARY KEY CLUSTERED 
(
	[objectid_1] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[recharge_basins] ON 

SET IDENTITY_INSERT [dbo].[recharge_basins] OFF

create table 
dbo.ScenarioRechargeBasin  (
	ScenarioRechargeBasinID int not null constraint PK_ScenarioRechargeBasin_ScenarioRechargeBasinID primary key,
	ScenarioRechargeBasinGeometry geometry not null,
	ScenarioRechargeBasinDisplayName varchar(100) not null,
	ScenarioRechargeBasinAcres int not null,
	ScenarioRechargeBasinCapacity int not null,
	ScenarioRechargeBasinName varchar(100) not null,
	constraint AK_ScenarioRechargeBasin_ScenarioRechargeBasinDisplayName_ScenarioRechargeBasinName unique (ScenarioRechargeBasinDisplayName, ScenarioRechargeBasinName)
)

insert into dbo.ScenarioRechargeBasin
select rb.objectid, rb.Shape, rb.b_name, rb.acres, rb.capacity, rb.[name]
from dbo.recharge_basins rb

drop table dbo.recharge_basins
