.removeAccount{
    cursor: pointer;
}

.input-group-append .btn-rio{
    color:white;
}

.selectAccount{
    width:80%
}

.addAccount{
    cursor: pointer;
}

.ngx-dropdown-container .ngx-dropdown-button{
    border-bottom-right-radius: 0px !important;
    border-top-right-radius: 0px !important;
}