<div class="breadcrumb-container">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item" aria-current="page">
          <a routerLink="/manager-dashboard">Manager Dashboard</a>
        </li>
        <li class="breadcrumb-item" aria-current="page">
          <a routerLink="/parcels/create-water-transactions">Create Water Transactions</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">
          Upload Spreadsheet
        </li>
      </ol>
    </nav>
  </div>
  <div class="container mt-sm-4">
    <app-alert-display></app-alert-display>
    <h2 class="d-inline-block">
      Upload Spreadsheet
    </h2>
    <div class="card card-body mt-2 mb-5">
      <rio-custom-rich-text [customRichTextTypeID]="richTextTypeID"></rio-custom-rich-text>
    </div>
    <form (ngSubmit)="onSubmit(createTransactionFromSpreadsheetForm)" #createTransactionFromSpreadsheetForm="ngForm">
      <div class="row align-items-center">
          <div class="col-sm-3 control-label text-sm-right">
              <label class="required">Supply Type</label>
          </div>
          <div class="col-sm-5">
              <select name="water-type" class="form-control" [(ngModel)]="waterTypeID">
              <option disabled selected hidden></option>
              <option *ngFor="let waterType of waterTypes" [value]="waterType.WaterTypeID">
                  {{waterType.WaterTypeName}}
              </option>
              </select>
          </div>
      </div>
      <div class="row mt-3 align-items-center">
          <div class="col-sm-3 control-label text-sm-right">
            <label class="required">Effective Date</label>
          </div>
          <div class="col-sm-5">
            <div class="input-group">
              <input class="form-control" placeholder="yyyy-mm-dd" name="dp"
                ngbDatepicker #d="ngbDatepicker" [(ngModel)]="effectiveDate" required>
              <div class="input-group-append">
                <button class="btn btn-secondary far fa-calendar" (click)="d.toggle()" type="button"></button>
              </div>
            </div>
          </div>
      </div>
      <div class="row mt-3 align-items-center">
        <div class="col-sm-3 control-label text-sm-right">
            <label class="required">Select File</label>
        </div>
        <div class="col-sm-5 input-group">
          <div class="custom-file">
              <input type="file" id="CSV-upload" class="form-control custom-file-input" (change)="onCSVFileChange($event)">
              <label for="CSV-upload"
                class="custom-file-label">{{inputtedFile ? this.inputtedFile.name : "No file chosen..."}}
              </label>
          </div>
          <div class="input-group-append">
            <button type="button" class="btn btn-secondary fas fa-folder-open" (click)="onClickFileInput()"></button>
          </div>
        </div>
        <div class="col-md-4">
          <div class="float-left"><i class="fas fa-info-circle p-2" aria-hidden="true"></i></div>
          <div class="font-italic font-weight-light">Accepted File Types: CSV</div>
        </div>
      </div>
      <div class="row mt-5">
        <div class="col-sm-2">
          <i class="fas fa-bolt"></i> Required field
        </div>
        <div class="col-sm-8 text-right">
            <button type="submit" class="btn btn-rio" [disabled]="isLoadingSubmit">
            <span *ngIf="isLoadingSubmit" class="fa fa-spinner loading-spinner"></span>
            Save
            </button>
            <a class="btn btn-secondary ml-1" routerLink="/parcels/create-water-transactions">Cancel</a>
        </div>
      </div>
    </form>
  </div>