<div class="breadcrumb-container">
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item" aria-current="page">
                    <a routerLink="/manager-dashboard">Manager Dashboard</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">
                    Configure Water Types
                </li>
            </ol>
        </nav>
    </div>
</div>
<div class="container mt-sm-4">
    <div class="row">
        <div class="col">
            <h2>
                Configure Water Types
            </h2>
        </div>
    </div>
    <app-alert-display></app-alert-display>
    <div class="row mt-2">
        <div class="col">
            <rio-custom-rich-text [customRichTextTypeID]="richTextTypeID"></rio-custom-rich-text>
        </div>
    </div>
    <form (ngSubmit)="onSubmit(editParcelAllocationTypesForm)" #editParcelAllocationTypesForm="ngForm">
        <div class="row mt-4">
            <table class="table table-responsive table-condensed">
                <thead>
                    <th></th>
                    <th>Name</th>
                    <th>Allocation Method</th>
                    <th style="width:35%">Definition</th>
                </thead>
                <tbody>
                    <tr *ngFor="let parcelAllocationType of parcelAllocationTypes; let i = index">
                        <td>
                            <i class="fas fa-trash deleteParcelAllocationType" title="Delete water type"
                                (click)="deleteParcelAllocationType(parcelAllocationType)"></i>
                        </td>
                        <td>
                            <input type="text" class="form-control"
                                [(ngModel)]="parcelAllocationType.ParcelAllocationTypeName"
                                name="ParcelAllocationTypeName[{{i}}]" required/>
                        </td>
                        <td>
                            <select class="form-control" name="ParcelAllocationTypeIsAppliedProportionally[{{i}}]" [(ngModel)]="parcelAllocationType.IsAppliedProportionally" required>
                                <option [value]="true">Apply proportionally to parcel area</option>
                                <option [value]="false">Upload a spreadsheet</option>
                            </select>
                        </td>
                        <td>
                            <textarea class="form-control" rows="4" [(ngModel)]="parcelAllocationType.ParcelAllocationTypeDefinition" name="ParcelAllocationTypeDefinition[{{i}}]">
                            </textarea>
                        </td>
                    </tr>
                </tbody>
            </table>
            <button type="button" class="btn btn-rio" (click)="addParcelAllocationType()">Add Water Type</button>
        </div>

        <div class="row mt-2">
            <div class="col-sm">
                <i class="fas fa-bolt"></i> Required field
            </div>
            <div class="col-sm text-right">
                <button type="submit" class="btn btn-rio"
                    [disabled]="!editParcelAllocationTypesForm.form.valid || isLoadingSubmit">
                    <span *ngIf="isLoadingSubmit" class="fa fa-spinner loading-spinner"></span>
                    Save
                </button>
                <button type="button" class="btn btn-secondary ml-1" (click)="resetParcelAllocationTypes()">Reset</button>
                <a class="btn btn-secondary ml-1" routerLink="/manager-dashboard">Cancel</a>
            </div>
        </div>
    </form>
</div>

<ng-template #deleteWarningModalContent let-modal>
    <div class="modal-header">
        <h5 class="modal-title" id="deleteWarningModalTitle">Warning</h5>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <p>
            You are about to modify the Water Types.
            Any allocation associated with a deleted Water Type will be permanently removed from the platform.
            Any Water Types that are added will need to have their allocation set via the Set Water Allocation page.
            These actions are permanent.
        </p>
        <p>Are you sure you wish to proceed?</p>
        <div class="modal-footer">
            <button type="button" class="btn btn-rio btn-sm" (click)="submitImpl()">
                Continue</button>
            <button type="button" class="btn btn-secondary btn-sm" (click)="modal.close('Cancel click')">Cancel</button>
        </div>
    </div>
</ng-template>