<div class="breadcrumb-container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
            <li class="breadcrumb-item"><a routerLink="/tags">Tags</a></li>
            <li class="breadcrumb-item active" aria-current="page">Bulk Tag Parcels</li>
        </ol>
    </nav>
</div>
<div class="container mt-sm-4">
    <app-alert-display></app-alert-display>
    <div class="row">
        <div class="col-auto">
            <h2 class="d-inline-block">Bulk Tag Parcels</h2>
            <div class="mt-2">
            </div>
        </div>
        <div class="col-auto ml-auto">
            <button class="btn btn-rio mr-2 mb-2" (click)="tagSelectedParcels()" [disabled]="noParcelsSelected">
                <i class="fas fa-plus mr-1"></i>Tag Selected Parcels
            </button>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-sm-12">
            <rio-custom-rich-text [customRichTextTypeID]="customRichTextTypeID"></rio-custom-rich-text>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <div class="float-right">
                        <rio-water-year-select *ngIf="waterYears" class="d-inline-block" [waterYears]="waterYears" [(selectedYear)]="waterYearToDisplay"
                            (selectedYearChange)="updateGridData()">
                        </rio-water-year-select>
                    </div>
                    <div class="mt-2">
                        Parcel List
                    </div>
                </div>
                <div class="card-body">
                    <div class="row mb-2">
                        <div class="col-auto ml-auto">
                            <rio-clear-grid-filters-button [grid]="bulkTagParcelsGrid"></rio-clear-grid-filters-button>
                        </div>
                    </div>
                    <ag-grid-angular #bulkTagParcelsGrid style="width: 100%; height: 800px;" class="ag-theme-balham"
                        [columnDefs]="columnDefs" [pagination]="true" [paginationPageSize]="100" [suppressMenuHide]="true"
                        rowSelection="multiple" (selectionChanged)="onSelectionChanged()">
                    </ag-grid-angular>
                </div>
            </div>
        </div>
    </div>
</div>
<ng-template #applyTagModal let-modal>
    <div class="modal-header bg-secondary">
        <h5 class="modal-title" id="applyTagModalTitle">Apply Tag</h5>
        <button type="button" class="close" aria-label="Close" (click)="modal.close('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div *ngIf="tagModel">
            <div class="row mb-3">
                <div class="col-md-2 text-md-right">
                    <label class="form-control-label required">Name</label>
                </div>
                <div class="col-md-10 text-md-right">
                    <input type="text" class="form-control" name="tag-name" [(ngModel)]="tagModel.TagName" />
                </div>
            </div>
        </div>
        <div class="row mb-3" *ngIf="parcelsToTag">
            <div class="col-12">
                Tagging {{parcelsToTag.length}} parcels:
                <ul class="overflow-auto" style="max-height: 200px">
                    <li *ngFor="let parcel of parcelsToTag">{{parcel.ParcelNumber}}</li>
                </ul>
            </div>
        </div>
        <div class="modal-footer">
            <div class="mr-3">
                <i class="fas fa-bolt"></i> Required field
            </div>
            <button type="button" class="btn btn-rio" (click)="onSubmit()">
                <span *ngIf="isLoadingSubmit" class="fa fa-spinner loading-spinner"></span>
                Save
            </button>
            <button type="button" class="btn btn-secondary" (click)="modal.close('Cancel click')">Cancel</button>
        </div>
    </div>
</ng-template>
