<button class="btn btn-link p-0" aria-label="Change Active Account" (click)="launchModal(selectAccountModalContent)">
    {{linkText}}
</button>

<ng-template #selectAccountModalContent let-modal>
    <div class="modal-header">
        <h5 class="modal-title" id="selectAccountModalTitle">Select Account</h5>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div>
            <p>Your current selected account is:
                {{getActiveAccountName()}}.</p>
            <p>The selected account controls which dashboard you view and which account you're trading on behalf of. If
                you'd like to switch accounts, select one of the available accounts below.</p>
        </div>
        <div class="search-container">
            <input [(ngModel)]="searchText">
            <label [ngClass]="{'active': searchText}">
                Search Accounts...
            </label>
        </div>
        <div class="mt-2" style="max-height:200px; overflow:auto">
            <ul class="available-items pl-0" *ngIf="getFilteredAccounts().length > 0">
                <li *ngFor="let account of getFilteredAccounts()" [ngClass]="{'selected': selectedAccount == account}" (click)="selectedAccount = account">
                    {{account.ShortAccountDisplayName}}</li>
            </ul>
            <span *ngIf="getFilteredAccounts().length == 0">No accounts to show</span>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-rio btn-sm" (click)="setCurrentAccount()" [disabled]="!selectedAccount">
              Continue</button>
            <button type="button" class="btn btn-secondary btn-sm" (click)="modal.close('Cancel click')">Cancel</button>
          </div>
    </div>
</ng-template>