/*
NP: Please do note that since we had to ViewEncapsulation.None on AccountSelectComponent in order to style that as requested,
you have to ngx-select-dropdown#accountSelectDropdown instead of plain ngx-select-dropdown,
or else you'll end up styling all the ngx-select-dropdowns in the site D=
*/
@import "~src/scss/_variables.scss";

.accountLabelNoDropdown {
    color:$account-dropdown-text;
    display:inline-block;
    padding-right:5px;
    float:right;
    font-size: 12px;
    padding-top:2px;
  }

  ngx-select-dropdown#accountSelectDropdown > div > *:focus {
    outline: none
  }

  ngx-select-dropdown#accountSelectDropdown > div > button *,
  ngx-select-dropdown#accountSelectDropdown > div > button *::before,
  ngx-select-dropdown#accountSelectDropdown > div > button *::after {
    transition: all .5s;
  }
  ngx-select-dropdown#accountSelectDropdown > div > button:hover *
   {
    color:$select-and-nav-hover;
  }

  ngx-select-dropdown#accountSelectDropdown > div > button{
    background-color:  $header-background !important;
    border:none !important;
    color:$account-dropdown-text !important;
    padding-top: 2px !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
    text-align: right !important;
    

    > span{
      
      text-align: right !important;
      float: none !important;
      padding-right:16px;

      
    }
  }

  .ngx-dropdown-list-container ul li:hover {
    background-color: $select-and-nav-dropdown-hover;
  }

  .ngx-dropdown-container .ngx-dropdown-list-container ul.selected-items li {
    background-color: $select !important;
  }
  

  ngx-select-dropdown#accountSelectDropdown > div > button > span:nth-child(2):after {
    display: inline-block;
    margin-left: 0.255em;
    vertical-align: 0.255em;
    content: "";
    border-top: 0.3em solid;
    border-right: 0.3em solid transparent;
    border-bottom: 0;
    border-left: 0.3em solid transparent;
    font-size:16px;
  }

  ngx-select-dropdown#accountSelectDropdown > div > button > span:first-child{
    padding-right:0;
    overflow-x:hidden;
    display:inline-block;
  }

  @media screen and (max-width: 990px){
    ngx-select-dropdown#accountSelectDropdown > div > button > span {
      text-align: left !important;
      }
    ngx-select-dropdown#accountSelectDropdown > div > button {
      text-align: left !important;
    }
    .accountLabelNoDropdown {
     float: left; 
    }
    }

    .ngx-dropdown-list-container ul li {
      padding-left: 5px !important;
      padding-right: 5px !important;
      white-space: nowrap !important;
      overflow-x: hidden !important;
    }