/*
NP: Please do note that since we had to ViewEncapsulation.None on AccountSelectComponent in order to style that as requested,
you have to ngx-select-dropdown#accountSelectDropdown instead of plain ngx-select-dropdown,
or else you'll end up styling all the ngx-select-dropdowns in the site D=
*/
@import "~src/scss/_variables.scss";

.top-bar-nav-link {
  color: $header-nav-link;
  font-weight:$header-nav-link-font-weight;
}

.top-bar-nav-link,
.top-bar-nav-link::before,
.top-bar-nav-link::after {
  transition: all 0.5s;
}

.top-bar-nav-link:hover {
  color: $select-and-nav-hover;
  text-decoration: none;
  cursor: pointer;
}

ul.available-items {
  list-style-type: none;
}

ul.available-items li:hover {
  background-color: $select-and-nav-dropdown-hover;
  cursor: pointer;
}

ul.available-items li.selected {
    background-color: $select !important;
    color: $select-selected-text;
}

.search-container {
  position: relative;
  padding-top: 10px;
  margin-top: 5px;

  input {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #9e9e9e;
    border-radius: 0;
    outline: none;
    height: 2rem;
    width: 100%;
    margin: 0;
    padding: 0;
    box-shadow: none;
    box-sizing: content-box;
    transition: all 0.3s;

    &:focus {
      border-bottom: 1px solid #26a69a;
    }

    &:focus + label {
      transform: translateY(-2px) scale(0.8);
      transform-origin: 0 0;
    }

    label {
      transform: translateY(-2px) scale(0.8);
      transform-origin: 0 0;
    }
  }

  label {
    color: #9e9e9e;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    cursor: text;
    -webkit-transition: -webkit-transform 0.2s ease-out;
    transition: -webkit-transform 0.2s ease-out;
    transition: transform 0.2s ease-out;
    transition: transform 0.2s ease-out, -webkit-transform 0.2s ease-out;
    -webkit-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
    text-align: initial;
    transform: translateY(12px);
    pointer-events: none;

    &.active {
      transform: translateY(-2px) scale(0.8);
      transform-origin: 0 0;
    }
  }
}

.modal-header button:focus {
  outline:none;
}

.modal-size {
  @media only screen and (max-width: 600px) {
    width:75%;
  }
}

button {
  border:0px;
}

.select-icon {
  line-height:1;
  font-size:12px;
  border:0;
  padding-bottom:$switch-account-icon-padding;
  padding-top:0px;
  padding-left:0px;
}
