<div class="breadcrumb-container home-breadcrumb">
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb" style="border-color:transparent">
                <li class="breadcrumb-item" aria-current="page"></li>
            </ol>
        </nav>
    </div>
</div>
<div class="container-fluid text-light my-0 py-0 d-none d-sm-block">
    <div class="row mt-0">
        <div class="col-sm homepageJumbotronImage" id="homepageJumbotronImage1"></div>
    </div>
</div>

<div class="container mt-4">

    <ngb-alert *ngIf="userIsUnassigned()" [type]="'info'" [dismissible]="false">
        <span>
            Welcome {{currentUser.FullName}}. You have successfully logged in to the {{platformLongName()}},
            but your
            account is not yet configured. You will receive an email from the {{leadOrganizationShortName()}} Administrators when your account is
            ready to
            use. You may <a routerLink="/help">Request Support</a> to contact the Administrators with any questions or
            comments.
        </span>
    </ngb-alert>

    <ngb-alert *ngIf="userRoleIsDisabled()" [type]="'info'" [dismissible]="false">
        <span>
            Your account is currently disabled. Please <a routerLink="/help">Request Support</a> if you would like to activate your account.
        </span>
    </ngb-alert>

    <app-alert-display></app-alert-display>
    <div class="row mt-sm-4">
        <h1 class="text-primary mb-4">{{platformLongName()}}</h1>
        <div class="col-md-4 order-md-12 order-1 col-sm-12">
            <div class="card">
                <div class="card-header">
                    <ng-container *ngIf="!currentUser">Access your water account</ng-container>
                    <ng-container *ngIf="currentUser">View your dashboard</ng-container>
                </div>
                <div class="card-body" *ngIf="!currentUser">
                    <div class="row">
                        <div class="col">
                            Log in to view your Water Account. Sign up to create a Water Account if you don't have one yet.
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col mx-1">
                            <a href="javascript:void(0);" (click)="login()" class="btn btn-rio mr-2 mt-1">Login</a>
                            <a routerLink="/sign-up" class="btn btn-rio mr-2 mt-1">Sign Up</a>
                            <!-- <a href="javascript:void(0);" (click)="createAccount()" class="btn btn-rio mt-1">Create
                                Account</a> -->
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col">
                            <small style="font-size:11px;">
                                Need help logging in? <br />
                                <a href="{{forgotPasswordUrl()}}">Forgot Password</a> | <a href="{{forgotUsernameUrl()}}">Forgot
                                    Username</a> | <a href="{{keystoneSupportUrl()}}">Request Support</a>
                            </small>
                        </div>
                    </div>
                </div>
                <div class="card-body" *ngIf="currentUser">
                    <div class="row">
                        <div class="col">
                            <a *ngIf="isUserAnAdministrator()" class="btn btn-rio mb-1" routerLink="/manager-dashboard">Manager
                                Dashboard</a>
                            <a *ngIf="isUserALandowner()" class="btn btn-rio mb-1" routerLink="/landowner-dashboard">Landowner
                                Dashboard</a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <a class="btn btn-rio mb-1 ml-sm-auto ml-lg-0" routerLink="/help">Request Support</a>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
        <div class="col-md-8 order-md-1 order-12 col-sm-12">
            <div class="mt-2">
                <rio-custom-rich-text [customRichTextTypeID]="homepageRichTextTypeID"></rio-custom-rich-text>
            </div>
        </div>
    </div>
</div>