<div class="container-fluid text-light my-0 py-0 d-none d-sm-block">
    <div class="row mt-0">
        <div class="col-sm homepageJumbotronImage" id="homepageJumbotronImage1"></div>
    </div>
</div>

<div class="container mt-4">
    
    <ngb-alert *ngIf="userIsUnassigned()" [type]="'info'" [dismissible]="false"
               >
    <span>Welcome {{currentUser.FullName}}. You have successfully logged in to the RRB Water Accounting Platform, but your
        account is not yet configured. You will receive an email from the RRB Administrators when your account is ready to
        use. You may <a routerLink="/help">Request Support</a> to contact the Administrators with any questions or comments.</span>
    </ngb-alert>    
    
    <app-alert-display></app-alert-display>
        <div class="row mt-sm-4">
            <div class="col-md">
                <h1 class="text-primary">Rosedale-Rio Bravo Water Trading Platform</h1>
                <div class="mt-4">
                    <p class="lead">
                        Welcome to the <a href="https://www.rrbwsd.com/">Rosedale-Rio Bravo Water Storage District</a> Water
                        Trading Platform. The trading program is designed to meet these objectives:
                    </p>
                    <ul>
                        <li>Reduce water trading transaction costs and facilitate effective accounting and management of
                            available water resources.</li>
                        <li>Enable the movement of water to the highest valued and best uses.</li>
                        <li>Help RRB (and other Kern County districts) achieve groundwater sustainability goals and minimize
                            economic costs to the community.</li>
                        <li>Over the longer term, consider opportunities to generate additional benefits from fallowed land
                            such
                            as groundwater recharge basins and wildlife habitat.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    
    