.homepageJumbotronImage {
    background-size: cover;
    background-position: center center;
    height: 300px;
}

#homepageJumbotronImage1 {
    background-image: url("/assets/main/home_image.jpg");
}