DOCKER_BUILD_SOURCE=.
SECRET_PATH=/run/secrets/appsecrets
ASPNETCORE_ENVIRONMENT=Development
KEYSTONE_HOST={keystone_host}
RIO_DB_CONNECTION_STRING={db_conn_string}
SMTP_HOST={your_computer_ip}
SMTP_PORT=25
SITKA_EMAIL_REDIRECT={set_to_blank_for_prod}
RIO_WEB_URL={url for rio-web}