<div class="breadcrumb-container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a routerLink="/">Home</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">Buy and Sell Water</li>
        </ol>
    </nav>
</div>
<div class="container">
    <app-alert-display></app-alert-display>
    <div>
        <a class="float-right btn btn-rio btn-sm mr-3" routerLink="/new-posting">New Posting</a>
    </div>
    <h2 style="display: inline-block">Buy and Sell Water</h2>
    <div class="mt-2 mb-4">
        <div *ngIf="postings">
            There are currently {{postings.length}} active postings, with a total of {{getAcreFeetToSell()}} ac-ft on offer
            to sell and {{getAcreFeetToBuy()}} ac-ft seeking to buy.
        </div>
        <div *ngIf="!postings">
            Loading postings data...
        </div>
        <div class="mt-2">
            Click a posting to see details and make an offer, or <a routerLink="/new-posting">create a new posting</a> to
            advertise your intent to buy/sell water.
        </div>
    </div>
    <div class="row mt-4 mb-2">
        <div class="col-auto">
            <strong>Show these postings:</strong>
            <label class="ml-2"><input type="radio" name="postingTypeFilter" [(ngModel)]="postingTypeFilter" [value]="0" (change)="updateGridData()" /> All Postings</label>
            <label class="ml-2"><input type="radio" name="postingTypeFilter" [(ngModel)]="postingTypeFilter" [value]="1" (change)="updateGridData()" /> Offers to Buy</label>
            <label class="ml-2"><input type="radio" name="postingTypeFilter" [(ngModel)]="postingTypeFilter" [value]="2" (change)="updateGridData()" /> Offers to Sell</label>
        </div>
        <div class="col-auto ml-auto">
            <rio-clear-grid-filters-button [grid]="postingsGrid"></rio-clear-grid-filters-button>
        </div>
    </div>
    <ag-grid-angular #postingsGrid style="width: 100%; height: 800px;" class="ag-theme-balham" [rowData]="postings"
        [columnDefs]="columnDefs" [pagination]="true" [paginationPageSize]="100" [rowHeight]="40" [suppressMenuHide]="true">
    </ag-grid-angular>
