<div class="breadcrumb-container">
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item active" aria-current="page">Managed Recharge Scenario</li>
            </ol>
        </nav>
    </div>
</div>
<div class="container">
    <app-alert-display></app-alert-display>
    <div class="row mb-2">
        <div class="col">
            <h2 class="d-inline-block">Managed Recharge Scenario</h2>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p>
                By integrating the Water Trading Platform with the <a routerLink="/about-groundwater-evaluation" routerLinkActive="true">Groundwater Evaluation Toolkit (GET)</a>, 
                groundwater managers can better understand potential benefits and impacts of their groundwater 
                recharge activities. For example, recent studies describe how groundwater subsidence due to 
                over-pumping can release arsenic into productive aquifers where it can reach pumping wells. 
                This can be imagined similar to the release of dirty water when a sponge is squeezed.
            </p>
            <p>
                The map below shows a hypothetical scenario which increases groundwater level due to managed 
                aquifer recharge at constructed recharge basins. The impacts of groundwater level changes can 
                be evaluated considering to a variety of factors, including locations of known groundwater 
                quality contamination, nearby disadvantaged communities (DACs), and location of private domestic 
                wells. In this scenario:
            </p>

            <ul>
                <li>
                    Managed aquifer recharge is occurring at two Recharge Basins <img src="../../../assets/main/images/scenario_recharge_basin.png" style="height:22px; margin-top:-8px"> and 
                    500 ac-ft is recharged uniformly throughout the year
                </li>
                <li>
                    Groundwater quality monitoring locations show areas where arsenic concentration exceed 
                    the regulatory limit of 10 ug/L <img src="../../../assets/main/images/scenario_arsenic_contamination.png" style="height:22px; margin-top:-8px">
                </li>
                <li>
                    Changes to groundwater levels can also results in impacts to disadvantaged communities 
                    <img src="../../../assets/main/images/disadvantaged_community.png" style="height:22px; margin-top:-8px"> who rely on private domestic wells <img src="../../../assets/main/images/water_trading_scenario_well.png" style="height:22px; margin-top:-8px"> for their drinking water
                </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-lg-6">
            <div class="card">
                <div class="card-header">
                    Option 1: Utilize western recharge basins
                </div>
                <div class="card-body table-responsive">
                    <div id={{westMapID}} class="location-card" [style.height]="mapHeight"></div>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-6">
            <div class="card">
                <div class="card-header">
                    Option 2: Utilize eastern recharge basins
                </div>
                <div class="card-body table-responsive">
                    <div id={{eastMapID}} class="location-card" [style.height]="mapHeight"></div>
                </div>
            </div>
        </div>
    </div>
</div>