<div class="breadcrumb-container">
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb breadcrumb-empty">
                <li class="breadcrumb-item active" aria-current="page">Managed Recharge Scenario</li>
            </ol>
        </nav>
    </div>
</div>
<div class="container mt-sm-4" style="max-width:1400px">
    <app-alert-display></app-alert-display>
    <div class="row mb-2">
        <div class="col">
            <h2 class="d-inline-block">Managed Recharge Scenario</h2>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p>
                By integrating the Water Accounting and Trading Platform with the <a
                    routerLink="/about-groundwater-evaluation" routerLinkActive="true">Groundwater Evaluation Toolbox
                    (GET)</a>,
                groundwater managers can better understand the potential benefits and impacts of groundwater recharge
                activities.
            </p>
            <p>
                The maps below present two options for recharging groundwater via district-owned recharge basins in
                either the western portion of the district (map on the left) or eastern portion (map on the right). The
                maps integrate data showing the locations of known groundwater quality contamination, nearby
                disadvantaged communities (DACs), and location of private domestic wells. In this scenario:
            </p>
            <p>
                In this scenario:
            </p>
            <ul>
                <li>
                    Managed aquifer recharge options are evaluated at two different district-owned recharge basins <img
                        src="../../../assets/main/images/scenario_recharge_basin.png"
                        style="height:22px; margin-top:-8px">.
                </li>
                <li>
                    In both options 500 acre-feet is recharged uniformly throughout the year.
                </li>
                <li>
                    Groundwater quality monitoring locations show areas where arsenic concentration exceed the
                    regulatory limit of 10 micrograms per liter
                    <img src="../../../assets/main/images/scenario_arsenic_contamination.png"
                        style="height:22px; margin-top:-8px">.
                </li>
                <li>
                    Changes to groundwater levels can also result in impacts to disadvantaged communities
                    <img src="../../../assets/main/images/disadvantaged_community.png"
                        style="height:22px; margin-top:-8px"> who rely on private domestic wells <img
                        src="../../../assets/main/images/water_trading_scenario_well.png"
                        style="height:22px; margin-top:-8px"> for their drinking water.
                </li>
            </ul>
            <p>
                An enhanced understanding of the potential impacts and trade-offs of recharging groundwater in a given
                location can help groundwater managers and stakeholders make better management decisions. For example,
                recent studies describe how land sinking due to groundwater overpumping can release arsenic into
                aquifers, where it can then reach pumping wells. While other factors would likely need to be considered
                (e.g. other water quality concerns), in the scenarios shown below, it may be beneficial to recharge in
                the western recharge basin (map on the left), as increased water levels could help reduce arsenic
                contamination for disadvantaged communities reliant on private domestic wells for their drinking water.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-lg-6">
            <div class="card">
                <div class="card-header">
                    Option 1: Utilize western recharge basins
                </div>
                <div class="card-body table-responsive">
                    <div id={{westMapID}} class="location-card" [style.height]="mapHeight"></div>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-6">
            <div class="card">
                <div class="card-header">
                    Option 2: Utilize eastern recharge basins
                </div>
                <div class="card-body table-responsive">
                    <div id={{eastMapID}} class="location-card" [style.height]="mapHeight"></div>
                </div>
            </div>
        </div>
    </div>
</div>