<div class="breadcrumb-container">
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item active" aria-current="page">Managed Recharge Scenario</li>
            </ol>
        </nav>
    </div>
</div>
<div class="container">
    <app-alert-display></app-alert-display>
    <div class="row mb-2">
        <div class="col">
            <h2 class="d-inline-block">Managed Recharge Scenario</h2>
        </div>
    </div>
    <div class="row">
        <div class="col">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor 
            incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud 
            exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure 
            dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
            Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt 
            mollit anim id est laborum.
        </div>
    </div>
    <div class="card-body table-responsive">
        <scenario-map mapID="managedRechargeScenarioMap" mapHeight="600px">
        </scenario-map>
    </div>
</div>