<div class="breadcrumb-container">
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item active" aria-current="page">Water Trading Scenario</li>
            </ol>
        </nav>
    </div>
</div>

<div class="container">
    <app-alert-display></app-alert-display>
    <div class="row mb-2">
        <div class="col">
            <h2 class="d-inline-block">Water Trading Scenario</h2>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p>
                The Water Trading Platform can be integrated with the <a routerLink="/about-groundwater-evaluation" routerLinkActive="true">Groundwater Evaluation Toolkit (GET)</a>. 
                By integrating these platforms, groundwater managers can quantitatively evaluate the impacts of water trades on regional groundwater levels. The map below shows a 
                hypothetical water trading scenario which results in less groundwater usage in the vicinity of a <a href="https://drinkingwatertool.communitywatercenter.org/data/#demographic-layers">mapped disadvantaged community (DAC)</a> 
                who rely on <a href="https://drinkingwatertool.communitywatercenter.org/data/#GW-users">domestic wells</a> as their source of water.
            </p>
            <ul>
                <li>This scenario shows a trade occurring that provides a benefit to a nearby disadvantaged community (DAC)</li>
                <li>The buyer <img src="../../../assets/main/images/parcel_red.png" style="height:22px; margin-top:-8px"> is purchasing 600 ac-ft of water yearly from the seller <img src="../../../assets/main/images/parcel_blue.png" style="height:22px; margin-top:-8px"></li>
                <li>The scenario assumes the purchased water is pumped uniformly throughout the year</li>
                <li>The water that the seller historically pumped, but will no longer, results in an increase groundwater levels for the adjacent disadvantaged community <img src="../../../assets/main/images/disadvantaged_community.png" style="height:22px; margin-top:-8px"> who rely on private domestic wells <img src="../../../assets/main/images/water_trading_scenario_well.png" style="height:22px; margin-top:-8px"> for their drinking water</li>
                <li>Through a carefully managed trading program and associated analysis tools, the risks and benefits to all parties can be considered and managed.</li>
            </ul>
        </div>
    </div>
    <div class="card-body table-responsive">
        <div id={{mapID}} class="location-card" [style.height]="mapHeight"></div>
    </div>
</div>