<div class="breadcrumb-container">
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item" aria-current="page">
                    <a routerLink="/trades">Buy and Sell Water</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">
                    New Posting
                </li>
            </ol>
        </nav>
    </div>
</div>
<div class="container mt-sm-4" *ngIf="postingTypes && currentUserAccounts?.length > 0">
    <h2>New Posting</h2>
    <p class="lead">
        Create a new offer to either buy or sell an allocation.
    </p>
    <app-alert-display></app-alert-display>
    <form (ngSubmit)="onSubmit(newPostingForm)" #newPostingForm="ngForm">
        <div class="row mt-4">
            <div class="col-sm-6">
                <div class="row">
                    <div class="col-sm-4 control-label">
                        <label class="required">Water Account</label>
                    </div>
                    <div class="col-sm-8">
                        <span *ngIf="currentUserAccounts.length == 1">{{currentUserAccounts[0].AccountName}}</span>
                        <select *ngIf="currentUserAccounts.length > 1" name="CreateAccountID" class="form-control" [(ngModel)]="model.CreateAccountID" required>
                            <option [ngValue]="undefined" disabled hidden>Select an Account</option>
                            <option *ngFor="let account of currentUserAccounts" [ngValue]="account.AccountID">
                                {{account.AccountName}}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-sm-4 control-label">
                        <label class="required">Type</label>
                    </div>
                    <div class="col-sm-8">
                        <select name="PostingTypeID" class="form-control" [(ngModel)]="model.PostingTypeID" required>
                            <option value="" disabled hidden></option>
                            <option *ngFor="let postingType of postingTypes" [value]="postingType.PostingTypeID">
                                {{postingType.PostingTypeDisplayName}}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-sm-4 control-label">
                        <label class="required">Quantity</label>
                    </div>
                    <div class="col-sm-8">
                        <div class="input-group">
                            <input type="number" class="form-control" name="Quantity" required
                                [(ngModel)]="model.Quantity" min="1" step="1" />
                            <div class="input-group-append">
                                <span class="input-group-text"> ac-ft</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-sm-4 control-label">
                        <label class="required">Unit Price</label>
                    </div>
                    <div class="col-sm-8">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">$</span>
                            </div>
                            <input type="number" class="form-control" name="Price" required [(ngModel)]="model.Price" min="1" step=".01" />
                            <div class="input-group-append">
                                <span class="input-group-text"> per ac-ft</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-sm-4 control-label">
                        <label>Total Price</label>
                    </div>
                    <div class="col-sm-8">
                        <span *ngIf="getTotalPrice()">{{getTotalPrice() | currency : "USD" }}</span>
                        <span *ngIf="!getTotalPrice()">-</span>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-sm-4 control-label">
                        <label>Description</label>
                    </div>
                    <div class="col-sm-8">
                        <textarea class="form-control" name="PostingDescription" style="height: 200px"
                            [(ngModel)]="model.PostingDescription"
                            placeholder="Describe the desired timing, negotiation parameters, or other helpful information about your posting."></textarea>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <hr />
                <div class="row">
                    <div class="col-sm-4">
                        <i class="fas fa-bolt"></i> Required field
                    </div>
                    <div class="col-sm-8 text-right">
                        <button type="submit" class="btn btn-rio"
                            [disabled]="newPostingForm.form.invalid || !isOfferFormValid() || isLoadingSubmit">
                            <span *ngIf="isLoadingSubmit" class="fa fa-spinner loading-spinner"></span>
                            Save
                        </button>
                        <a class="btn btn-secondary ml-1" routerLink="/trades">Cancel</a>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<!-- <div class="container" *ngIf="!currentAccount">
  <ngb-alert [type]="'info'" [dismissible]="false">
    No account is selected. Use the dropdown in the top right to select an account to view the Landowner Dashboard.
</ngb-alert>
</div> -->