$footer-height: 60px;

$theme-colors: (
        "primary": #114571,     // systemBlue
        "secondary": #ccc,   // lightGray
        "info": #228be6,        // brightBlue
        "light": #f5f5f5,       // offWhite
        "muted": #dee2e6,       // footerGray
        "danger": #ff0000,
        "success": #00cc00,
        "warning": #ffff9f,
        "h4-styled": #151e61,
        "footer": #ccc,
        "footer-text": #000,
        "button-border-and-background": #151e61,
        "button-hover-text": #fff,
        "button-hover-background": #333c7f, 
        "button-toggle-hover": #333c7f,
        "header-background": #fff,
        "select": #151e61,
        "select-and-nav-hover": #8895ac,
        "select-and-nav-dropdown-hover": #E5FAF1,
        "header-nav-link" : #fff,
        "grid-header-background": #151e61,
        "grid-accent-color": #333c7f,
        "grid-hover-color": #f8efdc,
        "account-dropdown-text": #fff,
        "header-gradient-start": transparent,
        "header-gradient-end": transparent,
        "breadcrumb-background-color": #010A4D,
        "breadcrumb-border-color": #e9eeef,
        "breadcrumb-item-color": #fff,
        "breadcrumb-item-active-color": #fff,
        "select-selected-text":#fff
);

// this looks redundant, but we need to make the override in both ways
$primary: #114571;
$secondary: #ccc;
$info: #228be6;
$light: #f5f5f5;
$muted: #dee2e6;
$danger: #ff0000;
$success: #00cc00;
$warning: #ffff9f;

$account-dropdown-text: #fff;

$breadcrumb-background-color: #010A4D;
$breadcrumb-border-color: #e9eeef;
$breadcrumb-border-style: solid;
$breadcrumb-item-color: #fff;
$breadcrumb-item-active-color: #fff;
$breadcrumb-empty-display-type: none;
$breadcrumb-empty-display-height: 0px;

$button-border-and-background: #151e61;
$button-hover-text: #fff;
$button-hover-background: #333c7f;
$button-toggle-hover: #333c7f;

$grid-accent-color: #333c7f;
$grid-font-family: 'Tahoma';
$grid-font-header-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
$grid-header-background: #151e61;
$grid-hover-color: #f8efdc;

$footer: #ccc;
$footer-text: #000;

$header-background: #fff;       
$header-nav-link: #000;         
$header-nav-link-font-weight: inherit;

$h4-styled: #151e61;

$select: #151e61;
$select-selected-text: #fff;
$select-and-nav-dropdown-hover: #f2f2f2;
$select-and-nav-hover:#8895ac;
$switch-account-icon-padding:2px;
$text-muted: darken(#d3d3d3, 15%);
$text-warning: darken($warning, 20%);

$font-family-sans-serif: 'Tahoma', sans-serif, 'Helvetica Neue', sans-serif;
$font-size: 16px;
$base-text: #000000;

$card-cap-bg: #eee;
