<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">Trades</li>
    </ol>
  </nav>
  <div class="container">
      <div style="margin: 1rem 0 1rem 0;">
          <a class="float-right btn btn-primary btn-sm mr-3" routerLink="/new-posting">New Posting</a>
      </div>  
      <h2 style="display: inline-block">Sales Posting Board</h2>
      <p class="lead">
          A list of postings is shown in the grid below.
      </p>
  </div>
  <div class="container mt-sm-4">
      <table class="table table-striped">
          <thead>
          <tr>
            <th>View/Contact</th>
            <th>Posting Date</th>
            <th>Type</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Posting</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let posting of postings">
            <td><a class="btn btn-primary btn-sm" routerLink="/postings/{{posting.PostingID}}">View</a></td>
            <td style="white-space: nowrap">{{ posting.PostingDate | date:"short" }}</td>
            <td style="white-space: nowrap">{{ posting.PostingType.PostingTypeDisplayName }}</td>
            <td>{{ posting.Quantity }} AF</td>
            <td style="white-space: nowrap">{{ posting.Price }} / AF</td>
            <td>
                {{ posting.PostingDescription.substring(0, descriptionMaxLength) }}
                <a *ngIf="posting.PostingDescription.length > descriptionMaxLength" routerLink="/postings/{{posting.PostingID}}">[View More]</a>
            </td>
          </tr>
          </tbody>
      </table>
  </div>