<nav aria-label="breadcrumb" *ngIf="waterTransfer">
    <ol class="breadcrumb">
        <li class="breadcrumb-item" aria-current="page">
            <a routerLink="/trades">Buy and Sell Water</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">
            Register Transfer
        </li>
    </ol>
</nav>
<div class="container mt-sm-4" *ngIf="waterTransfer">
    <h2 style="display: inline-block">
        Register Transfer
    </h2>
    <app-alert-display></app-alert-display>
    <div class="row mt-4">
        <div class="col-sm-12 col-md-6">
            <div class="card">
                <div class="card-header">
                    Transfer Details
                </div>
                <div class="card-body">
                    <dl class="row">
                        <dt class="text-sm-right col-sm-5 col-xs-12">Date</dt>
                        <dd class="col-sm-7 col-xs-12">
                            {{waterTransfer.TransferDate | date:'short'}}
                        </dd>

                        <dt class="text-sm-right col-sm-5 col-xs-12">Buyer</dt>
                        <dd class="col-sm-7 col-xs-12">
                            {{waterTransfer.ReceivingUser.FullName}}<br />
                            <a
                                href="mailto:{{waterTransfer.ReceivingUser.Email}}">{{waterTransfer.ReceivingUser.Email}}</a>
                        </dd>

                        <dt class="text-sm-right col-sm-5 col-xs-12">Seller</dt>
                        <dd class="col-sm-7 col-xs-12">
                            {{waterTransfer.TransferringUser.FullName}}<br />
                            <a
                                href="mailto:{{waterTransfer.TransferringUser.Email}}">{{waterTransfer.TransferringUser.Email}}</a>
                        </dd>

                        <dt class="text-sm-right col-sm-5 col-xs-12">Quantity</dt>
                        <dd class="col-sm-7 col-xs-12">
                            {{waterTransfer.AcreFeetTransferred}} ac-ft
                        </dd>

                        <dt class="text-sm-right col-sm-5 col-xs-12">Unit Price</dt>
                        <dd class="col-sm-7 col-xs-12">
                            {{waterTransfer.UnitPrice | currency: "USD" }} per ac-ft
                        </dd>

                        <dt class="text-sm-right col-sm-5 col-xs-12">Total Price</dt>
                        <dd class="col-sm-7 col-xs-12">
                            {{getTotalPrice(waterTransfer) | currency : "USD" }}
                        </dd>

                    </dl>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6" *ngIf="canConfirm()">
            <div class="card" *ngIf="!isConfirmingTransfer">
                <div class="card-header">
                    Your Actions
                </div>
                <div class="card-body">
                    <p>After terms of the transaction are complete, use the button below to finalize your transfer. </p>
                    <div class="text-center" *ngIf="!isConfirmingTransfer">
                        <button class="btn btn-primary btn-sm mr-1" (click)="registerTransfer()">Confirm
                            Transfer</button>
                    </div>
                </div>
            </div>
            <div class="card" *ngIf="isConfirmingTransfer">
                <div class="card-header">
                    Register Your Transfer
                </div>
                <div class="card-body">
                    <p>
                        By clicking this button you confirm that all terms and conditions of the transfer have been met.
                        By confirming the transaction you are authorizing RRB WSD to transfer
                        <strong>{{waterTransfer.AcreFeetTransferred}} acre-feet</strong> of water {{registerAction}} your
                        annual allocation. This action cannot be undone. Proceed?
                    </p>
                    <div class="text-center">
                        <button class="btn btn-primary btn-sm mr-1" (click)="submitConfirmation()"
                            [disabled]="isLoadingSubmit">
                            <span *ngIf="isLoadingSubmit" class="fa fa-spinner loading-spinner"></span>
                            Confirm and Register Trade with RRB
                        </button>
                        <button class="btn btn-primary btn-sm" (click)="cancelConfirmation()">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6" *ngIf="isBuyerOrSeller() && !canConfirm()">
            <div class="card">
                <div class="card-header">
                    Your Actions
                </div>
                <div class="card-body">
                    <p>This transfer has already been registered.</p>
                </div>
            </div>
        </div>
    </div>
</div>