<div class="breadcrumb-container">
    <div class="container">
        <nav aria-label="breadcrumb" *ngIf="waterTransfer">
            <ol class="breadcrumb">
                <li class="breadcrumb-item" aria-current="page">
                    <a routerLink="/trades">Buy and Sell Water</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">
                    Register Transfer
                </li>
            </ol>
        </nav>
    </div>
</div>
<div class="container mt-sm-4" *ngIf="waterTransfer">
    <h2 style="display: inline-block">
        Register Transfer
    </h2>
    <app-alert-display></app-alert-display>
    <div class="row mt-4">
        <div class="col-sm-12 col-md-4">
            <div class="card">
                <div class="card-header">
                    Transfer Details
                </div>
                <div class="card-body">
                    <dl class="row">
                        <dt class="text-md-right col-md-4 col-sm-12">Date</dt>
                        <dd class="col-md-8 col-sm-12">
                            {{waterTransfer.TransferDate | date:'short'}}
                        </dd>

                        <dt class="text-md-right col-md-4 col-sm-12">Buyer</dt>
                        <dd class="col-md-8 col-sm-12">
                            {{waterTransfer.BuyerRegistration.Account.AccountNumber }} - {{waterTransfer.BuyerRegistration.Account.AccountName }}<br />
                        </dd>

                        <dt class="text-md-right col-md-4 col-sm-12">Seller</dt>
                        <dd class="col-md-8 col-sm-12">
                            {{waterTransfer.SellerRegistration.Account.AccountNumber }} - {{waterTransfer.SellerRegistration.Account.AccountName }}<br />
                        </dd>

                        <dt class="text-md-right col-md-4 col-sm-12">Quantity</dt>
                        <dd class="col-md-8 col-sm-12">
                            {{waterTransfer.AcreFeetTransferred}} ac-ft
                        </dd>

                        <dt class="text-md-right col-md-4 col-sm-12">Unit Price</dt>
                        <dd class="col-md-8 col-sm-12">
                            {{waterTransfer.UnitPrice | currency: "USD" }} per ac-ft
                        </dd>

                        <dt class="text-md-right col-md-4 col-sm-12">Total Price</dt>
                        <dd class="col-md-8 col-sm-12">
                            {{getTotalPrice(waterTransfer) | currency : "USD" }}
                        </dd>
                    </dl>
                </div>
            </div>
            <div class="mt-2" *ngIf="canCancelTrade()">
                <small class="cancelTradeTitle">
                    <a class="collapsed" data-toggle="collapse" href="#cancelTradePanel" role="button" aria-expanded="false"
                        aria-controls="cancelTradePanel" (click)="confirmedFullNameForCancelation = null">
                        What if I am unable to complete this transaction?
                    </a>
                </small>
                <div class="mt-1 collapse" id="cancelTradePanel">
                    <div class="card">
                        <div class="card-header">
                            Cancel this Trade
                        </div>
                        <div class="card-body">
                            <p>If you or the other party are unable to complete this transaction, you may cancel this trade by typing your full name in the box below and using the Cancel Trade button.</p>
                            <dl>
                                <dt>Type your Full Name to confirm the Cancelation of this Transfer</dt>
                                <dd><input type="text" [(ngModel)]="confirmedFullNameForCancelation" /></dd>
                            </dl>            
                            <div class="text-center">
                                <button [disabled]="!isFullNameConfirmedForCancelation() || isLoadingSubmit" type="submit" class="btn btn-sm btn-rio"
                                    (click)="cancelTrade()">
                                    <span *ngIf="isLoadingSubmit" class="fa fa-spinner loading-spinner"></span>
                                    Cancel Trade
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-8" *ngIf="canRegister()">
            <div class="card" *ngIf="!isRegisteringTransfer">
                <div class="card-header">
                    Select Parcels Associated with this Transfer
                </div>
                <div class="card-body">
                    <p>
                        After terms of the transaction are complete, use this page to confirm and register your
                        transfer.
                    </p>

                    <p>
                        Before registering the water transfer, you must identify the parcels you intend to transfer
                        water to/from. Use the map to click the parcels involved in this transfer or use the "Select All" button.
                        The transfer volume will be allocated proportionally across your selected parcels.
                    </p>
                    <rio-parcel-picker #parcelPicker [selectedParcels]="selectedParcels" (onSubmit)="onSubmitParcels()"
                        [visibleParcels]="visibleParcels" [maxTotalQuantity]="waterTransfer.AcreFeetTransferred">
                    </rio-parcel-picker>
                </div>
            </div>
            <div class="card" *ngIf="isRegisteringTransfer">
                <div class="card-header">
                    Register Your Transfer
                </div>
                <div class="card-body">
                    <p>
                        By clicking "Confirm and Register Transfer" I hereby represent, acknowledge and confirm the
                        following:
                    </p>
                    <small>
                        <ul>
                            <li>A confirmed transfer is irrevocable. I hereby confirm and represent to Rosedale-Rio
                                Bravo Water Storage District (Rosedale) that all terms and conditions of the
                                transaction/transfer are complete.</li>
                            <li>I am hereby directing Rosedale to implement the transaction by accounting for the same
                                in its records of groundwater use associated with the Seller’s parcel(s) that are
                                involved in the transaction. Rosedale will not implement the transaction until it is
                                confirmed by both the Buyer and Seller. Confirmation of a transaction is the
                                responsibility of both the Buyer and Seller. Rosedale has no obligation to contact
                                either Buyer or Seller to obtain further confirmation of the transaction.</li>
                            <li>With respect to this transaction, I have not acted on the advice of Rosedale (including
                                its employees, directors, agents, attorneys or other consultants). I hereby release
                                Rosedale, its employees, directors, agents, attorneys or other consultants, from any
                                costs, claims, losses, recoveries, deficiencies, injuries, liabilities, penalties, and
                                the like, that may arise from the transaction. I shall indemnify and hold harmless
                                Rosedale, its employees, directors, agents, attorneys or other consultants against and
                                from any and all costs, claims, losses, recoveries, deficiencies, injuries, liabilities,
                                legal or administrative proceedings, and penalties, including attorney’s fees and
                                disbursements, arising from or relating to the transaction.</li>
                        </ul>
                    </small>
                    <dl class="row">
                        <dt class="col-md-7">Type your Full Name before Registering the Transfer</dt>
                        <dd class="col-md-5"><input type="text" [(ngModel)]="confirmedFullNameForRegistration" /></dd>
                    </dl>
                    <div class="text-center">
                        <button class="btn btn-rio btn-sm mr-1" (click)="submitRegistration()"
                            [disabled]="!isFullNameConfirmedForRegistration() || isLoadingSubmit">
                            <span *ngIf="isLoadingSubmit" class="fa fa-spinner loading-spinner"></span>
                            Confirm and Register Transfer
                        </button>
                        <button class="btn btn-rio btn-sm" (click)="cancelRegistration()">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6" *ngIf="isBuyerOrSeller() && !canRegister()">
            <div class="card">
                <div class="card-header">
                    Your Actions
                </div>
                <div class="card-body">
                    <p>This transfer has already been registered.</p>
                </div>
            </div>
        </div>
    </div>
</div>