<div class="breadcrumb-container"> 
    <div class="container">
        <nav aria-label="breadcrumb" *ngIf="parcel">
            <ol class="breadcrumb">
                <li class="breadcrumb-item" aria-current="page">
                    <a routerLink="/parcels/{{parcelID}}">{{parcel.ParcelNumber}}</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">
                    Change Parcel Owner
                </li>
            </ol>
        </nav>
    </div>
</div>
<div class="container mt-sm-4">
    <h2>
        Change Parcel Owner
    </h2>
    <app-alert-display></app-alert-display>
    <form (ngSubmit)="onSubmit(changeOwnerForm)" #changeOwnerForm="ngForm">
        <div class="row mt-4">
            <div class="col-sm-8">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-12">
                                <p><strong class="required">Is the parcel being inactivated?</strong></p>
                                <label class="ml-2"><input type="radio" name="parcelToBeInactivated"
                                        [(ngModel)]="parcelToBeInactivated" [value]="true" /> Yes</label>
                                <label class="ml-2"><input type="radio" name="parcelToBeInactivated"
                                        [(ngModel)]="parcelToBeInactivated" [value]="false" /> No</label>
                            </div>
                        </div>

                        <div class="row" *ngIf="!parcelToBeInactivated">
                            <div class="col-sm-12">
                                <ngx-select-dropdown [multiple]="false" [config]="accountDropdownConfig"
                                    name="selectedAccount" [(ngModel)]="selectedAccount" [options]="accounts">
                                </ngx-select-dropdown>
                            </div>
                        </div>

                        <hr/>

                        <div class="row">
                            <div class="col-sm-12">
                                <p>
                                    <strong class="required">
                                        Select the Water Year for changes to take effect.
                                    </strong>
                                </p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12">
                                <ngx-select-dropdown [multiple]="false" [config]="waterYearDropdownConfig"
                                    name="effectiveWaterYear" [(ngModel)]="effectiveWaterYear" [options]="waterYears">
                                </ngx-select-dropdown>
                            </div>
                        </div>

                        <hr />

                        <div class="row" *ngIf="effectiveWaterYear && effectiveWaterYear.WaterYearID !== currentWaterYear.WaterYearID">
                            <div class="col-sm-12">
                                <p><strong class="required">Should this change be applied to subsequent Water Years?</strong></p>
                                <label class="ml-2"><input type="radio" name="applyToSubsequentYears"
                                        [(ngModel)]="applyToSubsequentYears" [value]="true" /> Yes</label>
                                <label class="ml-2"><input type="radio" name="applyToSubsequentYears"
                                        [(ngModel)]="applyToSubsequentYears" [value]="false" /> No</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-4">
            <div class="col-sm-2">
                <i class="fas fa-bolt"></i> Required field
            </div>
            <div class="col-sm-6 text-right">
                <button type="submit" class="btn btn-rio"
                    [disabled]="!changeOwnerForm.form.valid || !this.formValid() || isLoadingSubmit">
                    <span *ngIf="isLoadingSubmit" class="fa fa-spinner loading-spinner"></span>
                    Submit
                </button>
                <a class="btn btn-secondary ml-1" routerLink="/parcels/{{parcelID}}">Cancel</a>
            </div>
        </div>
    </form>
</div>