<div class="breadcrumb-container"> 
    <div class="container">
        <nav aria-label="breadcrumb" *ngIf="parcel">
            <ol class="breadcrumb">
                <li class="breadcrumb-item" aria-current="page">
                    <a routerLink="/parcels/{{parcelID}}">{{parcel.ParcelNumber}}</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">
                    Change Parcel Owner
                </li>
            </ol>
        </nav>
    </div>
</div>
<div class="container mt-sm-4">
    <h2>
        Change Parcel Owner
    </h2>
    <app-alert-display></app-alert-display>
    <form (ngSubmit)="onSubmit(changeOwnerForm)" #changeOwnerForm="ngForm">
        <div class="row mt-4">
            <div class="col-sm-8">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-12">
                                <p><strong class="required">Does the Owner have an account in the platform?</strong></p>
                                <label class="ml-2"><input type="radio" name="ownerHasAccount"
                                        [(ngModel)]="ownerHasAccount" [value]="true" /> Yes</label>
                                <label class="ml-2"><input type="radio" name="ownerHasAccount"
                                        [(ngModel)]="ownerHasAccount" [value]="false" /> No</label>
                            </div>
                        </div>

                        <div class="row" *ngIf="ownerHasAccount">
                            <div class="col-sm-12">
                                <ngx-select-dropdown [multiple]="false" [config]="accountDropdownConfig"
                                    name="selectedAccount" [(ngModel)]="selectedAccount" [options]="accounts">
                                </ngx-select-dropdown>
                            </div>
                        </div>

                        <div class="row" *ngIf="!ownerHasAccount">
                            <div class="col-sm-12">
                                <input type="text" name="ownerNameUntracked" [(ngModel)]="ownerNameUntracked"
                                    placeholder="Enter the name of the new owner" class="form-control">
                            </div>
                        </div>

                        <hr/>

                        <div class="row">
                            <div class="col-sm-12">
                                <p>
                                    <strong class="required">
                                        Enter the date of the sale.
                                    </strong>
                                </p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12">
                                <my-date-picker name="saleDate" [options]="myDatePickerOptions" [(ngModel)]="saleDate"
                                    required>
                                </my-date-picker>
                            </div>
                        </div>

                        <hr />

                        <div class="row">
                            <div class="col-sm-12">
                                <p>
                                    <strong>
                                        Enter the year that the change in ownership should take effect, if different
                                        from the sale year.
                                    </strong>
                                </p>
                            </div>
                        </div>

                        <div>
                            <div class="col-sm-12 px-0">
                                <input type="number" step="1" name="effectiveYear" [(ngModel)]="effectiveYear"
                                    class="form-control" placeholder="Effective Year">
                            </div>
                        </div>

                        <hr />

                        <div class="row">
                            <div class="col-sm-12">
                                <textarea type="textarea" name="note" [(ngModel)]="note" class="form-control"
                                    placeholder="Notes (Optional)" maxlength="500">

                               </textarea>
                                <em>{{500 - note.length}} characters remaining</em>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-4">
            <div class="col-sm-2">
                <i class="fas fa-bolt"></i> Required field
            </div>
            <div class="col-sm-6 text-right">
                <button type="submit" class="btn btn-rio"
                    [disabled]="!(changeOwnerForm.form.valid && formValid()) || isLoadingSubmit">
                    <span *ngIf="isLoadingSubmit" class="fa fa-spinner loading-spinner"></span>
                    Submit
                </button>
                <a class="btn btn-secondary ml-1" routerLink="/parcels/{{parcelID}}">Cancel</a>
            </div>
        </div>
    </form>
</div>