<div class="breadcrumb-container">
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item" aria-current="page">
                    <a routerLink="/manager-dashboard">Manager Dashboard</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">
                    Manage Water Allocation
                </li>
            </ol>
        </nav>
    </div>
</div>
<div class="container mt-sm-4">
    <div class="row">
        <div class="col-9">
            <h2>
                Manage Water Allocation
            </h2>
        </div>
    </div>
    <app-alert-display></app-alert-display>
    <div class="row">
        <div class="col">
            <p class="lead">
                Use this page to assign a water allocation to all parcels in the platform. Enter the year, the
                allocation type,and the unit quantity to allocate. Any existing allocations will be overwritten by the
                new data. You can also manually allocate water one parcel at a time via the Parcel detail pages.
                Allocation set for the next water year will be visible to Landowners starting in November of the current
                year.
            </p>

            <p class="lead">
                Please download the Account Usage Report from the <a routerLink="/manager-dashboard"
                    routerLinkActive="true">Manager Dashboard</a> to perform the off system
                reconciliation process and calculate stored water. Assign Reconciliation values by uploading a CSV file
                with columns called "Account Number" and "Reconciliation Volume". For Stored Water upload a CSV file
                with columns called "Account Number" and "Stored Water Volume". The Reconciliation or Stored Water values will
                be applied proportionally across parcels associated with an account based on acreage.
            </p>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-lg-10">
            <div class="card">
                <div class="card-header">
                    <div class="float-right">
                        <rio-water-year-select [years]="waterYears" [(selectedYear)]="waterYearToDisplay"
                            [selectYearLabel]="'Setting Data for Year'"
                            (selectedYearChange)="updateAllocationSetDateDisplayVariables()"></rio-water-year-select>
                    </div>
                    <div class="mt-2">{{waterYearToDisplay}} Allocation for all Parcels</div>
                </div>
                <div class="card-body" *ngIf="parcelAllocationTypes && allocationHistoryEntries">
                    <ng-container *ngFor="let parcelAllocationType of getAcreageBasedAllocationTypes()">
                        <div class="row mb-1">
                            <div class="col my-auto">
                                <form class="form-inline">
                                    <div class="form-group row w-100">
                                        <label for="getParcelAllocationTypeLabel(parcelAllocationType)" class="col-form-label col-3 d-inline-block">
                                            <strong>{{parcelAllocationType.ParcelAllocationTypeName}}</strong>
                                            <br class="br-special" />
                                            <span
                                                style="font-size:10px">{{getLastSetDateForParcelAllocationType(parcelAllocationType) ? "Last set " + getLastSetDateForParcelAllocationType(parcelAllocationType) : "No record of last set date"}}</span>
                                        </label>
                                        <div class="col">
                                            <input type="number" #waterAllocation id="{{getParcelAllocationTypeLabel(parcelAllocationType)}}"
                                                class="form-control" placeholder="3.0" style="max-width:75px" required>
                                            ac-ft per parcel acre
                                        </div>
                                        <button type="button" class="btn btn-rio"
                                            (click)="submitBulkAllocation(parcelAllocationType)"
                                            [disabled]="isLoadingSubmit">Save to all Parcels</button>
                                    </div>
                                </form>
                            </div>
                        </div>

                    </ng-container>
                </div>

                <!--TODO: this is the old card. Get rid once the new card is working-->
                <div class="card-body">
                    <div class="row mb-1">
                        <div class="col my-auto">
                            <form class="form-inline">
                                <div class="form-group row w-100">
                                    <label for="projectWater" class="col-form-label col-3 d-inline-block">
                                        <strong>{{ParcelAllocationTypeStatic.ProjectWater}}</strong>
                                        <br class="br-special" />
                                        <span
                                            style="font-size:10px">{{lastProjectWaterSetDate ? "Last set " + lastProjectWaterSetDate : "No record of last set date"}}</span>
                                    </label>
                                    <div class="col">
                                        <input type="number" #projectWaterAllocation id="projectWater"
                                            class="form-control" placeholder="3.0" style="max-width:75px" required>
                                        ac-ft per parcel acre
                                    </div>
                                    <button type="button" class="btn btn-rio"
                                        (click)="submitBulkAllocation(ParcelAllocationTypeStatic.ProjectWater,projectWaterAllocation.value)"
                                        [disabled]="isLoadingSubmit">Save to all Parcels</button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div *ngIf="displayErrors[ParcelAllocationTypeStatic.ProjectWater.toString()]" class="row mb-1">
                        <div class="col danger">
                            Please enter a value before submitting
                        </div>
                    </div>
                    <div class="row mb-1">
                        <div class="col my-auto">
                            <form class="form-inline">
                                <div class="form-group row w-100">
                                    <label for="nativeYield" class="col-form-label col-3 d-inline-block">
                                        <strong>{{ParcelAllocationTypeStatic.NativeYield}}</strong>
                                        <br class="br-special" />
                                        <span
                                            style="font-size:10px">{{lastNativeYieldSetDate ? "Last set " + lastNativeYieldSetDate : "No record of last set date"}}</span>
                                    </label>
                                    <div class="col">
                                        <input type="number" #nativeYieldAllocation id="nativeYield"
                                            class="form-control" placeholder="0.15" style="max-width:75px" required>
                                        ac-ft per parcel acre
                                    </div>
                                    <button type="button" class="btn btn-rio"
                                        (click)="submitBulkAllocation(ParcelAllocationTypeStatic.NativeYield,nativeYieldAllocation.value)"
                                        [disabled]="isLoadingSubmit">Save to all Parcels</button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div *ngIf="displayErrors[ParcelAllocationTypeStatic.NativeYield.toString()]" class="row mb-1">
                        <div class="col danger">
                            Please enter a value before submitting
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <form class="form-inline">
                                <div class="form-group row w-100">
                                    <label for="reconciliationFileUpload" class="col-form-label col-3 d-inline-block">
                                        <strong>{{ParcelAllocationTypeStatic.Reconciliation}}</strong>
                                        <br class="br-special" />
                                        <span
                                            style="font-size:10px">{{lastReconciliationFileUploadDate ? "Last uploaded " + lastReconciliationFileUploadDate : "No record of last set date"}}</span>
                                    </label>
                                    <div class="input-group col ml-3 p-0">
                                        <div class="custom-file">
                                            <input type="file" class="custom-file-input" id="reconciliationFileUpload"
                                                #fileUpload
                                                (change)="fileEvent(ParcelAllocationTypeStatic.Reconciliation)">
                                            <label class="custom-file-label"
                                                for="reconciliationFileUpload">{{getFileName(ParcelAllocationTypeStatic.Reconciliation)}}</label>
                                        </div>
                                        <div class="input-group-append">
                                            <button class="btn btn-rio" type="button"
                                                (click)="openFileUpload(ParcelAllocationTypeStatic.Reconciliation)"><i
                                                    class="fas fa-folder-open"></i></button>
                                        </div>
                                    </div>
                                    <div class="col-3 text-right p-0">
                                        <button type="button" class="btn btn-rio"
                                            [disabled]="isLoadingSubmit || displayFileErrors[ParcelAllocationTypeStatic.Reconciliation.toString()]"
                                            (click)="uploadAllocationFile(ParcelAllocationTypeStatic.Reconciliation)">Upload
                                            &
                                            Save</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div *ngIf="displayErrors[ParcelAllocationTypeStatic.Reconciliation.toString()]" class="row mb-1">
                        <div class="col danger">
                            Please choose a file before submitting
                        </div>
                    </div>
                    <div *ngIf="displayFileErrors[ParcelAllocationTypeStatic.Reconciliation.toString()]"
                        class="row mb-1">
                        <div class="col danger">
                            You must select a CSV file to upload
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <form class="form-inline">
                                <div class="form-group row w-100">
                                    <label for="storedWaterFileUpload" class="col-form-label col-3 d-inline-block">
                                        <strong>{{ParcelAllocationTypeStatic.StoredWater}}</strong>
                                        <br class="br-special" />
                                        <span
                                            style="font-size:10px">{{lastStoredWaterFileUploadDate ? "Last uploaded " + lastStoredWaterFileUploadDate : "No record of last set date"}}</span>
                                    </label>
                                    <div class="input-group col ml-3 p-0">
                                        <div class="custom-file">
                                            <input type="file" class="custom-file-input" id="storedWaterFileUpload"
                                                #fileUpload
                                                (change)="fileEvent(ParcelAllocationTypeStatic.StoredWater)">
                                            <label class="custom-file-label"
                                                for="storedWaterFileUpload">{{getFileName(ParcelAllocationTypeStatic.StoredWater)}}</label>
                                        </div>
                                        <div class="input-group-append">
                                            <button class="btn btn-rio" type="button"
                                                (click)="openFileUpload(ParcelAllocationTypeStatic.StoredWater)"><i
                                                    class="fas fa-folder-open"></i></button>
                                        </div>
                                    </div>
                                    <div class="col-3 text-right p-0">
                                        <button type="button" class="btn btn-rio"
                                            [disabled]="isLoadingSubmit || displayFileErrors[ParcelAllocationTypeStatic.StoredWater.toString()]"
                                            (click)="uploadAllocationFile(ParcelAllocationTypeStatic.StoredWater)">Upload
                                            &
                                            Save</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div *ngIf="displayErrors[ParcelAllocationTypeStatic.StoredWater.toString()]" class="row mb-1">
                        <div class="col danger">
                            Please choose a file before submitting
                        </div>
                    </div>
                    <div *ngIf="displayFileErrors[ParcelAllocationTypeStatic.StoredWater.toString()]" class="row mb-1">
                        <div class="col danger">
                            You must select a CSV file to upload
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    Allocation History (All Years)
                </div>
                <div class="card-body">
                    <ag-grid-angular #parcelAllocationHistoryGrid style="width: 100%; height: 300px;"
                        class="ag-theme-balham" [columnDefs]="parcelAllocationHistoryGridColumnDefs" [pagination]="true"
                        [paginationPageSize]="100">
                    </ag-grid-angular>
                </div>
            </div>
        </div>
    </div>
</div>