<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">Glossary</li>
    </ol>
</nav>
<div class="container">
    <app-alert-display></app-alert-display>
    <h2>Glossary</h2>
    <div class="row mt-4">
        <div class="col-md-12">
            <dl>
                <dt>Project Water</dt>
                <dd class="p-2">Project Water is those surface water supplies which are recharged within and by Rosedale-Rio Bravo
                    Water
                    Storage District ("Rosedale") for the benefit of its landowners. The amount of Project Water is
                    determined
                    by taking the average annual net recharge attributable to the Rosedale Project over a running 20
                    year
                    period. Project Water is allocated proportional to acreage within the Rosedale service area. Any
                    project
                    water not utilized by the landowner within a calendar year will be subject to Reconciliation.</dd>
                <dt>Native Yield</dt>
                <dd class="p-2">Native Yield is the amount of groundwater available to a landowner for overlying use. The Kern
                    Groundwater
                    Authority, in coordination with other Groundwater Sustainability Agencies within the region, has
                    developed
                    an initial estimate of Native Yield at .15 Acre-feet per Acre. Native Yield is allocated
                    proportional to
                    acreage within the groundwater basin. This number may be revised in the future based upon updated
                    information.</dd>
                <dt>Stored Water</dt>
                <dd class="p-2">Stored Water is that water which is acquired by the landowner separate and apart from Project Water.
                    Landowners may acquire water from other interests and deliver the acquired water into Rosedale for
                    the
                    benefit of the landowner(s). Stored water may be carried-forward for use into future years and may
                    not be
                    subject to Reconciliation.</dd>
                <dt>Reconciliation</dt>
                <dd class="p-2">Rosedale shall credit each landowner with their proportionate share of Project Water and Native
                    Yield on
                    January 1 of each calendar year. Stored water, if available, shall be carried forward into each
                    calendar
                    year. At the end of each calendar year, Rosedale shall reallocate any unused Project Water from
                    those lands
                    which used less than their allocated share of Project Water to those lands which utilized more than
                    their
                    initial allocation of Project Water. Utilization of Project Water shall be determined by
                    evapotranspiration
                    data.</dd>
            </dl>
        </div>
    </div>
</div>