<nav aria-label="breadcrumb" *ngIf="account">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a routerLink="/accounts">Accounts</a>
      </li>
      <li class="breadcrumb-item">
        <a routerLink="/accounts/{{account?.AccountID}}">
          {{account.AccountName}}
        </a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">
        Edit Basics
      </li>
    </ol>
  </nav>
  <div class="container mt-sm-4" *ngIf="account">
      <h2 style="display: inline-block">{{account.AccountName}}</h2>
      <app-alert-display></app-alert-display>
    <div class="col-sm-12">
      <form (ngSubmit)="onSubmit(editAccountForm)" #editAccountForm="ngForm">
        <div class="form-group mt-4">
          <div class="col-sm-2 control-label">
            <label class="required">Status</label>
          </div>
          <div class="col-sm-10">
            <select name="RoleID" class="form-control" [(ngModel)]="model.AccountStatusID" required>
              <option value=""></option>
              <option *ngFor="let accountStatus of accountStatuses" [value]="accountStatus.AccountStatusID">
                {{accountStatus.AccountStatusDisplayName}}
              </option>
            </select>
          </div>
        </div>
        <div class="row">
          <div class="col-sm">
            <i class="fas fa-bolt"></i> Required field
          </div>
          <div class="col-sm text-right">
            <button type="submit" class="btn btn-rio" [disabled]="!editAccountForm.form.valid || isLoadingSubmit">
              <span *ngIf="isLoadingSubmit" class="fa fa-spinner loading-spinner"></span>
              Submit
            </button>
            <a class="btn btn-secondary ml-1" routerLink="/accounts/{{account?.AccountID}}">Cancel</a>
          </div>
        </div>
      </form>
    </div>
  </div>