@import "scss/_variables.scss";

// import Bootstrap AFTER variables
@import "~bootstrap/scss/bootstrap";

@import "scss/_grids.scss";
@import "~leaflet/dist/leaflet.css";
//@import "~leaflet-draw/dist/leaflet.draw.css";

@import "scss/_sticky_footer.scss";
@import "scss/_forms.scss";
@import "scss/_custom-bootstrap.scss";

//ckeditor css
//ckeditor css

.image {
  display:table;
  clear: both;
  text-align:center;
  margin:1em auto;
}

.image>img {
  display:block;
  margin:0 auto;
  max-width:100%;
  min-width: 50px;
}

.image-style-side,
.image-style-align-left,
.image-style-align-center,
.image-style-align-right {
  max-width: 50%;
}

.image-style-side {
  float: right;
  margin-left: var(--ck-image-style-spacing);
}

.image-style-align-left {
  float: left;
  margin-right: var(--ck-image-style-spacing);
}

.image-style-align-center {
  margin-left: auto;
  margin-right: auto;
}

.image-style-align-right {
  float: right;
  margin-left: var(--ck-image-style-spacing);
}

blockquote {
  overflow: hidden;
  padding-right: 1.5em;
  padding-left: 1.5em;
  margin-left: 0;
  margin-right: 0;
  font-style: italic;
  border-left: 5px solid #ccc;
}

figure.media {
  clear:both;
  margin: 1em 0;
  display: block;
  min-width:15em;
}

.ck.ck-balloon-panel.ck-balloon-panel_visible {
  //to account for in popover case
  z-index:1061;
}
//end ckeditor css

.switch {
  position: relative;
  display: inline-block;
  width: 98px;
  height: 21px;
  padding: 0;
  margin: 0;
}

.switch input {
  display: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #6b6b6b;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 17px;
  width: 17px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: $button-border-and-background;
}

input:focus + .slider {
  box-shadow: 0 0 1px $button-border-and-background;
}

input:checked + .slider:before {
  -webkit-transform: translateX(77px);
  -ms-transform: translateX(7px);
  transform: translateX(77px);
}

/*------ ADDED CSS ---------*/
.on {
  display: none;
}

.on,
.off {
  color: white;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  font-size: 10px;
}

input:checked + .slider .on {
  display: block;
}

input:checked + .slider .off {
  display: none;
}

/*--------- END --------*/

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/*-----ngx-pagination styles------*/
.ngx-pagination {
  padding-left:0;
}

.ngx-pagination .current {
  background: $button-border-and-background !important;
}
/*------end-------*/

/*------ngx-charts styles-------*/
.chart-legend .legend-labels {
  background: none !important;
}
/*------end--------*/
