<ul class="navbar-nav mt-2 mt-lg-0 mr-sm-2">
  <li class="navbar-text" *ngIf="hasToken()">
      Welcome {{getCurrentGivenName()}} |
  </li>
  <li class="nav-item" routerLinkActive="active" *ngIf="!hasToken()">
      <a href="javascript:void(0);" (click)="login()" routerLinkActive="active" class="nav-link">Sign In</a>
  </li>
  <li class="nav-item" routerLinkActive="active" *ngIf="hasToken()">
      <a href="javascript:void(0);" (click)="logout()" routerLinkActive="active" class="nav-link signOut">Sign Out</a>
  </li>
</ul>
