<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active" aria-current="page">Market Metrics</li>
  </ol>
</nav>
<div class="container mt-sm-4">
  <h2 style="display: inline-block">
    Market Metrics
  </h2>
  <app-alert-display></app-alert-display>
  <div class="row mt-4">
    <div class="col-sm-12 col-md-7" *ngIf="marketMetrics">
      <div class="card">
        <div class="card-header">
          Current Trading Conditions
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-sm table-borderless">
              <tr>
                <th class="text-sm-left pb-0 mb-0">
                  Current Ask
                </th>
                <td class="text-sm-right pb-0 mb-0" style="white-space: nowrap;">
                  {{getMostRecentOfferToSell()}}
                </td>
              </tr>
              <tr>
                <td colspan="2" class="text-left pt-0 mt-0">
                  <small>Most recent Offer to Sell</small>
                </td>
              </tr>
              <tr>
                <th class="text-sm-left pb-0 mb-0">
                  Current Bid
                </th>
                <td class="text-sm-right pb-0 mb-0">
                  {{getMostRecentOfferToBuy()}}
                </td>
              </tr>
              <tr>
                <td colspan="2" class="text-left pt-0 mt-0">
                  <small>Most recent Offer to Buy</small>
                </td>
              </tr>
              <tr>
                <th class="text-sm-left pb-0 mb-0">
                  Total Ask Volume
                </th>
                <td class="text-sm-right pb-0 mb-0">
                  {{marketMetrics.TotalSellVolume | number: "1.0" }} ac-ft
                </td>
              </tr>
              <tr>
                <td colspan="2" class="text-left pt-0 mt-0">
                  <small>Total volume of all Offers to Sell</small>
                </td>
              </tr>
              <tr>
                <th class="text-sm-left pb-0 mb-0">
                  Total Bid Volume
                </th>
                <td class="text-sm-right pb-0 mb-0">
                  {{marketMetrics.TotalBuyVolume | number: "1.0" }} ac-ft
                </td>
              </tr>
              <tr>
                <td colspan="2" class="text-left pt-0 mt-0">
                  <small>Total volume of all Offers to Buy</small>
                </td>
              </tr>
              <tr>
                <td colspan="2">
                  <hr />
                </td>
              </tr>
              <tr>
                <th class="text-sm-left pb-0 mb-0">
                  Last Trade
                </th>
                <td class="text-sm-right pb-0 mb-0">
                  {{getMostRecentRegisteredTrade()}}
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <h3 class="mt-4">Historic Trading Conditions</h3>
  <div class="row mt-4">
    <div class="col-sm-12">
      <div class="card" *ngIf="offerHistorySeries">
        <div class="card-header">
          Offer History
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-sm-11 px-2 mb-3" style="height: 400px">
              <ngx-charts-line-chart class="chart-container" [scheme]="colorScheme" [results]="offerHistorySeries"
                [animations]="true" [legend]="false" [legendTitle]="" [legendPosition]="'bottom'"
                (legendLabelClick)="onLegendLabelClick($event)" [gradient]="true" [xAxis]="true" [yAxis]="true"
                [showXAxisLabel]="false" [showYAxisLabel]="true" [xAxisLabel]="" [yAxisLabel]="$" [autoScale]="true"
                [showGridLines]="true" [roundDomains]="true" [tooltipDisabled]="false" [trimXAxisTicks]="false"
                [trimYAxisTicks]="false" [rotateXAxisTicks]="true" (select)="select($event)"
                (activate)="activate($event)" (deactivate)="deactivate($event)">
              </ngx-charts-line-chart>
            </div>
            <div class="col-sm-1 px-1 mb-3" style="height: 400px">
              <ngx-charts-legend class="chart-legend" [data]="priceLineSeries" [title]="false" [colors]="lineSeriesColors" [width]="100"
                  (labelActivate)="legendLabelActivate($event)" (labelDeactivate)="legendLabelDeactivate($event)">
              </ngx-charts-legend>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-sm-12">
      <div class="card" *ngIf="tradeVolumeByMonthSeries">
        <div class="card-header">
          Volume Traded
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-sm-11 px-2 mb-3" style="height: 400px">
              <ngx-charts-bar-vertical [scheme]="colorScheme" [results]="tradeVolumeByMonthSeries" [gradient]="true"
                [xAxis]="true" [yAxis]="true" [legend]="false" [showXAxisLabel]="true" [showYAxisLabel]="true"
                [xAxisLabel]="" [yAxisLabel]="'Acre Feet'" (select)="onSelect($event)">
              </ngx-charts-bar-vertical>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-sm-12">
      <div class="card" *ngIf="tradeActivityByMonth">
        <div class="card-header">
          Trading Summary
        </div>
        <div class="card-body">
          <div class="row">
            <div class="mt-3 table-responsive">
              <table class="table table-condensed small">
                <thead>
                  <tr>
                    <th>Month</th>
                    <th *ngFor="let monthlyTradeActivity of tradeActivityByMonth" class="text-right">
                      {{monthlyTradeActivity.GroupingDate | date:"MMM yyyy"}}</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td># of Trades</td>
                    <td *ngFor="let monthlyTradeActivity of tradeActivityByMonth" class="text-right">
                      {{monthlyTradeActivity.NumberOfTrades | number:"1.0-0" }}</td>
                  </tr>
                  <tr>
                    <td>Volume</td>
                    <td *ngFor="let monthlyTradeActivity of tradeActivityByMonth" class="text-right">
                      {{monthlyTradeActivity.TradeVolume| number:"1.1-1" }}</td>
                  </tr>
                  <tr>
                    <td>Min Price</td>
                    <td *ngFor="let monthlyTradeActivity of tradeActivityByMonth" class="text-right">
                      {{monthlyTradeActivity.MinimumPrice | currency:"USD" }}</td>
                  </tr>
                  <tr>
                    <td>Max Price</td>
                    <td *ngFor="let monthlyTradeActivity of tradeActivityByMonth" class="text-right">
                      {{monthlyTradeActivity.MaximumPrice | currency:"USD" }}</td>
                  </tr>
                  <tr>
                    <td>Avg Price</td>
                    <td *ngFor="let monthlyTradeActivity of tradeActivityByMonth" class="text-right">
                      {{monthlyTradeActivity.AveragePrice | currency:"USD" }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>