<div class="breadcrumb-container">
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
<li class="breadcrumb-item">
     <a routerLink="/">Home</a>
 </li>
                <li class="breadcrumb-item active" aria-current="page">Measuring Water Use with OpenET</li>
            </ol>
        </nav>
    </div>
</div>
<div class="container mt-sm-4">
    <app-alert-display></app-alert-display>    
    <div class="row mb-2">
        <div class="col">
            <h2 class="d-inline-block">Measuring Water Use with OpenET</h2>
        </div>
    </div>
    <div class="mt-2">
        <rio-custom-rich-text [customRichTextTypeID]="richTextTypeID"></rio-custom-rich-text>
    </div>
    <hr/>
    <div class="row">
        <div class="col mb-2">
            <strong>Learn more about OpenET at <a href="https://openetdata.org/" target="_blank">https://openetdata.org</a> or <a href="assets/main/files/openet-faq-rrb.pdf" target="_blank">download the OpenET FAQ</a></strong>
        </div>
    </div>
</div>