@import "~src/scss/_variables.scss";

li.list-group-item.parcel-map {
    cursor:pointer;
}

li.list-group-item.parcel-map:hover {
    background-color:#EEE;
}

li.list-group-item.parcel-map.selected {
    background-color: #FFFF85;
}

li.list-group-item.header {
    cursor:pointer;
    background-color: #dfdfdf;
    color: #000;
    border-top:0;
}

li.list-group-item.header:hover {
    background-color:#EEE;
    color: #fff;
    background-color: $button-toggle-hover;
}

li.list-group-item.header.selected {
    background-color:  $button-border-and-background;
    color: #EEE;
}

#activity-summary .label {
    display: block;
    font-size: 10pt;
    font-weight: bold;
}

#activity-summary .card-body {
    max-height: 60vh;
    overflow: auto;
}

.h3 {
    font-size: 15pt;
    font-weight: bold;
}

#page-controls-bar {
    background-color: $secondary;
    border-bottom: solid 2px $button-border-and-background;
}

#page-controls-bar a {
    color: #000;
}

#page-controls-bar i {
    color: #222;
}

#unit-selector .btn-group .btn {
    background-color: $card-cap-bg;
    border: none;
}

#unit-selector .btn-group .active {
    background-color: $button-border-and-background
}