<div class="breadcrumb-container">
  <div class="container">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb breadcrumb-empty">
        <li class="breadcrumb-item active" aria-current="page">Landowner Dashboard</li>
      </ol>
    </nav>
  </div>
</div>
<div class="container">
  <app-alert-display></app-alert-display>
  <ngb-alert *ngIf="!loadingActiveAccount && parcelsToBeReconciled?.length > 0" [type]="'info'" [dismissible]="false">
    <span>
      Parcel(s) associated with this account are not receiving water allocation and usage data 
      because the Parcel Number had duplicate ownership information in the most recent parcel update. 
      Please contact the platform administrator to determine how usage and allocation for these APN(s) 
      should be assigned: {{getParcelNumbersForParcelsToBeReconciled()}}
    </span>
</ngb-alert>
</div>
<ng-container *ngIf="!loadingActiveAccount; else loadingBlock">
  <div class="container mb-3" style="position:sticky; top:0; background-color:#FFF; z-index: 1000;">
    <div class="row">
      <div class="col col-auto mr-auto mt-2 mb-3">
        <h2>
          {{getAccountDisplayName()}}
        </h2>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-2 col-sm-12 d-flex" *ngIf="waterYears">
        <rio-water-year-select [waterYears]="waterYears" [(selectedYear)]="waterYearToDisplay"
          (selectedYearChange)="updateAnnualData()"></rio-water-year-select>
      </div>
      <div class="col">
        <ul class="list-group list-group-flush text-center text-lg-left flex-row" style="width:100%">
          <li class="list-group-item header p-0" style="width:100%" *ngFor="let item of getViewEnum()"
            [class.selected]="checkSelectedView(item)" (click)="updateView(item)" (mouseenter)="hoverItem = item"
            (mouseleave)="hoverItem = null" placement="top" ngbTooltip="{{item}}" tooltipClass="selector-tooltip">
            <div class="container" style="height:100%">
              <div class="row d-flex flex-wrap align-items-center" style="height:100%">
                <div class="col-lg-3 col-sm-12 p-0">
                  <img src="{{getImgSrcForSelector(item)}}" style="max-width:75px;width:100%" alt="{{item}}">
                </div>
                <div class="col-lg-9 pl-0 d-lg-block d-none">
                  {{item}}
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="container d-flex mb-3">
    <div class="btn-group btn-group-toggle m-auto">
      <label class="btn btn-toggle btn-sm btn-rio" [ngClass]="unitsShown === 'ac-ft' ? 'active' : ''"
        style="width:65px;">
        <input type="radio" name="units" id="ac-ft" (click)="toggleUnitsShown('ac-ft')"> ac-ft
      </label>
      <label class="btn btn-toggle btn-sm btn-rio" [ngClass]="unitsShown === 'ac-ft / ac' ? 'active' : ''">
        <input type="radio" name="units" id="ac-ft/ac" (click)="toggleUnitsShown('ac-ft / ac')"> ac-ft/ac
      </label>
    </div>
  </div>
  <div class="container" *ngIf="activeAccount">
    <div class="row"
      *ngIf="userHasParcels() && waterUsages && sectionCurrentlyViewing == LandownerDashboardViewEnum.WaterBudget">
      <div class="col-sm-12 col-lg-5">
        <div class="card">
          <div class="card-header">
            <span class="align-middle"> Water Budget Overview </span>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-sm table-borderless">
                <tr>
                  <th class="text-sm-left pb-0 mb-0">
                    <a style="cursor: pointer" class="collapsed"
                      (click)="showAcresManagedDetails = !showAcresManagedDetails">
                      <i *ngIf="showAcresManagedDetails else dontShowAcresManagedDetails"
                        class="fas fa-minus text-muted" style="font-size: smaller"></i>
                      <ng-template #dontShowAcresManagedDetails>
                        <i class="fas fa-plus text-muted" style="font-size: smaller"></i>
                      </ng-template>
                      Acres Managed
                    </a>
                  </th>
                  <td class="text-sm-right pb-0 mb-0">
                    {{getTotalAPNAcreage() | number: '1.1-1'}} ac
                  </td>
                </tr>
                <ng-container *ngIf="showAcresManagedDetails">
                  <tr>
                    <td colspan="2">
                      <hr class="p-0 m-0" />
                    </td>
                  </tr>
                  <tr *ngFor="let parcel of parcels">
                    <th class="text-sm-right"><a routerLink="/parcels/{{parcel.ParcelID}}">{{parcel.ParcelNumber}}</a>
                    </th>
                    <td class="text-sm-right">{{parcel.ParcelAreaInAcres | number: '1.1-1'}} ac
                    </td>
                  </tr>
                </ng-container>
                <tr>
                  <td colspan="2" class="text-left pt-0 mt-0">
                    <small>Total acres of all your managed parcels</small>
                  </td>
                </tr>
                <tr>
                  <td colspan="2">
                    <hr style="border: 1px solid #000;" />
                  </td>
                </tr>
                <tr>
                  <th class="text-sm-left pb-0 mb-0">
                    <a style="cursor: pointer" class="collapsed"
                      (click)="showAllocationDetails = !showAllocationDetails">
                      <i *ngIf="showAllocationDetails else dontShowAllocationDetails" class="fas fa-minus text-muted"
                        style="font-size: smaller"></i>
                      <ng-template #dontShowAllocationDetails>
                        <i class="fas fa-plus text-muted" style="font-size: smaller"></i>
                      </ng-template>
                      Allocation
                    </a>
                  </th>
                  <td class="text-sm-right pb-0 mb-0">
                    {{getAnnualAllocation(waterYearToDisplay?.Year) | number: '1.1-1'}} {{unitsShown}}
                  </td>
                </tr>
                <ng-container *ngIf="showAllocationDetails">
                  <tr>
                    <td colspan="2">
                      <hr class="p-0 m-0" />
                    </td>
                  </tr>
                  <tr *ngFor="let waterType of waterTypes">
                    <th class="text-sm-right">
                      {{waterType.WaterTypeName}}
                      <a routerLink="/glossary" target="_blank" style="cursor:pointer" placement="top"
                        ngbTooltip="Learn about {{waterType.WaterTypeName}}"><i
                          class="fas fa-question-circle small"></i></a>
                    </th>
                    <td class="text-sm-right">
                      {{getAllocationByWaterType(waterType) | number: '1.1-1'}} {{unitsShown}}
                    </td>
                  </tr>
                </ng-container>
                <tr>
                  <td colspan="2" class="text-left pt-0 mt-0">
                    <small>Your annual allocated water budget</small>
                  </td>
                </tr>
                <ng-container *ngIf="allowTrading()">
                  <tr>
                    <th class="text-sm-left pb-0 mb-0">
                      <a style="cursor: pointer" class="collapsed"
                        (click)="showPurchasedDetails = !showPurchasedDetails">
                        <i *ngIf="showPurchasedDetails else dontShowPurchasedDetails" class="fas fa-minus text-muted"
                          style="font-size: smaller"></i>
                        <ng-template #dontShowPurchasedDetails>
                          <i class="fas fa-plus text-muted" style="font-size: smaller"></i>
                        </ng-template>
                        Purchased
                      </a>
                    </th>
                    <td class="text-sm-right pb-0 mb-0">
                      <span *ngIf="getPurchasedAcreFeet() as purchasedAcreFeet else noPurchasedAcreFeet">
                        {{purchasedAcreFeet | number: '1.1-1'}} {{unitsShown}}
                      </span>
                      <ng-template #noPurchasedAcreFeet>
                        <span class="systemText">-</span>
                      </ng-template>
                    </td>
                  </tr>
                  <ng-container *ngIf="showPurchasedDetails">
                    <tr>
                      <td colspan="2">
                        <hr class="p-0 m-0" />
                      </td>
                    </tr>
                    <tr *ngFor="let parcelLedger of getTradePurchasesForWaterYear()">
                      <th class="text-sm-right">
                          ({{parcelLedger.EffectiveDate | date:"MM/dd"}})
                      </th>
                      <td class="text-sm-right">
                        {{getResultInUnitsShown(parcelLedger.TransactionAmount) | number: '1.1-1'}} {{unitsShown}}
                      </td>
                    </tr>
                  </ng-container>
                  <tr>
                    <td colspan="2" class="text-left pt-0 mt-0">
                      <small>Water supply you have purchased this year</small>
                    </td>
                  </tr>
                  <tr>
                    <th class="text-sm-left pb-0 mb-0">
                      <a style="cursor: pointer" class="collapsed" (click)="showSoldDetails = !showSoldDetails">
                        <i *ngIf="showSoldDetails else dontShowSoldDetails" class="fas fa-minus text-muted"
                          style="font-size: smaller"></i>
                        <ng-template #dontShowSoldDetails>
                          <i class="fas fa-plus text-muted" style="font-size: smaller"></i>
                        </ng-template>
                        Sold
                      </a>
                    </th>
                    <td class="text-sm-right pb-0 mb-0">
                      <span *ngIf="getSoldAcreFeet() as soldAcreFeet else noSoldAcreFeet">
                        {{soldAcreFeet | number: '1.1-1'}} {{unitsShown}}
                      </span>
                      <ng-template #noSoldAcreFeet>
                        <span class="systemText">-</span>
                      </ng-template>
                    </td>
                  </tr>
                  <ng-container *ngIf="showSoldDetails">
                    <tr>
                      <td colspan="2">
                        <hr class="p-0 m-0" />
                      </td>
                    </tr>
                    <tr *ngFor="let parcelLedger of getTradeSalesForWaterYear()">
                      <th class="text-sm-right">
                          ({{parcelLedger.EffectiveDate | date:"MM/dd"}})
                      </th>
                      <td class="text-sm-right">
                        {{getResultInUnitsShown(parcelLedger.TransactionAmount) | number: '1.1-1'}} {{unitsShown}}
                      </td>
                    </tr>
                  </ng-container>
                  <tr>
                    <td colspan="2" class="text-left pt-0 mt-0">
                      <small>Water supply you have sold this year</small>
                    </td>
                  </tr>
                  <tr>
                    <th class="text-sm-left pb-0 mb-0">
                      Total Supply
                    </th>
                    <td class="text-sm-right pb-0 mb-0">
                      <span>{{getTotalSupply() | number: '1.1-1'}} {{unitsShown}}</span>
                    </td>
                  </tr>
                  <tr>
                    <td colspan="2" class="text-left pt-0 mt-0">
                      <small>Allocation + Purchased – Sold</small>
                    </td>
                  </tr>
                  <tr>
                    <td colspan="2">
                      <small class="systemText" *ngIf="showSoldDetails || showPurchasedDetails">* denotes a pending
                        transaction</small>
                    </td>
                  </tr>
                </ng-container>
                <tr>
                  <td colspan="2">
                    <hr style="border: 1px solid #000;" />
                  </td>
                </tr>
                <tr>
                  <th class="text-sm-left pb-0 mb-0">
                    Usage to Date
                    <a routerLink="/measuring-water-use-with-openet" target="_blank" style="cursor:pointer"
                      placement="top" ngbTooltip="Learn how water usage is measured"><i
                        class="fas fa-question-circle small"></i></a>
                  </th>
                  <td class="text-sm-right pb-0 mb-0">
                    <span *ngIf="getWaterUsageToDate() as waterUsageToDate else noWaterUsage">
                      {{waterUsageToDate | number: '1.1-1'}} {{unitsShown}}
                    </span>
                    <ng-template #noWaterUsage>
                      <span class="systemText">Not available</span>
                    </ng-template>
                  </td>
                </tr>
                <tr>
                  <td colspan="2" class="text-left pt-0 mt-0">
                    <small>Total usage this year as measured by OpenET</small>
                  </td>
                </tr>
                <tr>
                  <th class="text-sm-left pb-0 mb-0">Current Available</th>
                  <td class="text-sm-right pb-0 mb-0">
                    {{getCurrentAvailableWater() | number: '1.1-1'}} {{unitsShown}}
                  </td>
                </tr>
                <tr>
                  <td colspan="2" class="text-left pt-0 mt-0">
                    <small *ngIf="allowTrading()">Allocation + Purchased – Sold – Usage to Date</small>
                    <small *ngIf="!allowTrading()">Allocation – Usage to Date</small>
                  </td>
                </tr>
                <tr>
                  <th class="text-sm-left pb-0 mb-0">Average Annual Usage</th>
                  <td class="text-sm-right pb-0 mb-0">
                    {{getResultInUnitsShown(historicAverageAnnualUsage) | number: '1.1-1'}} {{unitsShown}}
                  </td>
                </tr>
                <tr>
                  <td colspan="2" class="text-left pt-0 mt-0">
                    <small>Average annual usage from all years of OpenET data</small>
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-lg-7 mt-4 mt-lg-0">
        <div class="row">
          <div class="col-sm-12">
            <div class="card">
              <div class="card-header">
                {{waterYearToDisplay?.Year}} Allocation and Usage
                <a routerLink="/measuring-water-use-with-openet" target="_blank" style="cursor:pointer" placement="top"
                  ngbTooltip="Learn how water usage is measured" onmouseenter="$(this).tooltip('show')"><i
                    class="fas fa-question-circle small"></i>
                </a>
              </div>
              <div class="card-body" *ngIf="userHasParcels() && annualAllocationChartData && waterUsageOverview">
                <rio-landowner-water-allocation-chart [annualAllocationSeries]="getAnnualAllocationSeries()"
                  [yDomain]="allocationChartRange" [historicCumulativeWaterUsage]="historicCumulativeWaterUsage"
                  [currentCumulativeWaterUsage]="getCumulativeWaterUsageForWaterYear()">
                </rio-landowner-water-allocation-chart>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-12 mt-4 mb-4">
        <div class="row">
          <div class="col-sm-12">
            <div class="card" id="account-overview">
              <div class="card-header">
                <span>Account Overview</span>
                <span class="float-right font-weight-normal">Viewing All Activity</span>
              </div>
              <div class="card-body">
                <div class="row mb-5" *ngFor="let parcelLedger of getParcelLedgersForWaterYear().slice(0, 10)">
                  <div class="col-md-2 mb-4 text-md-center text-sm-left">
                    {{parcelLedger.EffectiveDate | date: 'shortDate'}}
                  </div>
                  <div class="col-md-10">
                    <div class="row">
                      <div class="col-lg-3 mb-4">
                        <span class="label">Transaction Type</span>
                        {{parcelLedger.TransactionType.TransactionTypeName}}
                      </div>
                      <div class="col-sm-9">
                        <div class="row">
                          <div class="col-sm-12 mb-4" *ngIf="parcelLedger.TransactionDescription">
                            <span class="label">Description</span>
                            {{parcelLedger.TransactionDescription}}
                          </div>
                          <div class="col-lg-3 col-md-6 mb-4" *ngIf="parcelLedger.WaterType">
                            <span class="label">Water Type</span>
                            {{parcelLedger.WaterType.WaterTypeName}}
                          </div>
                          <div class="col-lg-3 col-md-6 mb-4">
                            <span class="label">Parcel</span>
                            {{parcelLedger.ParcelNumber}}
                          </div>
                          <div class="col-lg-3 col-md-6 mb-4">
                            <span class="label">Quantity</span>
                            {{parcelLedger.TransactionAmount | number: '1.1-1'}}
                          </div>
                          <div class="col-lg-3 col-md-6 mb-4">
                            <span class="label">Balance</span>
                            TBD
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <ng-container
      *ngIf="userHasParcels() && waterUsageChartData && sectionCurrentlyViewing == LandownerDashboardViewEnum.UsageByParcel">
      <div class="row">
        <div class="col-sm-12">
          <div class="card">
            <div class="card-header">
              <span class="align-middle">{{waterYearToDisplay?.Year}} Water Usage by Parcel Visualization </span>
              <a routerLink="/measuring-water-use-with-openet" target="_blank"
                style="cursor:pointer; vertical-align: middle;" placement="top"
                ngbTooltip="Learn how water usage is measured"><i class="fas fa-question-circle small"></i></a>
            </div>
            <div class="card-body">
              <rio-landowner-water-use-chart *ngIf="!isWaterUsageForWaterYearNullOrEmpty()"
                [waterUsageData]="getWaterUsageForWaterYear()" [parcelNumbers]="parcelNumbers" #landownerWaterUseChart>
              </rio-landowner-water-use-chart>
              <p *ngIf="isWaterUsageForWaterYearNullOrEmpty()">OpenET water usage data not yet available for
                {{waterYearToDisplay?.Year}}</p>
              <p class="small">
                Estimated water usage is based on satellite imagery and may not be accurate at the APN level.
                <br>
                Details of water use measurements can be found in the <a routerLink="/measuring-water-use-with-openet"
                  routerLinkActive="true">OpenET FAQ</a>.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="row mt-4">
        <div class="col-sm-12">
          <div class="card">
            <div class="card-header">
              <span class="align-middle">{{waterYearToDisplay?.Year}} Water Usage by Parcel Tabular </span>
              <a routerLink="/measuring-water-use-with-openet" target="_blank"
                style="cursor:pointer; vertical-align: middle;" placement="top"
                ngbTooltip="Learn how water usage is measured"><i class="fas fa-question-circle small"></i></a>
            </div>
            <div class="card-body">
              <table class="table table-responsive">
                <thead>
                  <th></th>
                  <th class="text-right" *ngFor="let month of months">{{month}}</th>
                  <th>Total</th>
                </thead>
                <tbody>
                  <tr *ngFor="let parcel of parcels">
                    <td class="text-nowrap"><a routerLink="/parcels/{{parcel.ParcelID}}">{{parcel.ParcelNumber}}</a>
                    </td>
                    <ng-container *ngFor="let monthData of getWaterUsageForWaterYear()">
                      <ng-container *ngFor="let seriesData of monthData.series">
                        <td class="text-right" *ngIf="seriesData.name === parcel.ParcelNumber">
                          {{seriesData.isEmpty === true ? "-" : (seriesData.value |
                          number:"1.1-1")}}
                        </td>
                      </ng-container>
                    </ng-container>
                    <td class="text-right">
                      <strong>{{getTotalWaterUsageForParcel(parcel.ParcelNumber) | number:"1.1-1"}}</strong>
                    </td>
                  </tr>
                </tbody>
                <tfoot>
                  <th><strong>Total</strong></th>
                  <th class="text-right" *ngFor="let month of months; let i = index">
                    {{getTotalWaterUsageForMonth(i) | number:"1.1-1"}}
                  </th>
                  <th class="text-right">{{getWaterUsageToDate() | number: "1.1-1"}}</th>
                </tfoot>
              </table>
              <p class="small">
                Measurements are in acre-feet
                <br>
                Estimated water usage is based on satellite imagery and may not be accurate at the APN level.
                <br>
                Details of water use measurements can be found in the <a routerLink="/measuring-water-use-with-openet"
                  routerLinkActive="true">OpenET FAQ</a>.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="row mt-4" *ngIf="parcelsToBeReconciled">
        <div class="col-12">
          <div class="card">
            <div class="card-header">
              Parcels Not Included in Your Water Budget
            </div>
            <div class="card-body">
              The following parcels have an association this Water Account but could not be imported because the APN was associated with multiple Water Accounts:
              <br>
              <br>
              <ng-container *ngFor="let parcel of parcelsToBeReconciled">
                <span>{{parcel.ParcelNumber}}</span>
                <br/>
              </ng-container>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
    <div class="row"
      *ngIf="(!userHasParcels() || !waterUsages) && (sectionCurrentlyViewing == LandownerDashboardViewEnum.UsageByParcel || sectionCurrentlyViewing == LandownerDashboardViewEnum.WaterBudget)">
      <div class="col-12">
        <em>No data available: this Account is not associated with any parcels {{waterYearToDisplay ? ("in " +
          waterYearToDisplay.Year) : ""}}</em>
      </div>
    </div>
    <div class="row"
      *ngIf="userHasParcels() && allowTrading() && trades &&sectionCurrentlyViewing == LandownerDashboardViewEnum.Trading">
      <div class="col-sm-12">
        <div class="card">
          <div class="card-header">
            <div class="float-right">
              <label class="switch">
                <input type="checkbox" (change)="toggleTradeStatusShown()" checked />
                <div class="slider round">
                  <span class="off">Active</span>
                  <span class="on">All</span>
                </div>
              </label>
            </div>
            Trade Activity
          </div>
          <div class="card-body table-responsive" style="max-height: 300px; overflow-y:scroll">
            <ng-template #noTradesForWaterYear>
              <p>{{getNoTradesMessage()}}</p>
            </ng-template>
            <table class="table table-condensed table-striped"
              *ngIf="getTradesForWaterYear().length > 0 else noTradesForWaterYear">
              <thead>
                <tr>
                  <th>Trade</th>
                  <th>Date</th>
                  <th>Status</th>
                  <th>Description</th>
                  <th style="text-align: right">Price</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let trade of getTradesForWaterYear()">
                  <td style="border: 0 none; white-space: nowrap"><a
                      routerLink="/trades/{{trade.TradeNumber}}/{{activeAccount.AccountID}}">{{ trade.TradeNumber }}</a>
                  </td>
                  <td style="border: 0 none">{{ trade.OfferDate | date: "MM/dd" }}</td>
                  <td style="border: 0 none; white-space: nowrap">
                    <a routerLink="/register-transfer/{{trade.WaterTransferID}}/{{activeAccount.AccountID}}"
                      *ngIf="trade.WaterTransferID && !isTradeRegisteredByUser(trade) && !isTradeCanceled(trade)">
                      Awaiting Registration
                    </a>
                    <span *ngIf="trade.WaterTransferID && isTradeCanceled(trade)">Canceled</span>
                    <span
                      *ngIf="trade.WaterTransferID && isTradeRegisteredByUser(trade) && !isTradeRegisteredByBothParties(trade)">You
                      have already registered this transfer.<br />The other party must still register<br />before the
                      water
                      is transferred</span>
                    <span
                      *ngIf="!trade.WaterTransferID || isTradeRegisteredByBothParties(trade)">{{getTradeStatus(trade)}}</span>
                  </td>
                  <td style="border: 0 none">{{getTradeDescription(trade)}}</td>
                  <td style="border: 0 none; white-space: nowrap; text-align: right">
                    {{ trade.Price * trade.Quantity | currency: "USD" }}
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="card mt-4">
          <div class="card-header">
            <div class="float-right">
              <label class="switch">
                <input type="checkbox" (change)="togglePostingStatusShown()" checked />
                <div class="slider round">
                  <span class="off">Active</span>
                  <span class="on">All</span>
                </div>
              </label>
            </div>
            Postings
          </div>
          <div class="card-body table-responsive" style="max-height: 200px; overflow-y:scroll">
            <ng-template #noPostingsForWaterYear>
              <p>{{getNoPostingsMessage()}}</p>
            </ng-template>
            <table class="table table-condensed table-striped"
              *ngIf="getPostingsForWaterYear().length > 0 else noPostingsForWaterYear">
              <thead>
                <tr>
                  <th>Date</th>
                  <th>Type</th>
                  <th>Status</th>
                  <th>Initial Quantity</th>
                  <th>Current Quantity</th>
                  <th>Price</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let posting of getPostingsForWaterYear()">
                  <td style="white-space: nowrap"><a routerLink="/postings/{{posting.PostingID}}">{{ posting.PostingDate
                      | date:"MM/dd" }}</a>
                  </td>
                  <td style="white-space: nowrap">{{ posting.PostingType.PostingTypeDisplayName }}
                  </td>
                  <td style="white-space: nowrap">{{ posting.PostingStatus.PostingStatusDisplayName }}
                  </td>
                  <td>{{ posting.Quantity | number: "1.0" }} ac-ft</td>
                  <td>{{ posting.AvailableQuantity | number: "1.0" }} ac-ft</td>
                  <td style="white-space: nowrap">{{ posting.Price | currency: "USD" }} per ac-ft</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="row" *ngIf="userHasParcels() && sectionCurrentlyViewing == LandownerDashboardViewEnum.AccountMap">
      <div class="col-sm-12 col-md-12">
        <div class="card">
          <div class="card-header">
            Parcel Map
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-sm-4 col-md-3 col-sm-pull-8 col-md-pull-9" [style.height]="mapHeight"
                style="overflow-y: auto;">
                <ul class="list-group">
                  <li class="list-group-item parcel-map" *ngFor="let parcel of parcels"
                    [class.selected]="highlightedParcelID == parcel.ParcelID"
                    (click)="highlightedParcelID = parcel.ParcelID">
                    Parcel {{parcel.ParcelNumber}}
                  </li>
                </ul>
              </div>
              <div class="col-sm-8 col-md-9 col-sm-push-4 col-md-push-3">
                <parcel-map mapID="parcelsMapForUser" [(highlightedParcelID)]="highlightedParcelID"
                  [selectedParcelLayerName]="selectedParcelsLayerName" [selectedParcelIDs]="getSelectedParcelIDs()"
                  [disableDefaultClick]="true" [highlightParcelOnClick]="true" mapHeight="500px">
                </parcel-map>
              </div>
            </div>
            <div class="row mt-4">
              <div class="col-12" style="background-color:#eee; background-clip:content-box; min-height:168px">
                <div class="row" *ngIf="highlightedParcelDto">
                  <div class="col-xs-12 col-sm-6 col-lg-4 mt-4">
                    <h2 class="ml-3">Parcel {{highlightedParcelDto.ParcelNumber}}</h2>
                  </div>
                  <div class="col-xs-12 col-sm-6 col-lg-4 mt-4 mb-lg-4">
                    <p class="ml-3"><strong>Area (ac)
                      </strong>{{highlightedParcelDto.ParcelAreaInAcres | number: "1.1-1"}}
                    </p>
                    <p class="ml-3"><strong>Allocation (ac-ft)
                      </strong>{{getAllocationForParcelAndYear(highlightedParcelDto.ParcelID,
                      waterYearToDisplay?.Year)}}
                    </p>
                    <p class="ml-3"><strong>Total Usage (ac-ft)
                      </strong>{{getTotalWaterUsageForParcel(highlightedParcelDto.ParcelNumber) | number: "1.1-1"}}
                    </p>
                  </div>
                  <div class="col-xs-12 col-sm-12 col-lg-4 mt-4 text-sm-center">
                    <a class="btn btn-rio ml-3 mb-4" routerLink="/parcels/{{highlightedParcelDto.ParcelID}}">View Parcel
                      {{highlightedParcelDto.ParcelNumber}} Details</a>
                  </div>
                </div>
                <div class="row h-100" *ngIf="!highlightedParcelDto">
                  <div class="col mt-4">
                    <h2 class="text-center">
                      Select a Parcel from the map or list to see Parcel Details
                    </h2>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container" *ngIf="!activeAccount">
    <ngb-alert [type]="'info'" [dismissible]="false" *ngIf="landownerHasAnyAccounts()">
      No account is selected. Select an account from the 'My Dashboards' menu or <a routerLink="/water-accounts">View
        your Water Accounts here.</a>
    </ngb-alert>
    <ngb-alert [type]="'info'" [dismissible]="false" *ngIf="!landownerHasAnyAccounts()">
      You do not have any assigned accounts.
    </ngb-alert>
  </div>
</ng-container>
<ng-template #loadingBlock>
  <div class="container">
    <i class="fa fa-spinner loading-spinner"></i> Loading
  </div>
</ng-template>