@import "~src/scss/_variables.scss";

li.list-group-item.parcel-map {
    cursor:pointer;
}

li.list-group-item.parcel-map:hover {
    background-color:#EEE;
}

li.list-group-item.parcel-map.selected {
    background-color: #FFFF85;
}

.header-bottom-border {
    border-bottom: solid 2px $button-border-and-background !important
}

li.list-group-item.header {
    cursor:pointer;
    color: #000;
    background-color: #dfdfdf;
    border-left: solid 1px #000;
    border-right: solid 1px #000;
    border-top: solid 1px #000;
}

li.list-group-item.header:hover {
    background-color:#EEE;
    color: #fff;
    background-color: $button-toggle-hover;
}

li.list-group-item.header.selected {
    background-color:  $button-border-and-background;
    color: #EEE;
}

.water-year-dropdown {
    color : $select;
    padding-left: 4px;
}