<div class="breadcrumb-container">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
          <a routerLink="/">Home</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">Users</li>
    </ol>
  </nav>
</div>
<div class="container mt-sm-4">
  <app-alert-display></app-alert-display>
  <ng-template [ngIf]="isAdministrator()">
    <h2 class="d-inline-block">Unassigned Users</h2>
    <p *ngIf="users && unassignedUsers.length">
      This is a list of all users who are awaiting account configuration. Assign the user a role and billing account(s).
      If the account was created in error, set their Role to “Disabled” to remove them from this list.
    </p>
    <p *ngIf="users && !unassignedUsers.length">
      Congratulations! All users have been assigned a role.
    </p>
    <br *ngIf="!users">
    <a routerLink="/roles-and-permissions" routerLinkActive=true target="_blank">Learn more about Roles and Permissions</a>
    <div *ngIf="users && unassignedUsers.length">
      <div class="row mb-2">
        &nbsp;
        <div class="col-auto ml-auto">
            <rio-clear-grid-filters-button [grid]="unassignedUsersGrid"></rio-clear-grid-filters-button>
        </div>
      </div>
      <ag-grid-angular #unassignedUsersGrid style="width: 100%; height: 300px;" class="ag-theme-balham"
        [rowData]="unassignedUsers" [columnDefs]="columnDefs" [pagination]="true" [paginationPageSize]="100" [suppressMenuHide]="true">
      </ag-grid-angular>
    </div>
  </ng-template>
  <div class="mt-4">
    <div class="float-right">
      <a *ngIf="isAdministrator()" class="btn btn-rio btn-sm mr-3 mt-2" routerLink="/invite-user">Invite User</a>
    </div>
    <h2 class="d-inline-block">All Users</h2>
    <p>A list of users is shown in the grid below.</p>
    <div class="row mb-2">
      <div class="col-auto ml-auto">
        <label class="switch" style="top: 7px;">
          <input type="checkbox" (change)="toggleUserStatusShown()" />
          <div class="slider round">
            <span class="off">Active</span>
            <span class="on">All</span>
          </div>
        </label>
        <a class="btn btn-secondary btn-sm ml-2" style="cursor: pointer;" (click)="exportToCsv()" placement="top"
          ngbTooltip="Download list of Users"><i class="fas fa-download"></i></a>
        <rio-clear-grid-filters-button [grid]="usersGrid" classList="ml-2"></rio-clear-grid-filters-button>
      </div>
    </div>
  </div>
  <div class="table-responsive">
    <ag-grid-angular #usersGrid style="width: 100%; height: 800px;" class="ag-theme-balham" [rowData]="rowData"
      [columnDefs]="columnDefs" [pagination]="true" [paginationPageSize]="100" [suppressMenuHide]="true">
    </ag-grid-angular>
  </div>
</div>