@import "~ag-grid-community/src/styles/ag-grid.scss";
@import "~ag-grid-community/src/styles/ag-theme-balham/sass/ag-theme-balham-mixin";

.ag-theme-balham {
  @include ag-theme-balham((
      // use theme parameters where possible
      balham-active-color: purple,
      selected-row-background-color: $button-hover,
      header-background-color: $grid-header-background,
      range-selection-border-color: $grid-header-background
  ));

  .ag-header-row {
    color: #fff;
  }

  .ag-header-icon {
    color: rgba(255, 255, 255, 0.54);
  }
}