@import "~ag-grid-community/src/styles/ag-grid.scss";
@import "~ag-grid-community/src/styles/ag-theme-balham/sass/ag-theme-balham-mixin";

$grid-header-background: #343b85;

.ag-theme-balham {
  @include ag-theme-balham((
      // use theme parameters where possible
      balham-active-color: purple,
      font-family: ($grid-font-family)
  ));



  .ag-header {
    background-color: $grid-header-background;
  }

  .ag-header-row {
    color: #fff;
  }

  .ag-header-icon {
    color: rgba(255, 255, 255, 0.54);
  }
}