// Kendo makes odd assumptions about what colors we want...
.k-widget, .k-block, .k-panel{
  color: $base-text;
}

.k-widget ::selection, .k-block ::selection, .k-panel ::selection {
  background-color: $primary;
  color: $white;
}

/* Kendo's button styling is aggressive, so we have to re-set
 * the semantic button styles from Bootstrap. We can't achieve
 * this by just overriding variables because Kendo only offers one
 * button style and assumes that it will the bootstrap theme's
 * "secondary" color.
 */
.k-button {
  color: $white;
  @each $name, $value in $theme-colors {
    &.btn.btn-#{$name} {
      background-color: $value;
      border-color: $value;

      &:hover{
        background-color: darken($value, 10%);
        border-color: darken($value, 10%);
        color: $white;
      }
    }
  }
}

// Kendo Dropdown is-invalid for validation messages
.is-invalid > .k-dropdown-wrap {
  color: #f31700;
  border-color: rgba(243,23,0,0.5);
}

// Kendo dropdown active highlight, typically orange
.k-list-optionlabel {
  background-color: $secondary !important;
  color: #000 !important;
}

.k-item.k-state-selected.k-state-focused {
  background-color: $primary !important;
}

