//_variables.scss is where the styles really get read from, this is just a template to easily switch back and forth
$footer-height: 60px;

$theme-colors: (
        "primary": #205c90,     // systemBlue
        "secondary": #c4c4c4,   // lightGray
        "info": #228be6,        // brightBlue
        "light": #f5f5f5,       // offWhite
        "muted": #dee2e6,       // footerGray
        "danger": #ff0000,
        "success": #00cc00,
        "warning": #ffff9f,
        "h4-styled": #194349,
        "footer": #5e7f74,
        "button-border-and-background": #196004,
        "button-hover": #0EF16D,
        "button-toggle-hover": #4f6349,
        "header-background": #194939,
        "select": #1F4D3D,
        "select-and-nav-hover": #0EF16D,
        "select-and-nav-dropdown-hover": #E5FAF1,
        "header-nav-link" : #fff,
        "grid-header-background": #194939,
        "grid-accent-color": #0077f9,
        "grid-hover-color": cornsilk,
        "account-dropdown-text": #fff,
        "header-gradient-start": transparent,
        "header-gradient-end": transparent,
        "breadcrumb-background-color": #fff,
        "breadcrumb-border-color": #e9eeef,
        "breadcrumb-item-active-color": #474D52
);

// this looks redundant, but we need to make the override in both ways
$primary: #205c90;
$secondary: #c4c4c4;
$info: #228be6;
$light: #f5f5f5;
$muted: #dee2e6;
$danger: #ff0000;
$success: #00cc00;
$warning: #ffff9f;

$account-dropdown-text: #fff;
$breadcrumb-background-color: #fff;
$breadcrumb-border-color: #e9eeef;
$breadcrumb-border-style: solid;
$breadcrumb-item-color: #474D52;
$breadcrumb-item-active-color: #474D52;
$breadcrumb-empty-display-type: none;
$breadcrumb-empty-display-height: 0px;
$button-border-and-background: #196004;
$button-hover: #0EF16D;
$button-toggle-hover: #4f6349;
$grid-accent-color: #0077f9;
$grid-font-family: 'Tahoma';
$grid-font-header-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
$grid-header-background: #194939;
$grid-hover-color: cornsilk;
$footer: #5e7f74;  
$header-background: #194939;
$header-nav-link: #fff;         
$header-nav-link-font-weight: inherit;
$h4-styled: #194349;
$select: #1F4D3D;
$select-and-nav-dropdown-hover: #E5FAF1;
$select-and-nav-hover:#0EF16D;
$text-muted: darken(#d3d3d3, 15%);
$text-warning: darken($warning, 20%);

$font-family-sans-serif: 'Tahoma', sans-serif, 'Helvetica Neue', sans-serif;
$font-size: 16px;
$base-text: #000000;

$card-cap-bg: #dfdfdf;