<nav class="navbar navbar-rio navbar-expand-lg navbar-dark stroke">
    <a href="{{leadOrganizationHomeUrl()}}" class="navbar-brand" target="_blank">
        <img src="{{leadOrganizationLogoSrc()}}" class="navbarLogo">
    </a>
    <a routerLink="/" routerLinkActive="active" class="navbar-brand nav-link">
        {{platformShortName()}}
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item">
                <a class="nav-link" routerLink="/manager-dashboard" routerLinkActive="active" 
                *ngIf="isAuthenticated() && isAdministrator()">My Dashboard</a>
                <a class="nav-link" routerLink="/landowner-dashboard" routerLinkActive="active"
                    *ngIf="isAuthenticated() && isLandOwner()">My Dashboard</a>
            </li>
            <li class="nav-item dropdown" routerLinkActive="active" *ngIf="isAuthenticated() && allowTrading()">
                <a href="#" class="nav-link dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
                    Trade
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a routerLink="/trades" class="dropdown-item">
                        Buy and Sell Water
                    </a>
                    <a routerLink="/market-metrics" class="dropdown-item" *ngIf="isAdministrator()">
                        Market Metrics
                    </a>
                </div>
            </li>
            <li class="nav-item dropdown" routerLinkActive="active" *ngIf="isAdministrator()">
                <a href="#" class="nav-link dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
                    Manage
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a routerLink="/users" class="dropdown-item">
                        View all Users
                    </a>
                    <a routerLink="/accounts" class="dropdown-item">
                        View all Accounts
                    </a>
                    <a routerLink="/parcels" class="dropdown-item">
                        View all Parcels
                    </a>
                </div>
            </li>
            <li class="nav-item dropdown" routerLinkActive="active">
                <a href="#" class="nav-link dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Learn More
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a routerLink="/platform-overview" class="dropdown-item">
                        Platform Overview
                    </a>
                    <a routerLink="/frequently-asked-questions" class="dropdown-item">
                        Frequently Asked Questions
                    </a>
                    <a routerLink="/measuring-water-use-with-openet" class="dropdown-item">
                        Measuring Water Use with OpenET
                    </a>
                    <a routerLink="/disclaimer/false" class="dropdown-item">
                        Disclaimer
                    </a>
                </div>
            </li>
            <li class="nav-item dropdown" routerLinkActive="active" *ngIf="(isLandOwner() || isAdministrator()) && hasGroundwaterModelingMenu()">
                <a href="#" class="nav-link dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Groundwater Modeling
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a routerLink="/about-groundwater-evaluation" class="dropdown-item">
                        About the Groundwater Evaluation Toolkit
                    </a>
                    <a routerLink="/water-trading-scenario" class="dropdown-item">
                        Water Trading Scenario
                    </a>
                    <a routerLink="/managed-recharge-scenario" class="dropdown-item">
                        Managed Recharge Scenario
                    </a>
                </div>
            </li>
        </ul>
        <ul class="navbar-nav flex-column mt-2 mt-lg-0 mr-sm-2">
            <li class="nav-item" routerLinkActive="active" *ngIf="!isAuthenticated()">
                <a href="javascript:void(0);" (click)="login()" routerLinkActive="active" class="nav-link">Sign In</a>
            </li>
            <li class="nav-item dropdown welcomeUser" routerLinkActive="active" *ngIf="isAuthenticated()"> 
                <a href="#" class="nav-link dropdown-toggle pr-3" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Welcome {{getUserName()}}
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                    <a routerLink="/help" class="dropdown-item">
                        Get Help
                    </a>
                    <a href="javascript:void(0);" (click)="logout()" class="dropdown-item">Sign Out</a>
                </div>
            </li>
            <li *ngIf="isAuthenticated()">
                <rio-account-select></rio-account-select>
            </li>
        </ul>
    </div>
</nav>

<div *ngIf="getPendingTrades().length > 0">
    <div class="alert alert-secondary mb-0" style="max-height: 160px; overflow: auto;">
        <ul class="m-0 p-0">
            <li *ngFor="let trade of getPendingTrades()" style="list-style: none">
                <span class="fas fa-exclamation-circle" style="color: orangered"></span>
                <ng-container *ngIf="isTradePendingRegistrationForAccount(trade) && !isTradePending(trade)">
                    Trade {{trade.TradeNumber}} needs to be registered
                    <a routerLink="/register-transfer/{{trade.WaterTransferID}}"
                        *ngIf="trade.WaterTransferID && isTradePendingRegistrationForAccount(trade)">
                        [Register transfer]
                    </a>
                </ng-container>
                <ng-container *ngIf="isTradePending(trade)">
                    <span *ngIf="doesMostRecentOfferBelongToCurrentAccount(trade)">
                        {{getOfferThatBelongsToYouNotificationText(trade)}}
                        <a class="small" routerLink="/trades/{{trade.TradeNumber}}">[View offer details]</a>
                    </span>
                    <span *ngIf="!doesMostRecentOfferBelongToCurrentAccount(trade)">
                        {{getOfferThatDoesNotBelongToYouNotificationText(trade)}}
                        <a class="small" routerLink="/trades/{{trade.TradeNumber}}">[Respond to this offer]</a>
                    </span>
                </ng-container>
            </li>
        </ul>
    </div>
</div>