.navbarLogo {
    height: 80px;
  }
  
  .footerLogo {
    height: 50px;
    float: right;
    margin: 5px 0;
  }
  
  a.signOut {
    cursor: pointer;
  }
  
  .dropdown-menu {
    z-index: 1021;
  }
  
  .navbar.navbar-rio
  {
    background-color: #194939;
  }

  .navbar.navbar-rio a.nav-link
  {
    color: #fff;
  }

  .welcomeUser{
    @media screen and (min-width: 991px){
      text-align:right;
    }
    @media screen and (max-width: 990px){
      text-align:left;
    }
  }

  .accountDropdownLabel {
    color:white; display:inline-block; padding-right:5px; 
    @media screen and (max-width: 1272px){
      display:none;
    }
  }