<nav class="navbar navbar-rio navbar-expand-lg navbar-dark">
    <a href="https://www.rrbwsd.com/" class="navbar-brand">
        <img src="assets/main/logos/rrbwsd_logo.png" class="navbarLogo">
    </a>
    <a routerLink="/" routerLinkActive="active" class="navbar-brand nav-link">
        Water Trading Platform
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item">
                <a class="nav-link" routerLink="/" routerLinkActive="active" *ngIf="!isAuthenticated()">Home</a>
                <a class="nav-link" routerLink="/landowner-dashboard" routerLinkActive="active"
                    *ngIf="isAuthenticated()">Home</a>
            </li>
            <li class="nav-item" *ngIf="isAuthenticated()">
                <a class="nav-link" routerLink="/trades" routerLinkActive="active">Buy and Sell Water</a>
            </li>
            <li class="nav-item" *ngIf="isAuthenticated()">
                <a class="nav-link" routerLink="/market-metrics" routerLinkActive="active">Market Metrics</a>
            </li>
            <li class="nav-item dropdown" routerLinkActive="active" *ngIf="isAdministrator()">
                <a href="#" class="nav-link dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
                    Manage
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a routerLink="/manager-dashboard" class="dropdown-item">
                        Manager Dashboard
                    </a>
                    <a routerLink="/users" class="dropdown-item">
                        View all Users
                    </a>
                    <a routerLink="/accounts" class="dropdown-item">
                        View all Accounts
                    </a>
                    <a routerLink="/parcels" class="dropdown-item">
                        View all Parcels
                    </a>                    
                </div>
            </li>
        </ul>
        <ul class="navbar-nav mt-2 mt-lg-0 mr-sm-2">
            <li class="nav-item" routerLinkActive="active" *ngIf="!isAuthenticated()">
                <a href="javascript:void(0);" (click)="login()" routerLinkActive="active" class="nav-link">Sign In</a>
            </li>
            <li class="nav-item dropdown" routerLinkActive="active" *ngIf="isAuthenticated()">
                <a href="#" class="nav-link dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
                    Welcome {{getUserName()}}
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a routerLink="/landowner-dashboard" class="dropdown-item">
                        My Dashboard
                    </a>
                    <a routerLink="/help" class="dropdown-item">
                        Get Help
                    </a>
                    <a href="javascript:void(0);" (click)="logout()" class="dropdown-item">Sign Out</a>
                </div>
                <select class="form-control" [compareWith]="compareAccountsFn"  (change)="setCurrentAccount()" [(ngModel)]="activeAccount">
                    <option *ngFor="let account of getAvailableAccounts()" [ngValue]="account">{{account.AccountNumber}} - {{account.AccountName}}</option>
                </select>
            </li>
        </ul>
    </div>
</nav>

<div *ngIf="getPendingTrades().length > 0">
    <div class="alert alert-secondary mb-0" style="max-height: 160px; overflow: auto;">
        <ul class="m-0 p-0">
            <li *ngFor="let trade of getPendingTrades()" style="list-style: none">
                <span class="fas fa-exclamation-circle" style="color: orangered"></span>
                <ng-container *ngIf="isTradePendingRegistrationForAccount(trade) && !isTradePending(trade)">
                    Trade {{trade.TradeNumber}} needs to be registered
                    <a routerLink="/register-transfer/{{trade.WaterTransferID}}"
                    *ngIf="trade.WaterTransferID && isTradePendingRegistrationForAccount(trade)">
                    [Register transfer]
                </a>
                </ng-container>
                <ng-container *ngIf="isTradePending(trade)">
                    <span *ngIf="doesMostRecentOfferBelongToCurrentAccount(trade)">
                        {{getOfferThatBelongsToYouNotificationText(trade)}}
                        <a class="small" routerLink="/trades/{{trade.TradeNumber}}">[View offer details]</a>
                    </span>
                    <span *ngIf="!doesMostRecentOfferBelongToCurrentAccount(trade)">
                        {{getOfferThatDoesNotBelongToYouNotificationText(trade)}}
                        <a class="small" routerLink="/trades/{{trade.TradeNumber}}">[Respond to this offer]</a>
                    </span>
                </ng-container>
            </li>
        </ul>
    </div>
</div>