<header-nav></header-nav>
<div class="mh-auto min-vh-100 page-content">
    <router-outlet></router-outlet>
</div>
<footer class="footer mt-2">
    <div class="container border-none">
        <rio-custom-rich-text [customRichTextTypeID]="customRichTextTypeID"></rio-custom-rich-text>
        <div class="row mt-3">
            <div class="col-12 text-center">
                <p>
                    The program is free software; you can redistribute it and/or modify it under the terms of the <a href="https://www.gnu.org/licenses/agpl-3.0.en.html">GNU Affero
                    General Public License</a>. Source code is available on <a href="https://github.com/sitkatech/rio">GitHub</a>.
                </p>
            </div>
        </div>
    </div>
</footer>