<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">Disclaimer</li>
    </ol>
</nav>
<div class="container">
    <app-alert-display></app-alert-display>
    <h2 class="d-inline-block">Disclaimer</h2>
    <div class="row">
        <div class="col">
            <p>
                Data provided by a beta version of the OpenET platform throughout the coming year are 
                provisional in nature and are expected to be revised once the OpenET team has completed
                its model inter-comparison and accuracy assessment. At this stage of platform development,
                OpenET data are being provided for user testing purposes only. Users are cautioned to consider 
                carefully the provisional nature of the information before using these data in support of 
                real-world applications, and should not rely on this information unless they have independently
                verified its accuracy to their own satisfaction. OpenET and its partner institutions cannot and
                will not be responsible for any use or misuse of this information for any public or private purpose.
                In addition, we request that the data produced here by OpenET not be republished, and not be shared
                with anyone who has not been granted access to this water trading platform.
                This sentence should appear only on the EDF-QA site.
            </p>
        </div>
    </div>
    <div class="row" *ngIf="checkDisclaimerAcknowledged()">
        <div class="col">
            <button class="btn btn-rio btn-sm mr-3 float-right"
                (click)="setDisclaimerAcknowledged()">Acknowledge</button>
        </div>
    </div>
</div>