<div class="breadcrumb-container">
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a routerLink="/">Home</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">OpenET Integration</li>
            </ol>
        </nav>
    </div>
</div>
<div class="container mt-sm-4">
    <app-alert-display></app-alert-display>
    <ngb-alert *ngIf="updatingWaterYears() != null && updatingWaterYears().length > 0" [type]="'info'" [dismissible]="false">
        <span *ngIf="updatingWaterYears().length == 1">
            A sync operation is currently in progress to update the following years: {{ getInProgressYears() }}.<br/>
            Syncing and finalizing any of the years involved in the operation will be disabled until the operation completes.
        </span>
        <span *ngIf="updatingWaterYears().length > 1">
            Sync operations are currently in progress to update the following years: {{ getInProgressYears() }}.<br/>
            Syncing and finalizing any of the years involved in these operations will be disabled until the respective operation completes.
        </span>
    </ngb-alert>
    <ngb-alert *ngIf="!openETSyncEnabled()" [type]="'info'" [dismissible]="false">
        Currently, syncing with OpenET is not enabled. This feature will be enabled in the future.
    </ngb-alert>
    <div class="row mb-2">
        <div class="col">
            <h2 class="d-inline-block">OpenET Integration</h2>

            <div class="mt-2">
                <rio-custom-rich-text [customRichTextTypeID]="richTextTypeID"></rio-custom-rich-text>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    OpenET Sync Status By Water Year
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-striped table-condensed">
                            <thead>
                                <tr>
                                    <th>Year</th>
                                    <th>Data Update Status</th>
                                    <th>Last Updated</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let waterYear of waterYears">
                                    <td class="align-middle">{{waterYear.Year}}</td>
                                    <td class="align-middle">{{getDataUpdateStatusForWaterYear(waterYear)}}</td>
                                    <td class="align-middle">{{getLastUpdatedDateForWaterYear(waterYear)}}</td>
                                    <td class="align-middle">
                                        <ng-container *ngIf="showActionButtonsForWaterYear(waterYear)">
                                            <button class="btn btn-rio mr-2" (click)="setSelectedWaterYearAndLaunchModal(syncWaterYearModalContent, waterYear)" [disabled]="!openETSyncEnabled() || waterYearIsUpdating(waterYear) || !isCurrentUserAdministrator()">Sync Now</button>
                                            <button class="btn btn-rio" *ngIf="showFinalizeButton(waterYear)" (click)="setSelectedWaterYearAndLaunchModal(finalizeWaterYearModalContent, waterYear)" [disabled]="waterYearIsUpdating(waterYear) || !isCurrentUserAdministrator()">Finalize</button>
                                        </ng-container>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="updating" *ngIf="isPerformingAction">
                        <div class="updating-text">
                            <span class="fa fa-spinner loading-spinner"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #finalizeWaterYearModalContent let-modal>
    <div class="modal-header">
        <h5 class="modal-title" id="finalizeWaterYearModalTitle">Finalize Water Year Data</h5>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <p>
            Are you sure you want to finalize the OpenET data for {{selectedWaterYear.Year}}. The system will no longer update Evapotranspiration data for {{selectedWaterYear.Year}} and will not accept any new override submissions.
        </p>
        <div class="modal-footer">
            <button type="button" class="btn btn-rio btn-sm" (click)="finalizeWaterYear()">
                Save</button>
            <button type="button" class="btn btn-secondary btn-sm" (click)="resetWaterYearToFinalizeAndCloseModal(modal)">Cancel</button>
        </div>
    </div>
</ng-template>

<ng-template #syncWaterYearModalContent let-modal>
    <div class="modal-header">
        <h5 class="modal-title" id="syncWaterYearModalTitle">Sync Water Year Data</h5>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <p>
            Are you sure you want to sync the OpenET data for {{selectedWaterYear.Year}}. This will refresh OpenET Data for all applicable parcels, but will not reset any user-input overrides.
        </p>
        <div class="modal-footer">
            <button type="button" class="btn btn-rio btn-sm" (click)="syncWaterYear()">
                Save</button>
            <button type="button" class="btn btn-secondary btn-sm" (click)="resetWaterYearToFinalizeAndCloseModal(modal)">Cancel</button>
        </div>
    </div>
</ng-template>