<div class="breadcrumb-container">
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item" aria-current="page">
                    <a routerLink="/manager-dashboard">Manager Dashboard</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">
                    Set Water Allocation
                </li>
            </ol>
        </nav>
    </div>
</div>
<div class="container mt-sm-4">
    <div class="row">
        <div class="col-9">
            <h2>
                Set Water Allocation
            </h2>
        </div>
    </div>
    <app-alert-display></app-alert-display>
    <div class="row mt-4">
        <div class="col-lg-10">
            <div class="card">
                <div class="card-header">
                    <div class="float-right" *ngIf="waterYears">
                        <rio-water-year-select [waterYears]="waterYears" [(selectedYear)]="waterYearToDisplay"
                            [selectYearLabel]="'Setting Data for Year'"></rio-water-year-select>
                    </div>
                    <div class="mt-2">{{waterYearToDisplay?.Year}} Allocation for all Parcels</div>
                </div>
                <div class="card-body" style="position:relative" *ngIf="waterTypes && allocationHistoryEntries">
                    <ng-container *ngFor="let waterType of waterTypes">
                        <ng-container *ngIf="isAcreageBasedWaterType(waterType)">
                            <div class="row mb-1">
                                <div class="col my-auto">
                                    <form class="form-inline">
                                        <div class="form-group row w-100">
                                            <label for="getWaterTypeLabel(waterType)"
                                                class="col-form-label col-3 d-inline-block">
                                                <strong>{{waterType.WaterTypeName}}</strong>
                                                <br class="br-special" />
                                                <span
                                                    style="font-size:10px">{{getLastSetDateForWaterType(waterType) ? "Last set " + getLastSetDateForWaterType(waterType) : "No record of last set date"}}</span>
                                            </label>
                                            <div class="col">
                                                <input type="number" #waterAllocation
                                                    id="{{getWaterTypeLabel(waterType)}}"
                                                    class="form-control" style="max-width:75px" required>
                                                ac-ft per parcel acre
                                            </div>
                                            <button type="button" class="btn btn-rio"
                                                (click)="setWaterTypeToUpdateAndLaunchModal(updateWaterAllocationModalContent, waterType)"
                                                [disabled]="isLoadingSubmit">Save to all Parcels</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div *ngIf="displayErrors[waterType.WaterTypeName]" class="row mb-1">
                                <div class="col danger">
                                    Please enter a value before submitting
                                </div>
                            </div>
                        </ng-container>
                        <ng-container *ngIf="isSpreadsheetDrivenWaterType(waterType)">
                            <div class="row">
                                <div class="col">
                                    <form class="form-inline">
                                        <div class="form-group row w-100">
                                            <label for="getWaterTypeLabel(waterType)"
                                                class="col-form-label col-3 d-inline-block">
                                                <strong>{{waterType.WaterTypeName}}</strong>
                                                <br class="br-special" />
                                                <span
                                                    style="font-size:10px">{{getLastSetDateForWaterType(waterType) ? "Last uploaded " + getLastSetDateForWaterType(waterType) : "No record of last set date"}}</span>
                                            </label>
                                            <div class="input-group col ml-3 p-0">
                                                <div class="custom-file">
                                                    <input type="file" class="custom-file-input"
                                                        id="{{getWaterTypeLabel(waterType)}}"
                                                        #fileUpload (change)="fileEvent(waterType)">
                                                    <label class="custom-file-label"
                                                        for="getWaterTypeLabel(waterType)">{{getFileName(waterType)}}</label>
                                                </div>
                                                <div class="input-group-append">
                                                    <button class="btn btn-rio" type="button"
                                                        (click)="openFileUpload(waterType)"><i
                                                            class="fas fa-folder-open"></i></button>
                                                </div>
                                            </div>
                                            <div class="col-3 text-right p-0">
                                                <button type="button" class="btn btn-rio"
                                                    [disabled]="isLoadingSubmit || displayFileErrors[waterType.WaterTypeName]"
                                                    (click)="setWaterTypeToUpdateAndLaunchModal(updateWaterAllocationModalContent, waterType)">
                                                    Upload & Save
                                                </button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div *ngIf="displayErrors[waterType.WaterTypeName]" class="row mb-1">
                                <div class="col danger">
                                    Please choose a file before submitting
                                </div>
                            </div>
                            <div *ngIf="displayFileErrors[waterType.WaterTypeName]" class="row mb-1">
                                <div class="col danger">
                                    File is not the correct type, please select a CSV file to upload
                                </div>
                            </div>
                        </ng-container>
                    </ng-container>
                    <div class="updating-allocation" *ngIf="isLoadingSubmit">
                        <div class="updating-allocation-text">
                            <span class="fa fa-spinner loading-spinner"></span> Updating Allocation
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    Allocation History (All Years)
                </div>
                <div class="card-body">
                    <ag-grid-angular #parcelAllocationHistoryGrid style="width: 100%; height: 300px;"
                        class="ag-theme-balham" [columnDefs]="parcelAllocationHistoryGridColumnDefs" [pagination]="true"
                        [paginationPageSize]="100" [suppressMenuHide]="true">
                    </ag-grid-angular>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #updateWaterAllocationModalContent let-modal>
    <div class="modal-header">
        <h5 class="modal-title" id="updateWaterAllocationModalTitle">Update Water Allocation</h5>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <p>
            Are you sure you want to update <strong>{{waterTypeToUpdate.WaterTypeName}}</strong> for the Water Year <strong>{{waterYearToDisplay.Year}}</strong>?
            This change will affect all Parcels.  
        </p>
        <div class="modal-footer">
            <button *ngIf="isAcreageBasedWaterType(waterTypeToUpdate)" type="button" class="btn btn-rio btn-sm" ngbAutoFocus (click)="submitBulkAllocation(waterTypeToUpdate)">
                Save</button>
            <button *ngIf="isSpreadsheetDrivenWaterType(waterTypeToUpdate)" type="button" class="btn btn-rio btn-sm" ngbAutoFocus (click)="uploadAllocationFile(waterTypeToUpdate)">
                Save</button>
            <button type="button" class="btn btn-secondary btn-sm" (click)="resetWaterTypeToUpdateAndCloseModal(modal)">Cancel</button>
        </div>
    </div>
</ng-template>