.custom-file-label::after {
    display: none;
}

.br-special {
    content: " ";
    display:block;
    margin-top: -7px;
}

//Get rid of arrows on input of type number
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance:textfield;
}

.danger {
    color:red
}

.updating-allocation {
  background-color: rgba(0, 0, 0, 0.6);
    bottom: 0;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 99;
}

.updating-allocation-text {
    color: #ffffff;
    float: left;
    font-size: 22px;
    left: 38%;
    padding: 20px;
    position: absolute;
    top: 40%;
    width: auto;
}