<div class="row">
    <div class="col-sm-12 px-2 mb-3" style="height: 400px">
        <rio-allocation-chart-impl-component [scheme]="comboBarScheme" [colorSchemeLine]="lineChartScheme"
            [currentCumulativeWaterUsageSeries]="currentCumulativeWaterUsage" [animations]="true"
            [historicCumulativeWaterUsageSeries]="historicCumulativeWaterUsage"
            [annualAllocationSeries]="annualAllocationSeries" [gradient]="true" [xAxis]="true" [yAxis]="true"
            [legend]="true" [legendTitle]="''" [legendPosition]="'below'" [showGridLines]="true"
            [showXAxisLabel]="false" [showYAxisLabel]="true" [showRightYAxisLabel]="false"
            [yAxisLabel]="'Volume (acre-feet)'" [tooltipDisabled]="false" [seriesDomain]="seriesDomain"
            [yDomain]="yDomain">
        </rio-allocation-chart-impl-component>
    </div>
</div>