<div class="row">
    <div class="col-sm-12">
        <p>
            Lol, this is where the chart SHOULD be lol! instead you just get this smock-up</p>
        <combo-chart-component [view]="view" [scheme]="comboBarScheme" [colorSchemeLine]="lineChartScheme"
            [results]="usageData.Current" [animations]="animations" [lineChart]="usageData.Historic"
            [yAxisTickFormatting]="yLeftTickFormat" [yLeftAxisScaleFactor]="yLeftAxisScale"
            [yRightAxisScaleFactor]="yRightAxisScale" [yRightAxisTickFormatting]="yRightTickFormat"
            [gradient]="gradient" [xAxis]="showXAxis" [yAxis]="showYAxis" [legend]="showLegend"
            [legendTitle]="legendTitle" [legendPosition]="legendPosition" [showGridLines]="showGridLines"
            [showXAxisLabel]="false" [showYAxisLabel]="true" [showRightYAxisLabel]="false"
            [xAxisLabel]="xAxisLabel" [yAxisLabel]="yAxisLabel" [yAxisLabelRight]="yAxisLabelRight">
        </combo-chart-component>
    </div>
</div>