<nav aria-label="breadcrumb" *ngIf="trade">
    <ol class="breadcrumb">
      <li class="breadcrumb-item" aria-current="page">
        <a routerLink="/trades">Buy and Sell Water</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">
        Confirm Transfer
      </li>
    </ol>
  </nav>
  <div class="container mt-sm-4" *ngIf="trade">
    <h2 style="display: inline-block">
      Confirm Transfer
    </h2>
    <app-alert-display></app-alert-display>
    <div class="row mt-4">
      <div class="col-sm-12 col-md-6">
        <div class="card">
          <div class="card-header">
            Accepted Offer
          </div>
          <div class="card-body">
            <dl class="row">
              <dt class="text-sm-right col-sm-5 col-xs-12">Trade Date</dt>
              <dd class="col-sm-7 col-xs-12">
                {{mostRecentOffer.OfferDate | date:'short'}}
              </dd>
  
              <dt class="text-sm-right col-sm-5 col-xs-12">{{offerType}} Quantity</dt>
              <dd class="col-sm-7 col-xs-12">
                {{mostRecentOffer.Quantity}} ac-ft
              </dd>
  
              <dt class="text-sm-right col-sm-5 col-xs-12">Status</dt>
              <dd class="col-sm-7 col-xs-12">
                {{trade.TradeStatus.TradeStatusDisplayName}}
              </dd>
  
              <dt class="text-sm-right col-sm-5 col-xs-12">Unit Price</dt>
              <dd class="col-sm-7 col-xs-12">
                {{mostRecentOffer.Price | currency: "USD" }} per ac-ft
              </dd>
  
              <dt class="text-sm-right col-sm-5 col-xs-12">Total Price</dt>
              <dd class="col-sm-7 col-xs-12">
                {{getTotalPrice(mostRecentOffer) | currency : "USD" }}
              </dd>
  
              <dt class="text-sm-right col-sm-5 col-xs-12">Notes</dt>
              <dd class="col-sm-7 col-xs-12">
                {{mostRecentOffer.OfferNotes}}
              </dd>
            </dl>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-6" *ngIf="isPostingOwner || isTradeOwner">
        <div class="card" *ngIf="!isRejectingTrade && !isConfirmingTrade && !isCounterOffering">
          <div class="card-header">
            Your Actions
          </div>
          <div class="card-body" *ngIf="isTradeNotOpen()">
            <p>Please confirm your transfer</p>
          </div>
  
          <div class="card-body">
              Coming Soon!
          </div>  
        </div>
      </div>
    </div>
  </div>