<div class="breadcrumb-container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a routerLink="/">Home</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">Glossary</li>
        </ol>
    </nav>
</div>
<div class="container mt-sm-4">
    <app-alert-display></app-alert-display>
    <h2>Glossary</h2>
    <div class="row mt-4" >
        <div class="col-md-12">
            <dl>
                <ng-container *ngFor="let waterType of waterTypes">
                    <dt id="waterType{{waterType.WaterTypeID}}">{{waterType.WaterTypeName}}</dt>
                    <dd class="p-2">{{waterType.WaterTypeDefinition}}</dd>
                </ng-container>
                <ng-container *ngIf="allowTrading()">
                    <dt>Purchased</dt>
                    <dd class="p-2">
                        <rio-custom-rich-text [customRichTextTypeID]="purchasedCustomRichTextTypeID"></rio-custom-rich-text>
                    </dd>
                    <dt>Sold</dt>
                    <dd class="p-2">
                        <rio-custom-rich-text [customRichTextTypeID]="soldCustomRichTextTypeID"></rio-custom-rich-text>
                    </dd>
                </ng-container>
            </dl>
        </div>
    </div>
</div>