<div class="breadcrumb-container">
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
<li class="breadcrumb-item">
     <a routerLink="/">Home</a>
 </li>
                <li class="breadcrumb-item active" aria-current="page">Add Water Accounts</li>
            </ol>
        </nav>
    </div>
</div>
<div class="container mt-sm-4">
    <app-alert-display></app-alert-display>
    <ngb-alert *ngIf="currentUserIsAdmin()" [type]="'info'" [dismissible]="false">
        <span>
            Administrators cannot register accounts through this page, it can be accessed for support reasons only. 
            To edit a particular user's accounts, please use the 'Edit Accounts' link found by selecting a user from the <a routerLink="/users">User list</a>.
        </span>
    </ngb-alert>
    <div class="row mb-2">
        <div class="col">
            <h2 class="d-inline-block">Add Water Accounts to your Profile</h2>

            <div class="mt-2">
                <rio-custom-rich-text [customRichTextTypeID]="introRichText"></rio-custom-rich-text>
            </div>
        </div>
    </div>
    <div class="row mb-2">
        <div class="col-sm-7 col-md-6 col-lg-3 mb-1">
            <input type="text" class="form-control" [(ngModel)]="verificationKeyToSearchFor"
                (ngModelChange)="turnOffAccountSearchAlerts()" />
        </div>
        <div class="col-sm-5 col-md-3">
            <button class="btn btn-rio float-right float-sm-none" (click)="findAccount()">Find Account</button>
        </div>
        <div class="col-12">
            <small><a routerLink="/help">Didn't receieve a mailer? Request Support to contact the district</a></small>
        </div>
    </div>
    <div class="row" *ngIf="accountNotFound">
        <div class="col-sm-10 col-md-8 col-lg-6">
            <div class="alert alert-danger alert-dismissible">
                Could not find an account with the Account Verification Key 
                <strong>{{verificationKeyToSearchFor}}</strong>.
                Please verify your key is correct and try again.
                <button type="button" class="close" data-dismiss="alert" (click)="accountNotFound=false"
                    aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>
    </div>
    <div class="row" *ngIf="accountAlreadyPresentInList">
        <div class="col-sm-6">
            <div class="alert alert-danger alert-dismissible">
                Account with the Account Verification Key 
                <strong>{{verificationKeyToSearchFor}}</strong>
                is already present in the list. <br />
                Please update search request if more accounts are desired.
                <button type="button" class="close" data-dismiss="alert" (click)="accountAlreadyPresentInList=false"
                    aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>
    </div>
    <div class="row" *ngIf="userAlreadyHasAccessToAccount">
        <div class="col-sm-6">
            <div class="alert alert-danger alert-dismissible">
                Account with the Account Verification Key 
                <strong>{{verificationKeyToSearchFor}}</strong> 
                is already in the accounts you actively manage. 
                Please update search request if more accounts are desired.
                <button type="button" class="close" data-dismiss="alert" (click)="userAlreadyHasAccessToAccount=false"
                    aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>
    </div>
    <div class="row" *ngIf="accountSuccessfullyFoundAndAddedToList">
        <div class="col-sm-6">
            <div class="alert alert-success alert-dismissible">
                Account with the Account Verification Key 
                <strong>{{lastSuccessfullyAddedAccountVerificationKey}}</strong> 
                was found and has been added to the list! 
                Add more accounts if desired, otherwise make sure to enter your name below and click 'Register Account(s)'.
                <button type="button" class="close" data-dismiss="alert" (click)="accountSuccessfullyFoundAndAddedToList=false"
                    aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>
    </div>
    <ng-container *ngIf="(accountsToAdd && accountsToAdd.length > 0) || currentUserIsAdmin()">
        <div class="row mb-2" [ngClass]="i == 0 ? 'mt-4': 'mt-2'" *ngFor="let account of accountsToAdd; let i = index">
            <div class="col">
                <i class="fas fa-trash remove-account" title="Remove Account from Accounts to Add"
                    (click)="accountsToAdd.splice(i,1)"></i>
                Account #{{account.AccountNumber}} - {{account.AccountName}}
            </div>
        </div>
        <div class="row mt-4 mb-2">
            <div class="col col-sm-10 col-md-8 col-lg-6">
                <rio-custom-rich-text [customRichTextTypeID]="legalText"></rio-custom-rich-text>               
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-sm-7 col-md-6 col-lg-3 mb-1">
                <input type="text" class="form-control" [(ngModel)]="confirmedFullNameForRegistration" />
                {{currentUser?.FullName}}
            </div>
            <div class="col-sm-5 col-md-6">
                <button class="btn btn-rio float-right float-sm-none" [disabled]="!isFullNameConfirmedForRegistration() || currentUserIsAdmin()" (click)="registerAccounts()">Register Account(s)</button>
            </div>
        </div>
    </ng-container>
</div>