<div class="breadcrumb-container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a routerLink="/">Home</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">Inactive Parcels</li>
        </ol>
    </nav>
</div>
<div class="container mt-sm-4">
    <app-alert-display></app-alert-display>
    <div class="row">
        <div class="col">
            <h2 class="d-inline-block">Inactive Parcels</h2>
            <div class="mt-2">
                <rio-custom-rich-text [customRichTextTypeID]="richTextTypeID"></rio-custom-rich-text>
            </div>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-sm-5 col-md-4 col-sm-pull-7 col-md-pull-8" style="overflow-y: auto;">
                <div class="card">
                    <div class="card-header">
                            Parcel List
                    </div>
                    <div class="card-body">
                        <div class="row mb-2">
                            <div class="col-auto ml-auto">
                                <rio-clear-grid-filters-button [grid]="parcelsGrid" classList="mr-2"></rio-clear-grid-filters-button>
                            </div>
                        </div>
                        <div class="table-responsive">
                            <ag-grid-angular #parcelsGrid style="width: 100%" [style.height]="mapHeight" class="ag-theme-balham" [rowData]="rowData"
                                [columnDefs]="columnDefs" [pagination]="true" [paginationPageSize]="100" [rowSelection]="'single'" [suppressMenuHide]="true" (gridReady)="onGridReady($event)" (selectionChanged)="onSelectionChanged($event)" (filterChanged)="selectHighlightedParcelIDRowNode()">
                            </ag-grid-angular>
                        </div>
                    </div>
                </div>   
        </div>
        <div class="col-sm-7 col-md-8 col-sm-push-5 col-md-push-4">
            <div class="card">
                <div class="card-header">
                    Parcel Map
                </div>
                <div class="card-body">
                    <parcel-map *ngIf="!loadingParcels" mapID="parcelsMapForUser" [selectedParcelIDs]="selectedParcelIDs" [selectedParcelLayerName]="selectedParcelsLayerName" [(highlightedParcelID)]="highlightedParcelID" [disableDefaultClick]="true" [highlightParcelOnClick]="true" mapHeight="500px">
                    </parcel-map>
                    <div class="text-center" *ngIf="loadingParcels" [style.height]="mapHeight" [style.line-height]="mapHeight" style="background-color:#f3f3f3">
                        <span class="fa fa-spinner loading-spinner"></span> Loading Parcels for Map
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>