<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item" aria-current="page">
      <a routerLink="/trades">Trades</a>
    </li>
    <li class="breadcrumb-item">
      <a routerLink="/postings/{{posting.PostingID}}">
        {{(posting.PostingDate | date:'short') + ' - ' + posting.PostingType.PostingTypeDisplayName + ' - ' + posting.CreateUser.FullName}}
      </a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">
      Edit
    </li>
  </ol>
</nav>
<div class="container">
  <h2>
    {{(posting.PostingDate | date:'short') + ' - ' + posting.PostingType.PostingTypeDisplayName + ' - ' + posting.CreateUser.FullName}}
  </h2>
</div>
<div class="container my-sm-4">
  <app-alert-display></app-alert-display>
  <form (ngSubmit)="onSubmit(editPostingForm)" #editPostingForm="ngForm">
    <div class="row">
      <div class="col-sm-12">
        <div class="form-horizontal">
          <div class="form-group">
            <div class="col-sm-2 control-label">
              <label class="required">Type</label>
            </div>
            <div class="col-sm-10">
              <select name="PostingTypeID" class="form-control" [(ngModel)]="model.PostingTypeID" required>
                <option value=""></option>
                <option *ngFor="let postingType of postingTypes" [value]="postingType.PostingTypeID">
                  {{postingType.PostingTypeDisplayName}}
                </option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-2 control-label">
              <label class="required">Quantity</label>
            </div>
            <div class="col-sm-10">
              <div class="input-group">
                <input type="number" class="form-control" name="Quantity" required [(ngModel)]="model.Quantity" />
                <span class="input-group-addon">ac-ft</span>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-2 control-label">
              <label class="required">Unit Price</label>
            </div>
            <div class="col-sm-10">
              <div class="input-group">
                <span class="input-group-addon">$</span>
                <input type="number" class="form-control" name="Price" required [(ngModel)]="model.Price" />
                <span class="input-group-addon">per ac-ft</span>
              </div>
            </div>
          </div>
          <div class="form-group">
              <div class="col-sm-2 control-label">
                  <label>Total Price</label>
              </div>
              <div class="col-sm-10">
                  <span *ngIf="getTotalPrice()">{{getTotalPrice() | currency : "USD" }}</span>
                  <span *ngIf="!getTotalPrice()">-</span>
              </div>
          </div>
          <div class="form-group">
            <div class="col-sm-2 control-label">
              <label class="required">Description</label>
            </div>
            <div class="col-sm-10">
                <textarea class="form-control" name="PostingDescription" required style="height: 200px"
                [(ngModel)]="model.PostingDescription" placeholder="Please enter details of your posting, including contact information"></textarea>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <hr />
      <div class="col-xs-12 col-sm-2">
        <i class="fas fa-bolt"></i> Required field
      </div>
      <div class="col-xs-12 col-sm-10 text-right">
        <button type="submit" class="btn btn-primary" [disabled]="!editPostingForm.form.valid || isLoadingSubmit">
          <span *ngIf="isLoadingSubmit" class="fa fa-spinner loading-spinner"></span>
          Save
        </button>
        <a class="btn btn-secondary ml-1" routerLink="/trades">Cancel</a>
      </div>
    </div>
  </form>
</div>