<div class="breadcrumb-container">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb breadcrumb-empty">
      <li class="breadcrumb-item active" aria-current="page">Landowner Dashboard</li>
    </ol>
  </nav>
</div>
<div class="container">
  <app-alert-display></app-alert-display>
  <ngb-alert *ngIf="!loadingActiveAccount && parcelsToBeReconciled?.length > 0" [type]="'info'" [dismissible]="false">
    <span>
      Parcel(s) associated with this account are not receiving water supply and usage data 
      because the Parcel Number had duplicate ownership information in the most recent parcel update. 
      Please contact the platform administrator to determine how water supply and usage for these APN(s) 
      should be assigned: {{getParcelNumbersForParcelsToBeReconciled()}}
    </span>
</ngb-alert>
</div>
<ng-container *ngIf="!loadingActiveAccount; else loadingBlock">
  <div class="container mb-4" style="position:sticky; top:0; background-color:#FFF; z-index: 1000;">
    <div class="row mt-2 mb-3">
      <div class="col col-auto mr-auto">
        <h2>
          {{getAccountDisplayName()}}
        </h2>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 p-1 pl-4 pr-4" id="page-controls-bar">
        <div class="row">
          <div class="col-lg-4 col-sm-12" *ngIf="waterYears">
            <div class="d-inline d-lg-none float-right">
              <a routerLink="/measuring-water-use-with-openet" class="d-inline align-middle">
                <i class="fas fa-info-circle p-2" aria-hidden="true"></i>Definitions
              </a>
            </div>
            <rio-water-year-select [waterYears]="waterYears" [(selectedYear)]="waterYearToDisplay"
              (selectedYearChange)="updateAnnualData()">
            </rio-water-year-select>
          </div>
          <div class="col-lg-4 col-sm-12 text-lg-center" id="unit-selector">
            <span class="align-middle d-inline-block mt-1">Viewing in units of &nbsp;</span>
            <div class="btn-group btn-group-toggle h-75 mt-1">
              <label class="btn btn-toggle btn-sm btn-rio" [ngClass]="unitsShown === 'ac-ft' ? 'active' : ''"
                style="width:65px;">
                <input type="radio" name="units" id="ac-ft" (click)="toggleUnitsShown('ac-ft')"> ac-ft
              </label>
              <label class="btn btn-toggle btn-sm btn-rio" [ngClass]="unitsShown === 'ac-ft / ac' ? 'active' : ''">
                <input type="radio" name="units" id="ac-ft/ac" (click)="toggleUnitsShown('ac-ft / ac')"> ac-ft/ac
              </label>
            </div>
          </div>
          <div class="col-lg-4 text-right pt-1 d-none d-lg-block">
            <a routerLink="/measuring-water-use-with-openet" class="d-inline align-middle">
              <i class="fas fa-info-circle p-2" aria-hidden="true"></i>Definitions
            </a>
          </div>
        </div>
      </div>
      <div class="col p-0">
        <ul class="list-group list-group-flush text-center text-lg-left flex-row" style="width:100%">
          <li class="list-group-item header p-0" style="width:100%" *ngFor="let item of getViewEnum()"
            [class.selected]="checkSelectedView(item)" (click)="updateView(item)" (mouseenter)="hoverItem = item"
            (mouseleave)="hoverItem = null" placement="top" ngbTooltip="{{item}}" tooltipClass="selector-tooltip">
            <div class="container" style="height:100%">
              <div class="row d-flex flex-wrap align-items-center ml-1" style="height:100%">
                <div class="col-lg-3 col-sm-12 p-0">
                  <img src="{{getImgSrcForSelector(item)}}" style="max-width:60px;width:100%" alt="{{item}}">
                </div>
                <div class="col-lg-9 pl-0 d-lg-block d-none">
                  {{item}}
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="container" *ngIf="activeAccount">
    <div class="row"
      *ngIf="userHasParcels() && waterUsages && sectionCurrentlyViewing == LandownerDashboardViewEnum.WaterBudget">
      <div class="col-sm-12 mb-3">
        <div class="h3">{{includeWaterSupply() ? 'Supply and' : ''}} Usage Overview</div>
      </div>
      <div class="col-sm-12 col-lg-5 pr-5">
        <div class="table-responsive mt-2">
          <table class="table table-sm table-borderless">
            <ng-container *ngIf="includeWaterSupply()">
              <tr>
                <th class="text-sm-left pb-3">
                  Total Supply
                  <a style="cursor: pointer" class="collapsed ml-1"
                    (click)="showSupplyDetails = !showSupplyDetails">
                    <i *ngIf="showSupplyDetails else dontShowSupplyDetails"
                      class="fas fa-minus text-muted" style="font-size: smaller"></i>
                    <ng-template #dontShowSupplyDetails>
                      <i class="fas fa-plus text-muted" style="font-size: smaller"></i>
                    </ng-template>
                  </a>
                </th>
                <td class="text-sm-right font-weight-bold pb-3">
                  {{getAnnualWaterSupply(waterYearToDisplay?.Year) | number: '1.1-1'}} {{unitsShown}}
                </td>
              </tr>
              <ng-container *ngIf="showSupplyDetails">
                <tr *ngFor="let waterType of waterTypes">
                  <td class="text-sm-right">
                    {{waterType.WaterTypeName}}
                    <a routerLink="/glossary" target="_blank" style="cursor:pointer" placement="top"
                      ngbTooltip="Learn about {{waterType.WaterTypeName}}"><i
                        class="fas fa-question-circle small"></i></a>
                  </td>
                  <td class="text-sm-right">
                    {{getWaterSupplyByWaterType(waterType) | number: '1.1-1'}} {{unitsShown}}
                  </td>
                </tr>
                <ng-container *ngIf="allowTrading()">
                  <tr>
                    <th class="text-sm-right font-weight-normal">
                      Purchased
                      <a routerLink="/glossary" target="_blank" style="cursor:pointer" placement="top"
                        ngbTooltip="Learn about Purchased Water"><i
                          class="fas fa-question-circle small"></i></a>
                    </th>
                    <td class="text-sm-right">
                      {{getPurchasedWaterSupply() | number: '1.1-1'}} {{unitsShown}}
                    </td>
                  </tr>
                  <tr>
                    <th class="text-sm-right font-weight-normal">
                      Sold
                      <a routerLink="/glossary" target="_blank" style="cursor:pointer" placement="top"
                        ngbTooltip="Learn about Sold Water"><i
                          class="fas fa-question-circle small"></i></a>
                    </th>
                    <td class="text-sm-right">
                      {{-1 * getSoldWaterSupply() | number: '1.1-1'}} {{unitsShown}}
                    </td>
                  </tr>
                </ng-container>
              </ng-container>
            </ng-container>
            <tr>
              <th class="text-sm-left pb-3">
                Usage to Date
                <a routerLink="/measuring-water-use-with-openet" target="_blank" style="cursor:pointer"
                  placement="top" ngbTooltip="Learn how water usage is measured"><i
                    class="fas fa-question-circle small ml-1"></i></a>
              </th>
              <td class="text-sm-right font-weight-bold pb-3">
                <span>
                  {{getWaterUsageToDate() ?? 0 | number: '1.1-1'}} {{unitsShown}}
                </span>
              </td>
            </tr>
            <ng-container *ngIf="includeWaterSupply()">
              <tr>
                <th class="text-sm-left pb-3">
                  Current Available
                </th>
                <td class="text-sm-right font-weight-bold pb-3">
                  {{getCurrentAvailableWater() | number: '1.1-1'}} {{unitsShown}}
                </td>
              </tr>
            </ng-container>
            <tr>
              <td colspan="2">
                <hr class="mt-0" />
              </td>
            </tr>
            <tr>
              <th class="text-sm-left pb-3">
                Overconsumption Rate
              </th>
              <td class="text-sm-right font-weight-bold pb-3">
                $ {{this.waterYearToDisplay.OverconsumptionRate | number: '1.2-2'}} / ac-ft
              </td>
            </tr>
            <tr>
              <th class="text-sm-left pb-3">
                Overconsumption Volume
              </th>
              <td class="text-sm-right font-weight-bold pb-3">
                {{getOverconsumptionAmount() | number: '1.2-2'}} {{unitsShown}}
              </td>
            </tr>
            <tr>
              <th class="text-sm-left pb-3">
                Overconsumption Amount
              </th>
              <td class="text-sm-right font-weight-bold pb-3">
                $ {{getOverconsumptionCharge() | number: '1.2-2'}} {{unitsShown == 'ac-ft' ? '' : '/ ac'}}
              </td>
            </tr>
            <tr>
              <td colspan="2">
                <hr class="mt-0" />
              </td>
            </tr>
            <tr>
              <th class="text-sm-left pb-3">
                Average Annual Usage
              </th>
              <td class="text-sm-right font-weight-bold pb-3">
                {{getResultInUnitsShown(historicAverageAnnualUsage) | number: '1.1-1'}} {{unitsShown}}
              </td>
            </tr>
            <tr>
              <th class="text-sm-left pb-3">
                Parcel Acres Managed
                <a style="cursor: pointer" class="collapsed ml-1"
                  (click)="showAcresManagedDetails = !showAcresManagedDetails">
                  <i *ngIf="showAcresManagedDetails else dontShowAcresManagedDetails"
                    class="fas fa-minus text-muted" style="font-size: smaller"></i>
                  <ng-template #dontShowAcresManagedDetails>
                    <i class="fas fa-plus text-muted" style="font-size: smaller"></i>
                  </ng-template>
                </a>
              </th>
              <td class="text-sm-right font-weight-bold pb-3">
                {{getTotalAPNAcreage() | number: '1.1-1'}} ac
              </td>
            </tr>
            <ng-container *ngIf="showAcresManagedDetails">
              <tr *ngFor="let parcel of parcels">
                <th class="text-sm-right"><a routerLink="/parcels/{{parcel.ParcelID}}">{{parcel.ParcelNumber}}</a>
                </th>
                <td class="text-sm-right">{{parcel.ParcelAreaInAcres | number: '1.1-1'}} ac
                </td>
              </tr>
            </ng-container>
          </table>
        </div>
      </div>
      <div class="col-sm-12 col-lg-7 mt-4 mt-lg-0">
        <div class="row">
          <div class="col-sm-12">
            <div *ngIf="userHasParcels() && waterUsageOverview">
              <rio-landowner-water-supply-chart [annualWaterSupplySeries]="getAnnualWaterSupplySeries()"
                [yDomain]="waterSupplyChartRange" [historicCumulativeWaterUsage]="historicCumulativeWaterUsage"
                [currentCumulativeWaterUsage]="getCumulativeWaterUsageForWaterYear()">
              </rio-landowner-water-supply-chart>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-12 mt-5 pt-4 mb-5">
        <div class="row">
          <div class="col-md-6">
            <div class="h3">Account Activity</div>
          </div>
          <div class="col-md-6 text-md-right mb-2">
            <div class="btn-group btn-group-toggle">
              <label class="btn btn-toggle btn-sm btn-rio border" style="width:180px;" [ngClass]="{ 'active': !displayAccountActivityDetailed }">
                <input type="radio" name="activity-view" id="summary" [(ngModel)]="displayAccountActivityDetailed" [value]="false">Recent Transactions
              </label>
              <label class="btn btn-toggle btn-sm btn-rio border" style="width:180px;" [ngClass]="{ 'active': displayAccountActivityDetailed }">
                <input type="radio" name="activity-view" id="detailed" [(ngModel)]="displayAccountActivityDetailed" [value]="true">All Transaction Details
              </label>
            </div>
          </div>
        </div>
        <div class="card" id="activity-summary"  *ngIf="!displayAccountActivityDetailed; else accountActivityDetailed">
          <div class="card-body">
            <div *ngFor="let parcelLedger of parcelLedgersForWaterYear | slice: 0:activityDisplayCount; let last = last;">
              <div class="row">
                <div class="col-md-2 mb-2">
                  <span class="label">Effective Date</span>
                  {{parcelLedger.EffectiveDate | date: 'shortDate'}}
                </div>
                <div class="col-md-10">
                  <div class="row">
                    <div class="col-lg-3">
                      <div class="row">
                        <div class="col-sm-12 mb-4">
                          <span class="label">Transaction Type</span>
                          {{parcelLedger.TransactionType.TransactionTypeName}}
                        </div>
                        <div class="col-sm-12">
                          <span class="label">Source Type</span>
                          {{parcelLedger.ParcelLedgerEntrySourceType.ParcelLedgerEntrySourceTypeDisplayName}}
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-9">
                      <div class="row">
                        <div class="col-sm-12 mb-4" *ngIf="parcelLedger.TransactionDescription">
                          <span class="label">Description</span>
                          {{parcelLedger.TransactionDescription}}
                        </div>
                        <div class="col-lg-3 col-md-6 mb-0 mb-xs-4">
                          <span class="label">Parcel</span>
                          <a routerLink="/parcels/{{parcelLedger.Parcel.ParcelID}}">{{parcelLedger.Parcel.ParcelNumber}}</a>
                        </div>
                        <ng-container *ngIf="includeWaterSupply()">
                          <div class="col-lg-3 col-md-6 mb-0 mb-xs-4">
                            <div *ngIf="parcelLedger.WaterType">
                              <span class="label">Water Type</span>
                              {{parcelLedger.WaterType.WaterTypeName}}
                            </div>
                          </div>
                        </ng-container>
                        <div class="col-lg-3 col-md-6 mb-0 mb-xs-4">
                          <span class="label">Quantity</span>
                          {{getResultInUnitsShown(parcelLedger.TransactionAmount) | number: '1.2-2'}} {{unitsShown}}
                        </div>
                        <div class="col-lg-3 col-md-6">
                          <span class="label">Balance</span>
                          {{getResultInUnitsShown(parcelLedgersBalance.get(parcelLedger.ParcelLedgerID)) | number: '1.2-2'}} {{unitsShown}}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <hr *ngIf="!last" />
            </div>
            <div class="row d-flex mt-5">
              <button class="btn btn-secondary m-auto" *ngIf="activityDisplayCount < parcelLedgersForWaterYear.length; else noEntriesToLoad" 
                (click)="updateActivityDisplayCount()">Show More Activity</button>
              <ng-template #noEntriesToLoad>
                <div class="m-auto font-italic">There is no more activity to show for the selected water year.</div>
              </ng-template>
            </div>
          </div>
        </div>
        <ng-template #accountActivityDetailed>
          <div class="card">
            <div class="card-body">
              <div class="row mb-2">
                <div class="col-auto ml-auto">
                  <rio-clear-grid-filters-button [grid]="activityDetailGrid" classList="mr-2"></rio-clear-grid-filters-button>
                  <a class="btn btn-secondary btn-sm" style="cursor: pointer;"
                    (click)="exportActivityDetailGridToCsv()" placement="top"
                    ngbTooltip="Download Account Activity Report"><i class="fas fa-download"></i>
                  </a>
                </div>
              </div>
              <ag-grid-angular #activityDetailGrid class="ag-theme-balham" style="width: 100%; height: 700px;"
                [columnDefs]="activityDetailGridColDefs" [defaultColDef]="defaultColDef" (gridReady)="onGridReady($event)"
                [pagination]="true" [paginationPageSize]="100" [suppressMenuHide]="true">
              </ag-grid-angular>
            </div>
          </div>
        </ng-template>
      </div>
    </div>
    <ng-container *ngIf="userHasParcels() && waterUsageChartData && sectionCurrentlyViewing == LandownerDashboardViewEnum.UsageByParcel">
      <div class="row">
        <div class="col-sm-12">
          <div class="mt-3 mb-3">
            <span class="h3 align-middle">{{waterYearToDisplay?.Year}} Water Usage by Parcel Visualization </span>
            <a routerLink="/measuring-water-use-with-openet" target="_blank"
              style="cursor:pointer; vertical-align: middle;" placement="top"
              ngbTooltip="Learn how water usage is measured"><i class="fas fa-question-circle small"></i>
            </a>
          </div>
          <rio-landowner-water-use-chart *ngIf="!isWaterUsageForWaterYearNullOrEmpty()"
            [waterUsageData]="getWaterUsageForWaterYear()" [parcelNumbers]="parcelNumbers" #landownerWaterUseChart>
          </rio-landowner-water-use-chart>
          <p *ngIf="isWaterUsageForWaterYearNullOrEmpty()">OpenET water usage data not yet available for
            {{waterYearToDisplay?.Year}}</p>
          <p class="small">
            Estimated water usage is based on satellite imagery and may not be accurate at the APN level.
            <br>
            Details of water use measurements can be found in the <a routerLink="/measuring-water-use-with-openet"
              routerLinkActive="true">OpenET FAQ</a>.
          </p>
        </div>
      </div>
      <div class="row mt-4">
        <div class="col-sm-12">
          <div class="mb-3">
            <span class="h3 align-middle">{{waterYearToDisplay?.Year}} Water Usage by Parcel Tabular </span>
            <a routerLink="/measuring-water-use-with-openet" target="_blank"
              style="cursor:pointer; vertical-align: middle;" placement="top"
              ngbTooltip="Learn how water usage is measured"><i class="fas fa-question-circle small"></i>
            </a>
          </div>
          <table class="table table-responsive">
            <thead>
              <th></th>
              <th class="text-right" *ngFor="let month of months">{{month}}</th>
              <th>Total</th>
            </thead>
            <tbody>
              <tr *ngFor="let parcel of parcels">
                <td class="text-nowrap"><a routerLink="/parcels/{{parcel.ParcelID}}">{{parcel.ParcelNumber}}</a>
                </td>
                <ng-container *ngFor="let monthData of getWaterUsageForWaterYear()">
                  <ng-container *ngFor="let seriesData of monthData.series">
                    <td class="text-right" *ngIf="seriesData.name === parcel.ParcelNumber">
                      {{seriesData.isEmpty === true ? "-" : (seriesData.value |
                      number:"1.1-1")}}
                    </td>
                  </ng-container>
                </ng-container>
                <td class="text-right">
                  <strong>{{getTotalWaterUsageForParcel(parcel.ParcelNumber) | number:"1.1-1"}}</strong>
                </td>
              </tr>
            </tbody>
            <tfoot>
              <th><strong>Total</strong></th>
              <th class="text-right" *ngFor="let month of months; let i = index">
                {{getTotalWaterUsageForMonth(i) | number:"1.1-1"}}
              </th>
              <th class="text-right">{{getWaterUsageToDate() | number: "1.1-1"}}</th>
            </tfoot>
          </table>
          <p class="small">
            Measurements are in acre-feet
            <br>
            Estimated water usage is based on satellite imagery and may not be accurate at the APN level.
            <br>
            Details of water use measurements can be found in the <a routerLink="/measuring-water-use-with-openet"
              routerLinkActive="true">OpenET FAQ</a>.
          </p>
        </div>
      </div>
      <div class="row mt-4" *ngIf="parcelsToBeReconciled.length > 0">
        <div class="col-12">
          <div class="mb-3">
            <div class="h3 mb-2">Parcels Not Included in Your Water Budget</div>
            The following parcels have an association this Water Account but could not be imported because the APN was associated with multiple Water Accounts:
          </div>
          hello
          <ng-container *ngFor="let parcel of parcelsToBeReconciled">
            <span>{{parcel.ParcelNumber}}</span>
            <br/>
          </ng-container>
        </div>
      </div>
    </ng-container>
    <div class="row"
      *ngIf="(!userHasParcels() || !waterUsages) && (sectionCurrentlyViewing == LandownerDashboardViewEnum.UsageByParcel || sectionCurrentlyViewing == LandownerDashboardViewEnum.WaterBudget)">
      <div class="col-12">
        <em>No data available: this Account is not associated with any parcels {{waterYearToDisplay ? ("in " +
          waterYearToDisplay.Year) : ""}}</em>
      </div>
    </div>
    <div class="row"
      *ngIf="userHasParcels() && allowTrading() && trades &&sectionCurrentlyViewing == LandownerDashboardViewEnum.Trading">
      <div class="col-sm-12">
        <div class="card">
          <div class="card-header">
            <div class="float-right">
              <label class="switch">
                <input type="checkbox" (change)="toggleTradeStatusShown()" checked />
                <div class="slider round">
                  <span class="off">Active</span>
                  <span class="on">All</span>
                </div>
              </label>
            </div>
            Trade Activity
          </div>
          <div class="card-body table-responsive" style="max-height: 300px; overflow-y:scroll">
            <ng-template #noTradesForWaterYear>
              <p>{{getNoTradesMessage()}}</p>
            </ng-template>
            <table class="table table-condensed table-striped"
              *ngIf="getTradesForWaterYear().length > 0 else noTradesForWaterYear">
              <thead>
                <tr>
                  <th>Trade</th>
                  <th>Date</th>
                  <th>Status</th>
                  <th>Description</th>
                  <th style="text-align: right">Price</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let trade of getTradesForWaterYear()">
                  <td style="border: 0 none; white-space: nowrap"><a
                      routerLink="/trades/{{trade.TradeNumber}}/{{activeAccount.AccountID}}">{{ trade.TradeNumber }}</a>
                  </td>
                  <td style="border: 0 none">{{ trade.OfferDate | date: "MM/dd" }}</td>
                  <td style="border: 0 none; white-space: nowrap">
                    <a routerLink="/register-transfer/{{trade.WaterTransferID}}/{{activeAccount.AccountID}}"
                      *ngIf="trade.WaterTransferID && !isTradeRegisteredByUser(trade) && !isTradeCanceled(trade)">
                      Awaiting Registration
                    </a>
                    <span *ngIf="trade.WaterTransferID && isTradeCanceled(trade)">Canceled</span>
                    <span
                      *ngIf="trade.WaterTransferID && isTradeRegisteredByUser(trade) && !isTradeRegisteredByBothParties(trade)">You
                      have already registered this transfer.<br />The other party must still register<br />before the
                      water
                      is transferred</span>
                    <span
                      *ngIf="!trade.WaterTransferID || isTradeRegisteredByBothParties(trade)">{{getTradeStatus(trade)}}</span>
                  </td>
                  <td style="border: 0 none">{{getTradeDescription(trade)}}</td>
                  <td style="border: 0 none; white-space: nowrap; text-align: right">
                    {{ trade.Price * trade.Quantity | currency: "USD" }}
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="card mt-4">
          <div class="card-header">
            <div class="float-right">
              <label class="switch">
                <input type="checkbox" (change)="togglePostingStatusShown()" checked />
                <div class="slider round">
                  <span class="off">Active</span>
                  <span class="on">All</span>
                </div>
              </label>
            </div>
            Postings
          </div>
          <div class="card-body table-responsive" style="max-height: 200px; overflow-y:scroll">
            <ng-template #noPostingsForWaterYear>
              <p>{{getNoPostingsMessage()}}</p>
            </ng-template>
            <table class="table table-condensed table-striped"
              *ngIf="getPostingsForWaterYear().length > 0 else noPostingsForWaterYear">
              <thead>
                <tr>
                  <th>Date</th>
                  <th>Type</th>
                  <th>Status</th>
                  <th>Initial Quantity</th>
                  <th>Current Quantity</th>
                  <th>Price</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let posting of getPostingsForWaterYear()">
                  <td style="white-space: nowrap"><a routerLink="/postings/{{posting.PostingID}}">{{ posting.PostingDate
                      | date:"MM/dd" }}</a>
                  </td>
                  <td style="white-space: nowrap">{{ posting.PostingType.PostingTypeDisplayName }}
                  </td>
                  <td style="white-space: nowrap">{{ posting.PostingStatus.PostingStatusDisplayName }}
                  </td>
                  <td>{{ posting.Quantity | number: "1.0" }} ac-ft</td>
                  <td>{{ posting.AvailableQuantity | number: "1.0" }} ac-ft</td>
                  <td style="white-space: nowrap">{{ posting.Price | currency: "USD" }} per ac-ft</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="row" *ngIf="userHasParcels() && sectionCurrentlyViewing == LandownerDashboardViewEnum.AccountMap">
      <div class="col-sm-12 col-md-12">
        <div class="card">
          <div class="card-header">
            Parcel Map
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-sm-4 col-md-3 col-sm-pull-8 col-md-pull-9" [style.height]="mapHeight"
                style="overflow-y: auto;">
                <ul class="list-group">
                  <li class="list-group-item parcel-map" *ngFor="let parcel of parcels"
                    [class.selected]="highlightedParcelID == parcel.ParcelID"
                    (click)="highlightedParcelID = parcel.ParcelID">
                    Parcel {{parcel.ParcelNumber}}
                  </li>
                </ul>
              </div>
              <div class="col-sm-8 col-md-9 col-sm-push-4 col-md-push-3">
                <parcel-map mapID="parcelsMapForUser" [(highlightedParcelID)]="highlightedParcelID"
                  [selectedParcelLayerName]="selectedParcelsLayerName" [selectedParcelIDs]="getSelectedParcelIDs()"
                  [disableDefaultClick]="true" [highlightParcelOnClick]="true" mapHeight="500px">
                </parcel-map>
              </div>
            </div>
            <div class="row mt-4">
              <div class="col-12" style="background-color:#eee; background-clip:content-box; min-height:168px">
                <div class="row" *ngIf="highlightedParcelDto">
                  <div class="col-xs-12 col-sm-6 col-lg-4 mt-4">
                    <h2 class="ml-3">Parcel {{highlightedParcelDto.ParcelNumber}}</h2>
                  </div>
                  <div class="col-xs-12 col-sm-6 col-lg-4 mt-4 mb-lg-4">
                    <p class="ml-3"><strong>Area (ac)
                      </strong>{{highlightedParcelDto.ParcelAreaInAcres | number: "1.1-1"}}
                    </p>
                    <p class="ml-3"><strong>Total Supply (ac-ft)
                      </strong>{{getTotalWaterSupplyForParcelAndYear(highlightedParcelDto.ParcelID, waterYearToDisplay?.Year)}}
                    </p>
                    <p class="ml-3"><strong>Total Usage (ac-ft)
                      </strong>{{getTotalWaterUsageForParcel(highlightedParcelDto.ParcelNumber) | number: "1.1-1"}}
                    </p>
                  </div>
                  <div class="col-xs-12 col-sm-12 col-lg-4 mt-4 text-sm-center">
                    <a class="btn btn-rio ml-3 mb-4" routerLink="/parcels/{{highlightedParcelDto.ParcelID}}">View Parcel
                      {{highlightedParcelDto.ParcelNumber}} Details</a>
                  </div>
                </div>
                <div class="row h-100" *ngIf="!highlightedParcelDto">
                  <div class="col mt-4">
                    <h2 class="text-center">
                      Select a Parcel from the map or list to see Parcel Details
                    </h2>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container" *ngIf="!activeAccount">
    <ngb-alert [type]="'info'" [dismissible]="false" *ngIf="landownerHasAnyAccounts()">
      No account is selected. Select an account from the 'My Dashboards' menu or <a routerLink="/water-accounts">View
        your Water Accounts here.</a>
    </ngb-alert>
    <ngb-alert [type]="'info'" [dismissible]="false" *ngIf="!landownerHasAnyAccounts()">
      You do not have any assigned accounts.
    </ngb-alert>
  </div>
</ng-container>
<ng-template #loadingBlock>
  <div class="container">
    <i class="fa fa-spinner loading-spinner"></i> Loading
  </div>
</ng-template>