<nav aria-label="breadcrumb" *ngIf="parcel">
  <ol class="breadcrumb">
    <li class="breadcrumb-item" aria-current="page">
      <a routerLink="/parcels">Parcels</a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">
      {{parcel.ParcelNumber}}
    </li>
  </ol>
</nav>
<div class="container mt-sm-4" *ngIf="parcel">
  <h2 class="d-inline-block">
    {{parcel.ParcelNumber}}
  </h2>
  <app-alert-display></app-alert-display>
  <div class="row mt-4">
    <div class="col-sm-12 col-md-4">
      <div class="card">
        <div class="card-header">
          Basics
        </div>
        <div class="card-body">
          <dl class="row">
            <dt class="text-sm-right col-sm-5 col-xs-12">APN</dt>
            <dd class="col-sm-7 col-xs-12">
              {{parcel.ParcelNumber}}
            </dd>
          </dl>
          <dl class="row">
            <dt class="text-sm-right col-sm-5 col-xs-12">Area</dt>
            <dd class="col-sm-7 col-xs-12">
              {{parcel.ParcelAreaInAcres | number: '1.1-1'}} acres
            </dd>
          </dl>
          <dl class="row">
            <dt class="text-sm-right col-sm-5 col-xs-12">Account</dt>
            <dd class="col-sm-7 col-xs-12">
              <a *ngIf="getCurrentOwner() && getCurrentOwner().OwnerAccountID"
                routerLink="/accounts/{{getCurrentOwner().OwnerAccountID}}">{{getCurrentOwner().OwnerName}}</a>
              <span *ngIf="getCurrentOwner() && !getCurrentOwner().OwnerAccountID">{{getCurrentOwner().OwnerName}}</span>
              <em *ngIf="!getCurrentOwner()" class="text-muted">Not Set</em>
            </dd>
          </dl>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-8">
      <div class="card">
        <div class="card-header">
          Location
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-sm-12" *ngIf="parcel">
              <parcel-map mapID="parcelsMapForParcel" [selectedParcelIDs]="getSelectedParcelIDs()" mapHeight="500px">
              </parcel-map>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header">
          <a class="btn btn-rio btn-sm float-right"
            routerLink="/parcels/{{parcel.ParcelID}}/edit-annual-allocation">
            <span class="fas fa-edit"></span> Edit Allocation
          </a>
          Water Allocation and Usage
        </div>
        <div class="card-body">
          <p>All data is in units of acre-feet</p>
          <div class="table-responsive">
            <table class="table table-striped table-condensed">
              <thead>
                <tr>
                  <th>Year</th>
                  <th style="text-align: right">Native Yield</th>
                  <th style="text-align: right">Project Water</th>
                  <th style="text-align: right">Stored Water</th>
                  <th style="text-align: right">Reconciliation</th>
                  <th style="text-align: right">Total Allocation</th>
                  <th style="text-align: right">Total Usage</th>
                  <th style="text-align: right">Jan</th>
                  <th style="text-align: right">Feb</th>
                  <th style="text-align: right">Mar</th>
                  <th style="text-align: right">Apr</th>
                  <th style="text-align: right">May</th>
                  <th style="text-align: right">Jun</th>
                  <th style="text-align: right">Jul</th>
                  <th style="text-align: right">Aug</th>
                  <th style="text-align: right">Sep</th>
                  <th style="text-align: right">Oct</th>
                  <th style="text-align: right">Nov</th>
                  <th style="text-align: right">Dec</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let waterYear of waterYears">
                  <td>{{waterYear}}</td>
                  <td style="text-align: right">
                    {{getNativeYieldForYear(waterYear)}}</td>
                  <td style="text-align: right">
                    {{getProjectWaterForYear(waterYear)}}</td>
                  <td style="text-align: right">
                    {{getStoredWaterForYear(waterYear)}}</td>
                  <td style="text-align: right">
                    {{getReconciliationForYear(waterYear)}}</td>
                  <td style="text-align: right">
                    {{getTotalAllocationForYear(waterYear)}}</td>
                  <td style="text-align: right">{{getConsumptionForYear(waterYear)}}</td>
                  <td style="text-align: right" *ngFor="let month of months">
                    {{getConsumptionForYearAndMonth(waterYear, month)}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header">
          <a class="btn btn-rio btn-sm float-right" routerLink="/parcels/{{parcel.ParcelID}}/change-owner">
            <span class="fas fa-edit"></span> Change Parcel Owner
          </a>


          Parcel Ownership History
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-striped table-condensed">
              <thead>
                <tr>
                  <th>Owner Account</th>
                  <th style="text-align: right">Sale Date</th>
                  <th style="text-align: right">Effective Year</th>
                  <th style="text-align: right">Notes</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let parcelOwnershipRecord of parcelOwnershipHistory">
                
                  <td *ngIf="parcelOwnershipRecord.OwnerAccountID">
                    <a routerLink="/accounts/{{parcelOwnershipRecord.OwnerAccountID}}">{{parcelOwnershipRecord.OwnerName}}</a>
                  </td>
                
                  <td *ngIf="!parcelOwnershipRecord.OwnerAccountID">
                    {{parcelOwnershipRecord.OwnerName}}
                  </td>
                  <td style="text-align: right">
                   {{parcelOwnershipRecord.SaleDate}}</td>
                   <td style="text-align: right">
                    {{parcelOwnershipRecord.EffectiveYear}}</td>
                  <td style="text-align: right">
                    {{parcelOwnershipRecord.Note}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>