<div class="breadcrumb-container">
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
<li class="breadcrumb-item">
     <a routerLink="/">Home</a>
 </li>
                <li class="breadcrumb-item active" aria-current="page">Frequently Asked Questions</li>
            </ol>
        </nav>
    </div>
</div>
<!--RRB/EDF's names should not be configurated on this page-->
<div class="container mt-sm-4">
    <app-alert-display></app-alert-display>    
    <div class="row mb-2">
        <div class="col">
            <h2 class="d-inline-block">Frequently Asked Questions</h2>
        </div>
    </div>
    <div class="mt-2">
        <rio-custom-rich-text [customRichTextTypeID]="richTextTypeID"></rio-custom-rich-text>
    </div>
</div>