<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">Frequently Asked Questions</li>
    </ol>
</nav>
<div class="container">
    <app-alert-display></app-alert-display>    
    <div class="row mb-2">
        <div class="col">
            <h2 class="d-inline-block">Frequently Asked Questions</h2>
        </div>
    </div>
    <div class="row mb-2">
        <div class="col">
            <h4>Overview</h4>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="row">
                <div class="col offset-1">
                    <p><strong>Why was this platform developed?</strong></p>
                    <p>In 2014 the state of California passed the Sustainable Groundwater 
                        Management Act (SGMA) , which requires that each groundwater basin balance
                        their groundwater supply and demand. Rosedale-Rio Bravo Water Storage District
                        has developed an online water accounting platform to provide landowners access
                        to up-to-date information related to their water supply and consumptive use. 
                        Each landowner of record will be able to register on the platform using their
                        assessor’s parcel number (APN). The platform will enable landowners to make 
                        evaluate their use of water on their property and make informed decisions 
                        related to water supply and land use.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col offset-1">
                    <p><strong>Who can currently participate?</strong></p>
                    <p>Any landowner within the Rosedale service area may register to access their
                        information. The water accounting platform uses the parcel number as the basis
                        of the water budget or “account,” much like a bank account number. The platform
                        allows the registered landowner the ability to see information related to parcels they own.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col offset-1">
                    <p><strong>Is this intended to ever scale beyond the Rosedale service area?</strong></p>
                    <p>The platform was developed with open source software and the intent is to allow
                        other water districts within the region to utilize the platform. Rosedale believes
                        that the platform is an important part of SGMA compliance and that landowners will
                        make better decisions when provided the most up-to-date information related to water supply and demand.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col offset-1">
                    <p><strong>Who is involved in the development of this platform?</strong></p>
                    <p>The platform was developed in partnership and with funding assistance from
                        Environmental Defense Fund, with technical assistance from WestWater Research,
                        Sitka Technologies and Open ET.
                    </p>
                </div>
            </div>                
        </div>
    </div>
    <div class="row mb-2">
        <div class="col">
            <h4>Platform Functionality</h4>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="row">
                <div class="col offset-1">
                    <p><strong>How does the trading platform work?</strong></p>
                    <p><em>Sitka to draft</em>
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col offset-1">
                    <p><strong>How do I sign up?</strong></p>
                    <p><em>Sitka to draft</em>
                    </p>
                </div>
            </div>                    
        </div>
    </div>
    <div class="row mb-2">
        <div class="col">
            <h4>Water Accounting</h4>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <!-- <div class="row">
                <div class="col">
                    <p><strong>How are the supplies accounted for/initial allocations assigned?</strong></p>
                    <p><em>Eric or Christina to draft</em>
                    </p>
                </div>
            </div> -->
            <div class="row">
                <div class="col offset-1">
                    <p><strong>How is water use being tracked or accounted for?</strong></p>
                    <p>Water use is being tracked using satellite-derived estimates of evapotranspiration, provided
                        by the OpenET platform. <a routerLink="../measuring-water-use-with-openet" target="_blank">Learn more here</a>.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col offset-1">
                    <p><strong>Why OpenET?</strong></p>
                    <p>Rosedale-Rio Bravo chose to partner with OpenET because it is bringing some of the leading
                        scientists and most commonly used approaches for estimating ET together in one place, helping 
                        to create a shared basis for decision-making. The OpenET team is also significantly increasing 
                        access to ET data for individual farmers and landowners, giving them the opportunity to see the 
                        same data that water managers and regulators are using by providing low-cost, near real-time ET 
                        estimates through an inexpensive and easily accessible web platform.
                    </p>
                </div>
            </div>            
        </div>
    </div>    
</div>