<header-nav></header-nav>
<div style="height: auto; min-height: 100%;">
    <router-outlet></router-outlet>
</div>
<footer class="footer">
    <div class="container">
        <div class="row pt-2 pb-2">
            <div class="col-12 text-center mb-1">
                This Water Trading Platform is a collaborative effort by the Rosedale-Rio Bravo Water Storage District,
                Environmental Defense Fund , Westwater Research, and Sitka Technology Group.
            </div>
        </div>
        <div class="row">
            <div class="col-sm" style="text-align: center">
                <a href="https://www.rrbwsd.com/" alt="Rosedale-Rio Bravo Water Storage District">
                    <img src="assets/main/logos/rrbwsd_logo.png" style="height: 70px;">
                </a>
            </div>
            <div class="col-sm" style="text-align: center">
                <a href="https://www.edf.org/" alt="Environmental Defense Fund">
                    <img src="assets/main/logos/edf-transparent-logo.png" style="height: 70px;">
                </a>
            </div>
            <div class="col-sm" style="text-align: center">
                <a href="http://www.waterexchange.com/" alt="WestWater Research">
                    <img src="assets/main/logos/westwater_research_logo.jpg" style="height: 70px;">
                </a>
            </div>
            <div class="col-sm" style="text-align: center">
                <a href="https://sitkatech.com/" alt="Sitka Technology Group">
                    <img src="assets/main/logos/sitkatech-logo2x.width-600.png" style="height: 70px;">
                </a>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-12 text-center">
                The program is free software; you can redistribute it and/or modify it under the terms of the <a href="https://www.gnu.org/licenses/agpl-3.0.en.html">GNU Affero
                General Public License</a>.
                Source code is available on <a
                    href="https://github.com/sitkatech/rio">GitHub</a>. Please contact <a
                    href="mailto:support@sitkatech.com">support@sitkatech.com</a> with
                any questions about this project. </div>
            <div class="col-12 text-center mb-1">
                <p>Implementation & Hosting by <a href="http://sitkatech.com">Sitka Technology Group</a></p>
            </div>
        </div>
    </div>
</footer>