Create Table dbo.ApnAndOwner (
APN varchar(10),
OwnerName varchar(max)
)
GO

INSERT [dbo].[ApnAndOwner] ([APN], [OwnerName]) VALUES (10101007, N'FARMERS COOPERATIVE GIN INC')
GO
INSERT [dbo].[ApnAndOwner] ([APN], [OwnerName]) VALUES (10205017, N'FARMERS COOPERATIVE GIN INC')
GO
INSERT [dbo].[ApnAndOwner] ([APN], [OwnerName]) VALUES (10301018, N'AFFENTRANGER FARMS LLC')
GO

delete from dbo.AccountParcel

Insert into dbo.Account (AccountName, AccountStatusID, UpdateDate)
Select Distinct(OwnerName), 1, GETDATE()
From dbo.ApnAndOwner

Insert into dbo.AccountParcel(AccountID, PArcelID)
Select a.AccountID,  p.ParcelID from
dbo.ApnAndOwner aao inner join dbo.Parcel p on aao.APN = Replace( p.ParcelNumber, '-', '')
	join dbo.Account a on a.AccountName = aao.OwnerName

Drop table dbo.ApnAndOwner